<p-confirmDialog #cd>
	<p-footer>
		<button type="button" class="btn btn-accent m-btn m-btn--icon" (click)="cd.accept()">
			<span>
				<i class="la la-check"></i>
				<span>
					Yes
				</span>
			</span>
		</button>
		<button type="button" class="btn btn-secondary m-btn m-btn--icon" (click)="cd.reject()">
			<span>
				<i class="la la-close"></i>
				<span>
					No
				</span>
			</span>
		</button>
	</p-footer>
</p-confirmDialog>
<div>

<div class="m-subheader">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
				<li class="m-nav__item m-nav__item--home">
					<a href="#" class="m-nav__link m-nav__link--icon">
						<i class="m-nav__link-icon la la-home"></i>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a class="m-nav__link">
						<span class="m-nav__link-text">
							Suppliers
						</span>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a class="m-nav__link">
						<span class="m-nav__link-text">
							Master
						</span>
					</a>
				</li>
			</ul>
			
		</div>
		<div *ngIf="toggleDiv" class="m-form__actions m-form__actions--solid formTopActionBtnBox">
				<button type="submit" class="btn btn-accent m-btn m-btn--air m-btn--custom formTopActionBtn" form="supplierForm" [ngClass]="(supplierForm && !supplierForm.form.valid) ?'cursorNotAllowed':'cursorPointer'" title="{{(supplierForm && supplierForm.form.valid) ? 'Please fill in all the required fields' :  params ? 'Update' : 'Save'}}" [disabled]="supplierForm && !supplierForm.form.valid" [isAuthorize]="['supplier']">
						{{ params ? 'Update' : 'Save' }}
				</button>
				<button class="btn btn-secondary" [isAuthorize]="['supplier']" (click)="onCancel()">
						Cancel
				</button>
		</div>
	</div>
</div>
<!-- END: Subheader -->
<div class="m-content">

	<div class="row">
		<div class="col-lg-12">
		
			<div class="m-portlet">
				
				<div class="row">
				
				<div class="col-md-12" *ngIf="toggleDiv">
				
				
			<div class="row">
				
				<div class="col-md-12">
					
					
					<form class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed inputForm" role="form" novalidate (ngSubmit)="onSubmit(supplierForm)" #supplierForm="ngForm"  id="supplierForm">
						<div class="row">
								
									<div class="col-md-6">
										
										<div class="row">
											<div class="col-md-12">
												<!-- Basic Information -->
												<div class="panel panel-default">
												  <div class="panel-heading">Basic Information</div>
												  <div class="panel-body">	
													<div class="form-group">
														<label class="col-md-2 col-sm-2 fieldLabel">Code<span class="requiredField">*</span></label>
														<div class="col-md-4 col-sm-4">
															<input type="text" class="form-control"    [ngClass]="{'red-border-class': codeVal.errors && isFormSubmitted}"  #codeVal="ngModel" required [(ngModel)]="supplierObj.code" name="code"  placeholder="Code" id="code" >
															<!-- <div class="alertMsg" *ngIf="codeVal.errors && codeVal.errors.required   && (nameVal.dirty || nameVal.touched)">
																Please enter Suplier Name
															</div> -->
														</div>	
														
														<label class="col-md-2 col-sm-2 fieldLabel">Name<span class="requiredField">*</span></label>
														<div class="col-md-4 col-sm-4">
															<input type="text" class="form-control"  [ngClass]="{'red-border-class': nameVal.errors && isFormSubmitted}"  #nameVal="ngModel" required [(ngModel)]="supplierObj.name" name="name"  placeholder="Name" id="name" >
															<!-- <div class="alertMsg" *ngIf="nameVal.errors   && (nameVal.dirty || nameVal.touched)">
																Please enter Suplier Name
															</div> -->
														</div>
													</div>
													<div class="form-group">
														<label class="col-md-2 col-sm-2 fieldLabel">Email<span class="requiredField">*</span></label>
														<div class="col-md-4 col-sm-4">
															<input type="email" class="form-control" email    [ngClass]="{'red-border-class': emailVal.errors && isFormSubmitted}"   #emailVal="ngModel" required [(ngModel)]="supplierObj.email" name="email" placeholder="Email" maxlength="254">
															<!-- <div class="alertMsg" *ngIf="emailVal.errors && emailVal.errors.required && (emailVal.dirty || emailVal.touched)">
																Please enter Email
															</div> -->
															<div class="alertMsg" *ngIf="emailVal.errors && !emailVal.errors.required && emailVal.errors.email && emailVal.touched">
																Invalid Email
															</div>
														</div>	
														
														<label class="col-md-2 col-sm-2 fieldLabel">Firm Name<span class="requiredField">*</span></label>
														<div class="col-md-4 col-sm-4">
															<input type="text" class="form-control"    [ngClass]="{'red-border-class': firmNameVal.errors && isFormSubmitted}"  [(ngModel)]="supplierObj.firmName"  required  #firmNameVal="ngModel"   name="firmName" id="firmName"  placeholder="FirmName">
														</div>
													</div>
													<div class="form-group">
														<label class="col-md-2 col-sm-2 fieldLabel">Phone<span class="requiredField">*</span></label>
														<div class="col-md-4 col-sm-4">
															<input type="number" class="form-control"   [ngClass]="{'red-border-class': phoneVal.errors && isFormSubmitted}" [(ngModel)]="supplierObj.phone" name="phone" required #phoneVal="ngModel" placeholder="Phone" maxlength="10">
															<!-- <div class="alertMsg" *ngIf="phoneVal.errors && phoneVal.errors.required && (phoneVal.dirty || phoneVal.touched)">
																	Please enter Contact Number
																</div> -->
																<div class="alertMsg" *ngIf="phoneVal.errors && !phoneVal.errors.required  && phoneVal.errors.pattern && phoneVal.touched">
																	Please enter valid phone number
																</div>
														</div>
													</div>																							
													<div class="form-group">
														<label class="col-md-2 col-sm-2 fieldLabel">Description</label>
														<div class="col-md-10 col-sm-10">
															<input type="text" class="form-control"   [(ngModel)]="supplierObj.description" name="description" id="description" placeholder="Enter Description">
														</div>																						
													</div>
												  </div>
												</div>	
											</div>
										
										</div>
										
									</div>
									
									
									<div class="col-md-6">
										<div class="row">
											
											<div class="col-md-12">
												<!-- Contact Information -->
												<div class="panel panel-default">
												  <div class="panel-heading">Contact Information</div>
												  <div class="panel-body">
													<div class="table-responsive">
														<table class="table formInfotable">
															<thead>
															  <tr>
																<td></td>													
																<td>Name<span class="requiredField">*</span></td>
																<td>Email<span class="requiredField">*</span></td>
																<td>Phone<span class="requiredField">*</span></td>																
															  </tr>
															</thead>
															<tbody>
																<tr>
																	<td>
																		<b>Account</b>
																	</td>
																	<td>
																		<input type="text" class="form-control" [(ngModel)]="supplierObj.accountPersonName" [ngClass]="{'red-border-class': accountPersonNameVal.errors && isFormSubmitted}"   required  name="accountPersonName" id="accountPersonName"  #accountPersonNameVal="ngModel"  placeholder="AccountPersonName">
																	</td>
																	<td>
																		<input type="email" class="form-control"  required  email  #accountPersonEmailVal="ngModel"   [ngClass]="{'red-border-class': accountPersonEmailVal.errors && isFormSubmitted}"  [(ngModel)]="supplierObj.accountPersonEmail" name="accountPersonEmail" placeholder="AccountPersonEmail" maxlength="254">
																		<div class="alertMsg" *ngIf="accountPersonEmailVal.errors && !accountPersonEmailVal.errors.required && accountPersonEmailVal.errors.email && accountPersonEmailVal.touched">
																			Invalid Email
																		</div>	
																	</td>													
																	<td>
																		<input type="number" class="form-control"  #accountPersonPhoneVal="ngModel" onKeyPress="if(this.value.length==10) return false;" [ngClass]="{'red-border-class': accountPersonPhoneVal.errors && isFormSubmitted}"  required [(ngModel)]="supplierObj.accountPersonPhone" name="accountPersonPhone" placeholder="" maxlength="10">
																			<div class="alertMsg" *ngIf="accountPersonPhoneVal.errors && !accountPersonPhoneVal.errors.required && accountPersonPhoneVal.errors.pattern && accountPersonPhoneVal.touched">
																				Please enter valid phone number
																			</div>
																	</td>
																</tr>
																<tr>
																	<td>
																		<b>Dispatch</b>
																	</td>
																	<td>
																		<input type="text" class="form-control"  required [(ngModel)]="supplierObj.dispatchPersonName"  [ngClass]="{'red-border-class': dispatchPersonNameVal.errors && isFormSubmitted}"  #dispatchPersonNameVal="ngModel"  name="dispatchPersonName" id="dispatchPersonName" placeholder="DispatchPersonName">
																		<div class="alertMsg" *ngIf="dispatchPersonNameVal.errors && dispatchPersonNameVal.errors.required && dispatchPersonNameVal.errors.touched">
																			Please enter Dispatch Person Name
																		</div>		
																	</td>
																	<td>
																		<input type="email" class="form-control" email required [(ngModel)]="supplierObj.dispatchPersonEmail"  [ngClass]="{'red-border-class': dispatchPersonEmailVal.errors && isFormSubmitted}"  name="dispatchPersonEmail"   #dispatchPersonEmailVal="ngModel" placeholder="DispatchPersonEmail" maxlength="15">
																		<div class="alertMsg" *ngIf="dispatchPersonEmailVal.errors && !dispatchPersonEmailVal.errors.required && dispatchPersonEmailVal.errors.email && dispatchPersonEmailVal.touched">
																			Invalid Email
																		</div>				
																	</td>													
																	<td>
																		<input type="number" class="form-control"  required [(ngModel)]="supplierObj.dispatchPersonPhone" onKeyPress="if(this.value.length==10) return false;" [ngClass]="{'red-border-class': dispatchPersonPhoneVal.errors && isFormSubmitted}"  name="dispatchPersonPhone"   #dispatchPersonPhoneVal="ngModel" placeholder="" maxlength="15">
																		<div class="alertMsg" *ngIf="dispatchPersonPhoneVal.errors && !dispatchPersonPhoneVal.errors.required && dispatchPersonPhoneVal.errors.pattern && dispatchPersonPhoneVal.touched">
																			Please enter valid phone number
																		</div>	
																	</td>
																</tr>
																<tr>
																	<td>
																		<b>Warehouse</b>
																	</td>
																	<td>
																		<input type="text" class="form-control" required [(ngModel)]="supplierObj.warehousePersonName"  [ngClass]="{'red-border-class': warehousePersonNameVal.errors && isFormSubmitted}" name="warehousePersonName" id="warehousePersonName"   #warehousePersonNameVal="ngModel" placeholder="WarehousePersonName">
																	</td>
																	<td>
																		<input type="email" class="form-control" email   [ngClass]="{'red-border-class': warehousePersonEmailVal.errors && isFormSubmitted}" [(ngModel)]="supplierObj.warehousePersonEmail" name="warehousePersonEmail" placeholder="WarehousePersonEmail"  #warehousePersonEmailVal="ngModel"  maxlength="254">
																		<div class="alertMsg" *ngIf="warehousePersonEmailVal.errors && !warehousePersonEmailVal.errors.required && warehousePersonEmailVal.errors.email && warehousePersonEmailVal.touched">
																			Invalid Email
																		</div>	
																	</td>													
																	<td>
																		<input type="number" class="form-control"  required onKeyPress="if(this.value.length==10) return false;"  [ngClass]="{'red-border-class': warehousePersonPhoneVal.errors && isFormSubmitted}"  [(ngModel)]="supplierObj.warehousePersonPhone" name="warehousePersonPhone"   #warehousePersonPhoneVal="ngModel" placeholder="" maxlength="15">
																			<div class="alertMsg" *ngIf="warehousePersonPhoneVal.errors && !warehousePersonPhoneVal.errors.required && warehousePersonPhoneVal.errors.pattern && warehousePersonPhoneVal.touched">
																				Please enter valid phone number
																			</div>
																	</td>
																</tr>
															  
															</tbody>
														  </table>
													</div>	
													
												  </div>
												</div>
											</div>
										</div>
										
									
									</div>
									
						</div>
						<div class="row">
							<div class="col-md-12">
										<div class="panel panel-default">
										  <div class="panel-heading">Supplier Address Details</div>
										  <div class="panel-body addressTablePanelBody">
											
												<div class="table-responsive">
													<table class="table formAddressTable">
														<thead>
														  <tr>
															<th>Address 1<span class="requiredField">*</span></th>	
															<th>Address 2<span class="requiredField">*</span></th>	
															<th>GST<span class="requiredField">*</span></th>	
															<th>PIN<span class="requiredField">*</span></th>										
															<th>State<span class="requiredField">*</span></th>
															<th>City<span class="requiredField">*</span></th>
															<th>Is Primary?</th>															
															<th></th>
														  </tr>
														</thead>
														<tbody>
															<tr  *ngFor="let supAdd of supplierObj.MstSupplierAddresses;let rowNum=index;let lastRowNum=last">
																<td>
																 <input type="text" class="form-control"  [(ngModel)]="supAdd.addressLine1" name="{{'address'+supAdd.contRoleId}}"/>
																 <div class="alertMsg" *ngIf="supAdd.invalidAddressLine1">
																		Please enter AddressLine1
																</div>
																</td>
																<td>
																	<input type="text" class="form-control"  [(ngModel)]="supAdd.addressLine2" name="{{'addressLine2'+supAdd.contRoleId}}"/>
																	<div class="alertMsg" *ngIf="supAdd.invalidAddressLine2">
																			Please enter AddressLine2
																	</div>
																</td>
																<td>
																	<input class="form-control" type="number" onKeyPress="if(this.value.length==15) return false;" [(ngModel)]="supAdd.gstin" name="{{'gstin'+supAdd.contRoleId}}" maxlength="15">
																		<div class="alertMsg" *ngIf="supAdd.invalidGstin">
																			Please enter gstin
																		</div>
																</td>
																<td>
																	<input type="text" class="form-control" onKeyPress="if(this.value.length==6) return false;" name="{{'pin'+supAdd.contRoleId}}"  [(ngModel)]="supAdd.pin" maxlength="6"/>
																	<div class="alertMsg" *ngIf="supAdd.invalidPin">
																			Please enter pin
																		</div>
																</td>
																<td>
																	<p-dropdown class="feePlanBox" [options]="states" [style]="{'width':'100%'}" [(ngModel)]="supAdd.state" name="{{'stateDDL'+supAdd.contRoleId}}"></p-dropdown>
																	<div class="alertMsg" *ngIf="supAdd.invalidState">
																			Please select state
																		</div>
																</td>
																<td>
																	<input type="text" class="form-control"  name="{{'city'+supAdd.contRoleId}}" [(ngModel)]="supAdd.city"/>
																	<div class="alertMsg" *ngIf="supAdd.invalidCity">
																			Please enter city
																		</div>	
																</td>	
																<td>
																	<input type="radio" class="formCheckbox"  [(ngModel)]="supAdd.isPrimary" [value]="true" name="{{'isPrimary'+supAdd.contRoleId}}"/>
																</td>	
																<td>
																	<i class="fa fa-plus addBtnIcon"  aria-hidden="true"   *ngIf="lastRowNum" (click)="addNewAddress(supAdd)" ></i>
																	<i class="fa fa-trash removeBtnIcon"  aria-hidden="true"  *ngIf="!lastRowNum||rowNum>0" (click)="clearAddress(rowNum)" ></i>
																</td>
															</tr>
														</tbody>
													  </table>
												</div>
									
										  </div>
										</div>
								</div>		
						</div>	
								
								
								<!-- <div class="formSubmitBtnBox">
									<div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
										<div class="m-form__actions m-form__actions--solid">
											<div class="row">
												<div class="col-lg-6">
													<button type="submit" class="btn btn-accent m-btn m-btn--air m-btn--custom" [ngClass]="supplierForm.invalid ?'cursorNotAllowed':'cursorPointer'" title="{{ supplierForm.invalid ? 'Please fill in all the required fields' :  params ? 'Update' : 'Save'}}" [disabled]="supplierForm.invalid" [isAuthorize]="['supplier']">
															{{ params ? 'Update' : 'Save' }}
													</button>
													<button class="btn btn-secondary" [isAuthorize]="['supplier']" (click)="onCancel()">
															Cancel
													</button>
												</div>
											</div>
										</div>
									</div>
								</div> -->
					</form>
				
					
				</div>
			</div>
		
					


				</div>
			</div>
				<div class="m-portlet__body">
					<!--begin::Section-->
					
					<div class="m-section">
						<div class="m-section__content">
								<div class="ui-widget-header" style="border-bottom: 0 none">
										<i class="fa fa-search searchIcon"></i>
										<input #gb type="text" pInputText size="50" placeholder="Search" class="form-control siteSearchbox">
										
										<!-- Add Button -->
										<button  *ngIf="!toggleDiv" class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--air m-btn--pill btnAddForm" (click)="toggleButton()" [isAuthorize]="['supplier']">
											<span>
												<i class="flaticon-add"></i>
												<span>
													Add Supplier
												</span>
											</span>
										</button>
									</div>
							<p-dataTable [value]="supplierList" class="table listingTable" [rows]="pageSize" [globalFilter]="gb" #dt [lazy]="true" [paginator]="true"  [rowsPerPageOptions]="[20,50,100,200,500]"
							[totalRecords]="totalCount" (onLazyLoad)="loadLazy($event)">
                                <p-column field="name" header="Name" [style]="{'text-align':'left'}"></p-column>
                                <p-column field="email" header="Email" [style]="{'text-align':'left'}"></p-column>
                                <p-column field="phone" header="Phone" [style]="{'text-align':'center'}"></p-column>
                                <p-column field="firmName" header="Firm Name" [style]="{'text-align':'left'}"></p-column>
                                <p-column field="code" header="Code" [style]="{'text-align':'left'}"></p-column>
                                <p-column field="mstSupplierAddresses" header="GST" [style]="{'text-align':'center'}">
									<ng-template let-data="rowData"  pTemplate="body">
										<span *ngFor="let item of data.mstSupplierAddresses">{{ item.gstin }} <br/></span>
									</ng-template>
								</p-column>
								<p-column styleClass="col-button" [style]="{'text-align':'center'}">
									<ng-template pTemplate="header">
										Action
									</ng-template>
									<ng-template let-row="rowData" pTemplate="body" >
										<button type="button" pButton (click)="onEditClick(row)" icon="fa fa-pencil" class="editBtn" title="Edit"></button>
										<button type="button" pButton (click)="onDelete(row)" icon="fa fa-trash-o" class="delBtn" title="Delete"></button>
									</ng-template>
								</p-column>
							</p-dataTable>
						</div>
					</div>
					<!--end::Section-->
				</div>
			</div>
		
		</div>
</div>

</div>