<p-confirmDialog #cd>
	<p-footer>
		<button type="button" class="btn btn-accent m-btn m-btn--icon" (click)="cd.accept()">
			<span>
				<i class="la la-check"></i>
				<span>
					Yes
				</span>
			</span>
		</button>
		<button type="button" class="btn btn-secondary m-btn m-btn--icon" (click)="cd.reject()">
			<span>
				<i class="la la-close"></i>
				<span>
					No
				</span>
			</span>
		</button>
	</p-footer>
</p-confirmDialog>

<div class="m-subheader">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
				<li class="m-nav__item m-nav__item--home">
					<a href="#" class="m-nav__link m-nav__link--icon">
						<i class="m-nav__link-icon la la-home"></i>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a class="m-nav__link">
						<span class="m-nav__link-text">
							Material Quotation
						</span>
					</a>
				</li>
			</ul>
		</div>
		<div class="m-form__actions m-form__actions--solid formTopActionBtnBox">
			<button type="submit" class="topBtn btn btn-success" *ngIf="adminFlag && trnMaterialQuotationObj.status == 'Created'" [isAuthorize]="['materialquotation']" title="Approve" (click)="onApprove()" tabindex="7">
				Approve
			</button>
			<button type="submit" class="topBtn btn btn-error" *ngIf="adminFlag && trnMaterialQuotationObj.status == 'Created'" [isAuthorize]="['materialquotation']" title="Cancel MQ" (click)="onCancelMQ()" tabindex="8">
				Cancel MQ
			</button>
			<button type="submit" *ngIf="viewItem" class="btn btn-accent m-btn m-btn--air m-btn--custom formTopActionBtn" form="trnMaterialQuotationForm"
			 title="{{(trnMaterialQuotationForm && trnMaterialQuotationForm.form.valid) ? 'Please fill in all the required fields' :  params ? 'Update' : 'Save'}}"
			 [isAuthorize]="['materialquotation']" tabindex="5">
				{{ params ? 'Update' : 'Save' }}
			</button>
			<button class="btn btn-secondary" [isAuthorize]="['materialquotation']" (click)="onCancel()" tabindex="6">
				Cancel
			</button>
		</div>
	</div>
</div>
<!-- END: Subheader -->
<div class="m-content">
	<div class="row">
		<div class="col-lg-12">
			<!--begin::Portlet-->
			<div class="m-portlet">

				<!--++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->

				<div class="row">

					<div class="col-md-12">

						<div class="formContainerSamePage">
							<form class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed inputForm" role="form" novalidate
							 (ngSubmit)="onSubmit(trnMaterialQuotationForm)" #trnMaterialQuotationForm="ngForm" id="trnMaterialQuotationForm">
								<div class="row">

									<div class="col-md-12">

										<div class="row">
											<div class="col-md-12">
												<!-- Basic Details -->
												<div class="panel panel-default">
													<div class="panel-heading">Basic Details</div>
													<div class="panel-body">

														<div class="row form-group">

															<div class="col-md-6">
																<div class="row">
																	<div class="col-md-6">
																		<label class="col-md-4 col-sm-4 fieldLabel">Date</label>
																		<div class="col-md-8 col-sm-8">
																			<p-calendar class="purchaseOrderDate" #materialQuotationDateVal="ngModel" [(ngModel)]="trnMaterialQuotationObj.materialQuotationDate"
																			 name="materialQuotationDate" [monthNavigator]="true" [yearNavigator]="true" tabindex="1" [disabled]="!viewItem"
																			 yearRange="2015:2030" dateFormat="dd/mm/yy" styleClass="{{ materialQuotationDateVal.errors && isFormSubmitted?'red-border-class':''}}"
																			 autofocus required></p-calendar>
																		</div>
																	</div>
																	<div class="col-md-6">
																		<label class="col-md-5 col-sm-5 fieldLabel noPadding">Material Quotation No.</label>
																		<div class="col-md-7 col-sm-7">
																			<input type="text" [(ngModel)]="trnMaterialQuotationObj.materialQuotationNumber" name="materialQuotationNumber" class="form-control"
																			 #orderNoVal="ngModel" disabled tabindex="2" placeholder="">
																		</div>
																	</div>
																</div>
															</div>
															<div class="col-md-6">
																<label class="col-md-2 col-sm-2 fieldLabel">Customer<span class="requiredField">*</span>
																</label>
																<div class="col-md-10 col-sm-10 customerNameBox">
																	<p-dropdown class="feePlanBox" [options]="customerList" [style]="{'width':'100%'}" #selectedCustomerVal="ngModel" [(ngModel)]="trnMaterialQuotationObj.customerId"
																	 required styleClass="{{ selectedCustomerVal.errors && isFormSubmitted?'red-border-class':''}}" name="customer"
																	 [disabled]="isMatSelectionId || disabled" (ngModelChange)="onCustomerChange()" filter="true" tabindex="3"></p-dropdown>
																</div>
															</div>

														</div>
														<div class="row form-group">
															<div class="col-md-3">
																<label class="col-md-4 col-sm-4 fieldLabel">Referred By
																</label>
																<div class="col-md-8 col-sm-8">
																	<p-dropdown class="feePlanBox" [options]="agentList" [disabled]="!status" [style]="{'width':'100%'}" [(ngModel)]="trnMaterialQuotationObj.referById"
																	 name="agent" filter="true" tabindex="4"></p-dropdown>
																</div>
															</div>
															<div class="col-md-3">
																<label class="col-md-4 col-sm-4 fieldLabel ">Total Amount</label>
																<div class="col-md-8 col-sm-8">
																	<input type="number" [(ngModel)]="trnMaterialQuotationObj.totalAmount" name="totalAmount" class="form-control" disabled placeholder="">
																</div>
															</div>
														</div>
													</div>
												</div>


											</div>

										</div>


										<div class="row">
											<div class="col-md-12">
												<div class="panel panel-default">
													<div class="panel-heading">Item Details</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</form>
							<div class="row">
								<div class="col-md-12">
									<p-dataTable [value]="trnMaterialQuotationItems" [editable]="true" [emptyMessage]="tableEmptyMesssage" [paginator]="true"
									 [rows]="100" [headerCheckboxToggleAllPages]="true" class="table listingTable">
										<p-column field="selectionType" header="Selection Type" [editable]="false" [style]="{'text-align':'left'}"></p-column>
										<p-column field="area" header="Area" [editable]="false" [style]="{'text-align':'left'}"></p-column>
										<p-column field="categoryName" header="Category" [editable]="false" [style]="{'text-align':'left'}"></p-column>
										<p-column field="collectionName" header="Collection" [editable]="false" [style]="{'text-align':'left'}"></p-column>
										<p-column header="Sr. No. / Size" [editable]="false" [style]="{'text-align':'left'}">
											<ng-template let-row="rowData" pTemplate="body">
												<span> {{row.serialno}} {{row.size}}</span>
											</ng-template>
										</p-column>
										<p-column field="orderQuantity" header="Or. Quantity" [editable]="isMatSelectionId || trnMaterialQuotationObj.status == 'Created'" [style]="{'text-align':'center'}">
											<ng-template let-col let-row="rowData" pTemplate="editor">
												<input class="form-control" OnlyNumber="true" DecimalPlaces="0" autocomplete="off" minValue="0" maxValue="999" [(ngModel)]="row[col.field]"
												 name="orderQuantity" (blur)="changeOrderType(row)">
											</ng-template>
										</p-column>
										<p-column field="discountPercentage" header="Disc. %" [editable]="isMatSelectionId || trnMaterialQuotationObj.status == 'Created'" [style]="{'text-align':'center'}">
											<ng-template let-col let-row="rowData" pTemplate="editor">
												<input class="form-control" OnlyNumber="true" DecimalPlaces="0" autocomplete="off" minValue="0" maxValue="999" [(ngModel)]="row[col.field]"
												 name="discountPercentage" (blur)="changeOrderType(row)">
											</ng-template>
										</p-column>
										<p-column field="orderType" header="Or. Type" [editable]="false" [style]="{'text-align':'center'}"></p-column>
										<p-column field="rate" header="rate" [editable]="false"></p-column>
										<p-column field="gst" header="gst %" [editable]="false" [style]="{'text-align':'center'}"></p-column>
										<p-column field="amountWithGST" header="amount(GST)" [editable]="false" [style]="{'text-align':'right'}"></p-column>
									</p-dataTable>
								</div>
							</div>
						</div>

					</div>
				</div>


				<!--++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
			</div>
			<!--end::Portlet-->
		</div>
	</div>
</div>