<div class="m-subheader">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
				<li class="m-nav__item m-nav__item--home">
					<a href="#" class="m-nav__link m-nav__link--icon">
						<i class="m-nav__link-icon la la-home"></i>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a class="m-nav__link">
						<span class="m-nav__link-text">
							Tax Invoice
						</span>
					</a>
				</li>
			</ul>
		</div>

		<div class="m-form__actions m-form__actions--solid formTopActionBtnBox" style="float:right">
			<button class="topBtn btn btn-info" (click)="print()" tabindex="5">print</button>
			<button class="btn btn-secondary" [isAuthorize]="['customerLogin']" (click)="onCancel()" tabindex="4">
				Cancel
			</button>
		</div>
	</div>
</div>
<div class="m-content">
	<div class="row">
		<div class="col-lg-12">
			<!--begin::Portlet-->
			<div class="m-portlet">

				<!--++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->

				<div class="row">

					<div class="col-md-12">

						<div class="invoiceMainBox" id="invoiceMainBox">
							<!-- <h3 class="invoiceMainHeading">Tax Invoice</h3> -->
							<div class="checkboxContainer">
								Paid: &nbsp;&nbsp; {{trnSalesInvoiceObj.isPaid ? "Yes" : "No"}}
							</div>
							<form class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed inputForm" role="form" novalidate
							 (ngSubmit)="onSubmit(trnSalesInvoice)" #trnSalesInvoice="ngForm" id="trnSalesInvoice">
								<div class="row">
									<div class="col-md-6">
										<div class="invoiceAddressBox">
											<h4>{{trnSalesInvoiceObj["mstCompanyInfo"] ? trnSalesInvoiceObj["mstCompanyInfo"]["companyName"] : ""}}</h4>
											<p>
												{{trnSalesInvoiceObj["mstCompanyInfo"] ? trnSalesInvoiceObj["mstCompanyInfo"]["address1"] : ""}}
											</p>
											<p>
												{{trnSalesInvoiceObj["mstCompanyInfo"] ? trnSalesInvoiceObj["mstCompanyInfo"]["address2"] : ""}},{{trnSalesInvoiceObj["mstCompanyInfo"]
												? trnSalesInvoiceObj["mstCompanyInfo"]["city"] : ""}}
											</p>
											<p>
												PH. {{trnSalesInvoiceObj["mstCompanyInfo"] ? trnSalesInvoiceObj["mstCompanyInfo"]["phone"] : ""}}
											</p>
											<p>
												GSTIN/UIN: {{trnSalesInvoiceObj["mstCompanyInfo"] ? trnSalesInvoiceObj["mstCompanyInfo"]["gstin"] : ""}}
											</p>
											<p>
												State Name : {{"Maharashtra"}}, Code : {{"27"}}
											</p>
											<p>
												E-Mail : {{trnSalesInvoiceObj["mstCompanyInfo"] ? trnSalesInvoiceObj["mstCompanyInfo"]["email"] : ""}}
											</p>
										</div>

										<div class="invoiceAddressBox">
											<h5>Buyer</h5>
											<h4>{{trnSalesInvoiceObj["trnSaleOrder"] ? trnSalesInvoiceObj["trnSaleOrder"]["mstCustomer"]["name"] : trnSalesInvoiceObj["trnMaterialQuotation"]
												? trnSalesInvoiceObj["trnMaterialQuotation"]["mstCustomer"]["name"] : ""}}
											</h4>
											<p>
												{{customerShippingAddress["addressLine1"]}} {{ customerShippingAddress["addressLine2"]}}, {{customerShippingAddress["state"]}},
												{{customerShippingAddress["city"]}}, PINCODE - {{customerShippingAddress["pin"] }}
											</p>
											<p>
												MOB-{{trnSalesInvoiceObj["trnSaleOrder"] ? trnSalesInvoiceObj["trnSaleOrder"]["mstCustomer"]["phone"] : trnSalesInvoiceObj["trnMaterialQuotation"]
												? trnSalesInvoiceObj["trnMaterialQuotation"]["mstCustomer"]["phone"] : ""}}
											</p>
											<p>
												GSTIN/UIN : {{customerShippingAddress["gstin"]}}
											</p>
											<p>
												State Name : {{customerShippingAddress["state"]}}
											</p>
											<p>
												E-Mail : {{trnSalesInvoiceObj["trnSaleOrder"] ? trnSalesInvoiceObj["trnSaleOrder"]["mstCustomer"]["email"] : trnSalesInvoiceObj["trnMaterialQuotation"]
												? trnSalesInvoiceObj["trnMaterialQuotation"]["mstCustomer"]["email"] : ""}}
											</p>
										</div>

									</div>
									<div class="col-md-6">
										<div class="invoiceStatBox">
											<div class="row">
												<div class="col-md-6">
													<div class="invoiceStatContainer">
														<h5>Invoice No.</h5>
														<h4>{{trnSalesInvoiceObj.invoiceNumber}}</h4>
													</div>
												</div>

												<div class="col-md-6">
													<div class="invoiceStatContainer">
														<h5>Dated</h5>
														<h4>{{trnSalesInvoiceObj.invoiceDate | date: 'dd/MM/yyyy'}}</h4>
													</div>
												</div>

												<div class="col-md-6">
													<div class="invoiceStatContainer">
														<h5>Delivery Note</h5>
														<h4>{{trnSalesInvoiceObj["trnSaleOrder"] ? trnSalesInvoiceObj["trnSaleOrder"]["orderNumber"] : trnSalesInvoiceObj["trnMaterialQuotation"]
															? trnSalesInvoiceObj["trnMaterialQuotation"]["materialQuotationNumber"] : ""}}/{{trnSalesInvoiceObj["trnGoodIssueNote"]
															? trnSalesInvoiceObj["trnGoodIssueNote"]["ginNumber"] : ""}}</h4>
													</div>
												</div>

												<div class="col-md-6">
													<div class="invoiceStatContainer">
														<h5>Mode/Terms of Payment</h5>
														<h4>{{trnSalesInvoiceObj["trnSaleOrder"] ? trnSalesInvoiceObj["trnSaleOrder"]["paymentMode"] : ""}}</h4>
													</div>
												</div>

												<div class="col-md-6">
													<div class="invoiceStatContainer">
														<h5>Buyer's Order No.</h5>
														<label>{{trnSalesInvoiceObj.buyersOrderNumber}}</label>
													</div>
												</div>

												<div class="col-md-6">
													<div class="invoiceStatContainer">
														<h5>Dated</h5>
														<h4>{{trnSalesInvoiceObj["trnSaleOrder"] ? (trnSalesInvoiceObj["trnSaleOrder"]["orderDate"] | date: 'dd/MM/yyyy')
															: trnSalesInvoiceObj["trnMaterialQuotation"] ? (trnSalesInvoiceObj["trnMaterialQuotation"]["materialQuotationDate"]
															| date: 'dd/MM/yyyy') : ""}}</h4>
													</div>
												</div>

												<div class="col-md-6">
													<div class="invoiceStatContainer">
														<h5>Dispatch Document No.</h5>
														<label>{{trnSalesInvoiceObj.courierDockYardNumber}}</label>
													</div>
												</div>

												<div class="col-md-6">
													<div class="invoiceStatContainer">
														<h5>Payment Due Date</h5>
														<h4>{{trnSalesInvoiceObj.expectedDeliveryDate | date: 'dd/MM/yyyy'}}</h4>
													</div>
												</div>

												<div class="col-md-6">
													<div class="invoiceStatContainer">
														<h5>Dispatched through</h5>
														<h4>{{trnSalesInvoiceObj["trnSaleOrder"] ? trnSalesInvoiceObj["trnSaleOrder"]["mstCourier"]["name"] : ""}}</h4>
													</div>
												</div>

												<div class="col-md-6">
													<div class="invoiceStatContainer">
														<h5>Courier Mode</h5>
														<h4>{{trnSalesInvoiceObj["trnSaleOrder"] ? trnSalesInvoiceObj["trnSaleOrder"]["courierMode"] : ""}}</h4>
													</div>
												</div>

												<!-- <div class="col-md-6">
												<div class="invoiceStatContainer" *ngFor="let address of customerAddresses">
													<h5>Courier Mode</h5>
													<h4>{{address.city}}</h4>
												</div>
											</div> -->

												<div class="col-md-12">
													<div class="invoiceStatContainer">
														<h5>Terms of Delivery</h5>

													</div>
												</div>



											</div>
										</div>
									</div>
								</div>

								<!-- Table -->
								<!-- <div class="row">
								<div class="col-md-12">
										<p-dataTable  [value]="trnSalesInvoiceObj.trnSalesInvoiceItems" [emptyMessage]="tableEmptyMesssage" class="table listingTable">
                                            <p-column field="categoryName" header="Description of Goods" [editable]="false"></p-column>
                                            <p-column field="hsnCode" header="HSN/SAC" ></p-column>
                                            <p-column field="gst" header="GST Rate"></p-column>
                                            <p-column field="quantity" header="Quantity" ></p-column>
                                            <p-column field="rate" header="Rate" [editable]="false"></p-column>
                                            <p-column field="uom" header="per" [editable]="false"></p-column>
                                            <p-column field="discountPercentage" header="Dis.%" [editable]="false"></p-column>
                                            <p-column field="amount" header="Amount" [editable]="false"></p-column> -->
								<!-- <p-column  header="Serial No/Size/Accessory">
                                                    <ng-template let-row="rowData" pTemplate="body">
                                                        <span > {{row.serialno}} {{row.size}} {{row.accessoryName}}</span>
                                                    </ng-template>
                                                </p-column>
                                            <p-column field="orderQuantity" header="Order Quantity" [editable]="false"></p-column> -->

								<!-- </p-dataTable>
								</div>
							</div> -->
								<div class="table-responsive">
									<table class="table invoiceItemTable table-bordered">
										<thead>
											<tr>
												<th style="width:4%;">Sr.No.</th>
												<th style="width:50%;text-align:center;">Description of Goods</th>
												<th style="width:8%;">HSN/SAC</th>
												<th style="width:8%;text-align:center;">GST Rate</th>
												<th style="text-align:center;width:5%;">Quantity</th>
												<th style="text-align:center;">Rate</th>
												<th style="text-align:center;">Per</th>
												<th>Disc.%</th>
												<th>Amount</th>
											</tr>
										</thead>
										<tbody>
											<tr *ngFor="let trnSalesInvoiceItem of trnSalesInvoiceObj.trnSalesInvoiceItems; let i=index;">
												<td>{{i+1}}</td>
												<td>
													<b>{{trnSalesInvoiceItem.categoryName}} {{trnSalesInvoiceItem.mstCollection ? trnSalesInvoiceItem.mstCollection.collectionCode : ""}} {{trnSalesInvoiceItem.serialno}} {{trnSalesInvoiceItem.size}} {{trnSalesInvoiceItem.matSizeCode}} {{trnSalesInvoiceItem.accessoryName}} 
															
													</b>
												</td>
												<td class="alignCenter" style="text-align:left;">{{trnSalesInvoiceItem.hsnCode}}</td>
												<td class="alignRight" style="text-align:center;">{{trnSalesInvoiceItem.gst}}%</td>
												<td class="alignRight" style="text-align:center;">
													<b>{{trnSalesInvoiceItem.quantity}}</b>
												</td>
												<td class="alignRight" style="text-align:center;">{{trnSalesInvoiceItem.rate | number:'.0'}}</td>
												<td style="text-align:center;">{{trnSalesInvoiceItem.uom}} {{trnSalesInvoiceItem.mstAccessory? trnSalesInvoiceItem.mstAccessory.mstUnitOfMeasure?
													trnSalesInvoiceItem.mstAccessory.mstUnitOfMeasure.uomCode:'':''}}
												</td>
												<td class="alignRight" style="text-align:left;">{{trnSalesInvoiceItem.discountPercentage || 0}}</td>
												<td class="alignRight">
													<b>{{trnSalesInvoiceItem.amount | number:'.0'}}</b>
												</td>
											</tr>
											<tr class="gstRow">
												<td></td>
												<td class="gstCell">CGST-ALL</td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
												<td class="alignRight">
													<b>{{gstAll>0 ? ((gstAll/2) | number:'.0') : 0}}</b>
												</td>
											</tr>
											<tr class="gstRow">
												<td></td>
												<td class="gstCell">SGST-ALL</td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
												<td class="alignRight">
													<b>{{gstAll>0 ? ((gstAll/2) | number:'.0') : 0}}</b>
												</td>
											</tr>
											<tr class="gstRow">
												<td></td>
												<td class="gstCell">IGST-ALL</td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
												<td class="alignRight">
													<b>{{iGstAll>0 ? (iGstAll | number:'.0') : 0}}</b>
												</td>
											</tr>
											<tr class="totalRow">
												<td></td>
												<td class="alignRight">Total</td>
												<td></td>
												<td></td>
												<td class="alignRight" style="text-align:center;">
													<b>{{invoiceItemQuantityTotal}}</b>
												</td>
												<td></td>
												<td></td>
												<td></td>
												<td class="alignRight">
													<b>INR {{trnSalesInvoiceObj.totalAmount | number:'.0'}}</b>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</form>
							<!-- Amount in words -->
							<div class="amountWordsBox">
								<h5>Amount Chargeable (in words)
									<span>E. & O.E</span>
								</h5>
								<h4>INR {{numberToWordConversion ? (numberToWordConversion | titlecase) : ''}}</h4>
							</div>

							<!-- Tax Table -->
							<div class="table-responsive">

								<table class="table table-bordered invoiceItemTable invoiceTaxTable">
									<thead>
										<tr>
											<th class="alignRight" rowspan="2" style="width:55%;">Taxable Value</th>
											<th colspan="2" class="alignCenter">Central Tax</th>
											<th colspan="2" class="alignCenter">State Tax</th>
											<th colspan="2" class="alignCenter">Integral Tax</th>
											<th rowspan="2">Total Tax Amount</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td></td>
											<td class="boldTD alignCenter">Rate</td>
											<td class="boldTD alignCenter">Amount</td>
											<td class="boldTD alignCenter">Rate</td>
											<td class="boldTD alignCenter">Amount</td>
											<td class="boldTD alignCenter">Rate</td>
											<td class="boldTD alignCenter">Amount</td>
											<td></td>
										</tr>
										<tr class="" *ngFor="let row of invoiceGSTValues;let rowNum=index;let lastRowNum=last;">
											<td class="alignRight">{{row.taxValue | number:'.0'}}</td>
											<td class="alignRight" *ngIf="gstAll>0">{{row.gst/2}}%</td>
											<td class="alignRight" *ngIf="gstAll<=0">0%</td>
											<td class="alignRight" *ngIf="gstAll>0">{{(row.amount/2) | number:'.0'}}</td>
											<td class="alignRight" *ngIf="gstAll<=0">0</td>
											<td class="alignRight" *ngIf="gstAll>0">{{row.gst/2}}%</td>
											<td class="alignRight" *ngIf="gstAll<=0">0%</td>
											<td class="alignRight" *ngIf="gstAll>0">{{(row.amount/2) | number:'.0'}}</td>
											<td class="alignRight" *ngIf="gstAll<=0">0</td>
											<td class="alignRight" *ngIf="iGstAll>0">{{row.gst}}%</td>
											<td class="alignRight" *ngIf="iGstAll<=0">0%</td>
											<td class="alignRight" *ngIf="iGstAll>0">{{row.amount | number:'.0'}}</td>
											<td class="alignRight" *ngIf="iGstAll<=0">0</td>
											<td class="alignRight">{{row.amount | number:'.0'}}</td>
										</tr>
										<tr class="totalRow">
											<td class="alignRight">Total : {{(trnSalesInvoiceObj.totalAmount - (gstAll || iGstAll)) | number:'.0'}}</td>
											<td class="alignRight"></td>
											<td class="alignRight" *ngIf="gstAll>0">{{ (gstAll/2) | number:'.0'}}</td>
											<td class="alignRight" *ngIf="gstAll<=0">0</td>
											<td class="alignRight"></td>
											<td class="alignRight" *ngIf="gstAll>0">{{ (gstAll/2) | number:'.0'}}</td>
											<td class="alignRight" *ngIf="gstAll<=0">0</td>
											<td class="alignRight"></td>
											<td class="alignRight" *ngIf="iGstAll>0">{{iGstAll | number:'.0'}}</td>
											<td class="alignRight" *ngIf="iGstAll<=0">0</td>
											<td class="alignRight">{{ (gstAll || iGstAll) | number:'.0' }}</td>
										</tr>

									</tbody>
								</table>

							</div>

							<!-- Tax Amount in words -->
							<div class="amountWordsBox" style="margin-bottom: 0;">
								<h4>
									<span class="taxAmtSpan">Tax Amount in words : </span>INR {{numberToWordConversionForTax ? (numberToWordConversionForTax
									| titlecase ): ''}} Only</h4>
							</div>

							<!-- Declaration -->
							<div class="row">
								<div class="col-md-6">
									<div class="DeclarationBox">
										<h5>Declaration</h5>
										<p>
											We declare that this invoice shows the actual price of the goods described and that all particulars are true and correct.
										</p>
									</div>
								</div>
								<div class="col-md-1"></div>
								<div class="col-md-5">
									<div class="bankDetailsBox">
										<h5>Company's Bank Details</h5>
										<table class="table bankDetailTable">
											<tr>
												<td>
													Bank Name
												</td>
												<td>
													{{trnSalesInvoiceObj["mstCompanyInfo"] ? trnSalesInvoiceObj["mstCompanyInfo"]["bankName"] : ""}}
												</td>
											</tr>
											<tr>
												<td>
													A/c No.
												</td>
												<td>
													{{trnSalesInvoiceObj["mstCompanyInfo"] ? trnSalesInvoiceObj["mstCompanyInfo"]["accountNumber"] : ""}}
												</td>
											</tr>
											<tr>
												<td>
													Branch & IFS Code
												</td>
												<td>
													{{trnSalesInvoiceObj["mstCompanyInfo"] ? trnSalesInvoiceObj["mstCompanyInfo"]["branch"] : ""}} & {{trnSalesInvoiceObj["mstCompanyInfo"]
													? trnSalesInvoiceObj["mstCompanyInfo"]["ifscCode"] : ""}}
												</td>
											</tr>
										</table>
									</div>
								</div>
							</div>

							<div class="row" style="padding-right:15px;padding-left:15px;">
								<table style="width:100%;">
									<tr>
										<td style="width:50%;font-family:Roboto;border:1px solid #ddd;border-top:1px solid #ddd;font-size:13px;vertical-align:top;font-weight:400;padding:5px;">
											Customer Seal &amp; Signature
										</td>
										<td style="padding:5px;width:50%;text-align:right;font-family:Roboto;border:1px solid #ddd;font-size:13px;border-left:none;font-weight:400;">
											<h5 style="margin-top:0px;margin-bottom:0;font-size:14px;font-family:Roboto;font-weight:500;">For SOFTZONE</h5>
											<br/> Authorised Signatory
										</td>
									</tr>
								</table>
							</div>

							<div class="row" style="text-align:center;width: 100%;">
								<div style="text-align:center;width: 100%;">
									<label style="font-family:Roboto;font-size:13px;font-weight:500;margin-top:5px;">SUBJECT TO PUNE JURISDICTION</label>
									<br/>
									<label style="font-family:Roboto;font-size:13px;font-weight:500;">This is a Computer Generated Invoice</label>
								</div>
							</div>

						</div>
					</div>
				</div>


				<!--++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
			</div>
			<!--end::Portlet-->
		</div>
	</div>
</div>
<!--*************************  Main Page content Ends *******************************************--->







<!-- For Pring Screen -->
<div class="invoiceMainBox" id="printInvoice" style="display:none;">
	<h3 class="invoiceMainHeading" style="font-family:Roboto;text-align:center;">Tax Invoice</h3>
	<!--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
	<div style="padding-left:15px;padding-right:15px;">
		<table style="width: 100%;border-collapse: collapse;margin-bottom:0;" cellspacing="0">
			<tr>

				<td style="width:60%;border-collapse: collapse;border: 1px solid #000;vertical-align:top;">
					<div style="padding-left:5px;font-family:Roboto;border-collapse: collapse;border-bottom:1px solid #000;border-left:0;">
						<h4 style="margin-bottom:5px;">{{trnSalesInvoiceObj["mstCompanyInfo"] ? trnSalesInvoiceObj["mstCompanyInfo"]["companyName"] : ""}}</h4>
						<p style="font-family:Roboto;font-size:10px;margin-top:0;margin-bottom:0;">
							{{trnSalesInvoiceObj["mstCompanyInfo"] ? trnSalesInvoiceObj["mstCompanyInfo"]["address1"] : ""}}
						</p>
						<p style="font-family:Roboto;font-size:10px;margin-top:0;margin-bottom:0;">
							{{trnSalesInvoiceObj["mstCompanyInfo"] ? trnSalesInvoiceObj["mstCompanyInfo"]["address2"] : ""}},{{trnSalesInvoiceObj["mstCompanyInfo"]
							? trnSalesInvoiceObj["mstCompanyInfo"]["city"] : ""}}
						</p>
						<p style="font-family:Roboto;font-size:10px;margin-top:0;margin-bottom:0;">
							PH. {{trnSalesInvoiceObj["mstCompanyInfo"] ? trnSalesInvoiceObj["mstCompanyInfo"]["phone"] : ""}}
						</p>
						<p style="font-family:Roboto;font-size:10px;margin-top:0;margin-bottom:0;">
							GSTIN/UIN: {{trnSalesInvoiceObj["mstCompanyInfo"] ? trnSalesInvoiceObj["mstCompanyInfo"]["gstin"] : ""}}
						</p>
						<p style="font-family:Roboto;font-size:10px;margin-top:0;margin-bottom:0;">
							State Name : {{"Maharashtra"}}, Code : {{"27"}}
						</p>
						<p style="font-family:Roboto;font-size:10px;margin-top:0;margin-bottom:0;">
							E-Mail : {{trnSalesInvoiceObj["mstCompanyInfo"] ? trnSalesInvoiceObj["mstCompanyInfo"]["email"] : ""}}
						</p>

					</div>

					<div style="padding-left:5px;font-family:Roboto;margin-bottom:-5px;border-collapse: collapse;border-top:0;border-bottom:0;border-left:0;">
						<h5 style="font-family:Poppins;margin-top:0;margin-bottom:0;">Buyer</h5>
						<h4 style="font-family:Roboto;margin-top:0;margin-bottom:0;">
							{{trnSalesInvoiceObj["trnSaleOrder"] ? trnSalesInvoiceObj["trnSaleOrder"]["mstCustomer"]["name"] : trnSalesInvoiceObj["trnMaterialQuotation"]
							? trnSalesInvoiceObj["trnMaterialQuotation"]["mstCustomer"]["name"] : ""}}
						</h4>
						<p style="font-family:Roboto;font-size:10px;margin-top:0;margin-bottom:0;">
							{{customerShippingAddress["addressLine1"]}} {{ customerShippingAddress["addressLine2"]}}, {{customerShippingAddress["state"]}},
							{{customerShippingAddress["city"]}}, PINCODE - {{customerShippingAddress["pin"] }}
						</p>
						<p style="font-family:Roboto;font-size:10px;margin-top:0;margin-bottom:0;">
							MOB-{{trnSalesInvoiceObj["trnSaleOrder"] ? trnSalesInvoiceObj["trnSaleOrder"]["mstCustomer"]["phone"] : trnSalesInvoiceObj["trnMaterialQuotation"]
							? trnSalesInvoiceObj["trnMaterialQuotation"]["mstCustomer"]["phone"] : ""}}
						</p>
						<p style="font-family:Roboto;font-size:10px;margin-top:0;margin-bottom:0;">
							GSTIN/UIN : {{customerShippingAddress["gstin"]}}
						</p>
						<p style="font-family:Roboto;font-size:10px;margin-top:0;margin-bottom:0;">
							State Name : {{customerShippingAddress["state"]}}
						</p>
						<p style="font-family:Roboto;font-size:10px;margin-top:0;margin-bottom:0;">
							E-Mail : {{trnSalesInvoiceObj["trnSaleOrder"] ? trnSalesInvoiceObj["trnSaleOrder"]["mstCustomer"]["email"] : trnSalesInvoiceObj["trnMaterialQuotation"]
							? trnSalesInvoiceObj["trnMaterialQuotation"]["mstCustomer"]["email"] : ""}}
						</p>
						<p style="margin-bottom:2px;">

						</p>

					</div>
				</td>

				<td style="width:50%;border-collapse: collapse;border: 1px solid #000;vertical-align:top;">
					<table class="table table-bordered printtable" style="width: 100%;" cellspacing="0">
						<tr>
							<td style="border: 1px solid #000;border-collapse: collapse;border-left:0;border-top:none;">
								<div class="">
									<h5 style="font-family:Roboto;margin-bottom:0;font-weight:300;font-size:10px;">Invoice No.</h5>
									<h4 style="font-family:Roboto;margin-bottom:0;margin-top:0;font-size:10px;">{{trnSalesInvoiceObj.invoiceNumber}}</h4>
								</div>
							</td>
							<td style="border: 1px solid #000;border-collapse: collapse;border-left:0;border-right:none;border-top:none;">
								<div class="">
									<h5 style="font-family:Roboto;margin-bottom:0;font-weight:300;font-size:10px;">Dated</h5>
									<h4 style="font-family:Roboto;margin-bottom:0;margin-top:0;font-size:10px;">{{trnSalesInvoiceObj.invoiceDate | date: 'dd/MM/yyyy'}}</h4>
								</div>
							</td>
						</tr>

						<tr>
							<td style="border: 1px solid #000;border-collapse: collapse;border-top:0;border-left:0;">
								<div class="">
									<h5 style="font-family:Roboto;margin-bottom:0;font-weight:300;font-size:10px;">Delivery Note</h5>
									<h4 style="font-family:Roboto;margin-bottom:0;margin-top:0;font-size:10px;">{{trnSalesInvoiceObj["trnSaleOrder"] ? trnSalesInvoiceObj["trnSaleOrder"]["orderNumber"] : trnSalesInvoiceObj["trnMaterialQuotation"]
										? trnSalesInvoiceObj["trnMaterialQuotation"]["materialQuotationNumber"] : "" }}/{{trnSalesInvoiceObj["trnGoodIssueNote"]
										? trnSalesInvoiceObj["trnGoodIssueNote"]["ginNumber"] : ""}}</h4>
								</div>
							</td>
							<td style="border: 1px solid #000;border-collapse: collapse;border-top:0;border-left:0;border-right:none;">
								<div class="">
									<h5 style="font-family:Roboto;margin-bottom:0;font-weight:300;font-size:10px;">Mode/Terms of Payment</h5>
									<h4 style="font-family:Roboto;margin-bottom:0;margin-top:0;font-size:10px;">{{trnSalesInvoiceObj["trnSaleOrder"] ? trnSalesInvoiceObj["trnSaleOrder"]["paymentMode"] : ""}}</h4>
								</div>
							</td>
						</tr>

						<tr>
							<td style="border: 1px solid #000;border-collapse: collapse;border-top:0;border-left:0;">
								<div class="">
									<h5 style="font-family:Roboto;margin-bottom:0;font-weight:300;font-size:10px;">Buyer's Order No.</h5>
									<h4 style="font-family:Roboto;margin-bottom:0;margin-top:0;font-size:10px;">{{trnSalesInvoiceObj.buyersOrderNumber}}</h4>
								</div>
							</td>
							<td style="border: 1px solid #000;border-collapse: collapse;border-top:0;border-left:0;border-right:none;">
								<div class="">
									<h5 style="font-family:Roboto;margin-bottom:0;font-weight:300;font-size:10px;">Dated</h5>
									<h4 style="font-family:Roboto;margin-bottom:0;margin-top:0;font-size:10px;">{{trnSalesInvoiceObj["trnSaleOrder"] ? (trnSalesInvoiceObj["trnSaleOrder"]["orderDate"] | date: 'dd/MM/yyyy') :
										trnSalesInvoiceObj["trnMaterialQuotation"] ? (trnSalesInvoiceObj["trnMaterialQuotation"]["materialQuotationDate"]
										| date: 'dd/MM/yyyy') : ""}}</h4>
								</div>
							</td>
						</tr>

						<tr>
							<td style="border: 1px solid #000;border-collapse: collapse;border-top:0;border-left:0;">
								<div class="">
									<h5 style="font-family:Roboto;margin-bottom:0;font-weight:300;font-size:10px;">Dispatch Document No.</h5>
									<h4 style="font-family:Roboto;margin-bottom:0;margin-top:0;font-size:10px;">{{trnSalesInvoiceObj.courierDockYardNumber}}</h4>
								</div>
							</td>
							<td style="border: 1px solid #000;border-collapse: collapse;border-top:0;border-left:0;border-right:none;">
								<div class="">
									<h5 style="font-family:Roboto;margin-bottom:0;font-weight:300;font-size:10px;">PAYMENT DUE DATE</h5>
									<h4 style="font-family:Roboto;margin-bottom:0;margin-top:0;font-size:10px;">{{trnSalesInvoiceObj.expectedDeliveryDate | date: 'dd/MM/yyyy'}}</h4>
								</div>
							</td>
						</tr>

						<tr>
							<td style="border: 1px solid #000;border-collapse: collapse;border-top:0;border-left:0;">
								<div class="">
									<h5 style="font-family:Roboto;margin-bottom:0;font-weight:300;font-size:10px;">Dispatched through</h5>
									<h4 style="font-family:Roboto;margin-bottom:0;margin-top:0;font-size:10px;">{{trnSalesInvoiceObj["trnSaleOrder"] ? trnSalesInvoiceObj["trnSaleOrder"]["mstCourier"]["name"] : ""}}</h4>
								</div>
							</td>
							<td style="border: 1px solid #000;border-collapse: collapse;border-top:0;border-left:0;border-right:none;">
								<div class="">
									<h5 style="font-family:Roboto;margin-bottom:0;font-weight:300;font-size:10px">Courier Mode</h5>
									<h4 style="font-family:Roboto;margin-bottom:0;margin-top:0;font-size:10px;">{{trnSalesInvoiceObj["trnSaleOrder"] ? trnSalesInvoiceObj["trnSaleOrder"]["courierMode"] : ""}}</h4>
								</div>
							</td>
						</tr>

						<tr>
							<td style="border: 1px solid #000;border-collapse: collapse;border-top:0;border-left:0;border-bottom:none;border-right:none;"
							 colspan="2">
								<div class="">
									<h5 style="font-family:Roboto;margin-bottom:0;font-weight:300;font-size:10px;">Terms of Delivery</h5><br/><br/><br/>
								</div>
							</td>
						</tr>


					</table>
				</td>


			</tr>
		</table>
		<!--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
	</div>

	<!-- Table -->
	<div class="table-responsive" style="margin-top:10px;clear:both;display:block;padding-left:15px;padding-right:15px;">
		<table class="table invoiceItemTable table-bordered" cellspacing="0" style="width:100%;max-width: 100%;border-collapse: collapse;">
			<thead>
				<tr>
					<th style="border: 1px solid #000;background: #f5f5f5;font-family: Roboto;color: #000;font-size: 10px;font-weight: 500;width:5%;border-collapse: collapse;">Sr.No.</th>
					<th style="border: 1px solid #000;background: #f5f5f5;font-family: Roboto;color: #000;font-size: 10px;font-weight: 500;width:40%;border-collapse: collapse;">Description of Goods</th>
					<th style="border: 1px solid #000;background: #f5f5f5;font-family: Roboto;color: #000;font-size: 10px;font-weight: 500;width:8%;border-collapse: collapse;text-align:center;">HSN/SAC</th>
					<th style="border: 1px solid #000;background: #f5f5f5;font-family: Roboto;color: #000;font-size: 10px;font-weight: 500;width:10%;border-collapse: collapse;text-align:center;">GST Rate</th>
					<th style="border: 1px solid #000;background: #f5f5f5;font-family: Roboto;color: #000;font-size: 10px;font-weight: 500;width:3%;border-collapse: collapse;text-align:center;">Quantity</th>
					<th style="border: 1px solid #000;background: #f5f5f5;font-family: Roboto;color: #000;font-size: 10px;font-weight: 500;width:10%;border-collapse: collapse;text-align:center;">Rate</th>
					<th style="border: 1px solid #000;background: #f5f5f5;font-family: Roboto;color: #000;font-size: 10px;font-weight: 500;border-collapse: collapse;text-align:center;">per</th>
					<th style="border: 1px solid #000;background: #f5f5f5;font-family: Roboto;color: #000;font-size: 10px;font-weight: 500;width:5%;border-collapse: collapse;text-align:center;">Dis.%</th>
					<th style="border: 1px solid #000;background: #f5f5f5;font-family: Roboto;color: #000;font-size: 10px;font-weight: 500;text-align:right;width:10%;border-collapse: collapse;">Amount</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let trnSalesInvoiceItem of trnSalesInvoiceObj.trnSalesInvoiceItems; let i=index;">
					<td style="border: 1px solid #000;font-family:Roboto;border-collapse: collapse;font-size: 10px;">{{i+1}}</td>
					<td style="border: 1px solid #000;font-family:Roboto;border-collapse: collapse;font-size: 10px;">
						<b style="font-family:Roboto;font-weight:900;">{{trnSalesInvoiceItem.categoryName}} {{trnSalesInvoiceItem.mstCollection ? trnSalesInvoiceItem.mstCollection.collectionCode : ""}} {{trnSalesInvoiceItem.serialno}} {{trnSalesInvoiceItem.size}} {{trnSalesInvoiceItem.matSizeCode}} {{trnSalesInvoiceItem.accessoryName}}</b>
					</td>
					<td class="alignCenter" style="border: 1px solid #000;font-family:Roboto;border-collapse: collapse;font-size: 10px;text-align:center;">{{trnSalesInvoiceItem.hsnCode}}</td>
					<td class="alignRight" style="border: 1px solid #000;font-family:Roboto;border-collapse: collapse;font-size: 10px;text-align:center;">{{trnSalesInvoiceItem.gst}}%</td>
					<td class="alignRight" style="border: 1px solid #000;font-family:Roboto;border-collapse: collapse;font-size: 10px;text-align:center;">
						<b>{{trnSalesInvoiceItem.quantity}}</b>
					</td>
					<td class="alignRight" style="border: 1px solid #000;font-family:Roboto;border-collapse: collapse;font-size: 10px;text-align:center;">{{trnSalesInvoiceItem ? (trnSalesInvoiceItem.rate | number:'.0') : ''}}</td>
					<td style="border: 1px solid #000;font-family:Roboto;border-collapse: collapse;font-size: 10px;text-align:center;">{{trnSalesInvoiceItem.uom}} {{trnSalesInvoiceItem.mstAccessory? trnSalesInvoiceItem.mstAccessory.mstUnitOfMeasure? trnSalesInvoiceItem.mstAccessory.mstUnitOfMeasure.uomCode:'':''}}
					</td>
					<td class="alignRight" style="border: 1px solid #000;font-family:Roboto;border-collapse: collapse;font-size: 10px;text-align:center;">{{trnSalesInvoiceItem.discountPercentage || 0}}</td>
					<td class="alignRight" style="text-align:right;border: 1px solid #000;font-family:Roboto;border-collapse: collapse;font-size: 10px;">
						<b>{{trnSalesInvoiceItem ? (trnSalesInvoiceItem.amount | number:'.0') : ''}}</b>
					</td>
				</tr>
				<tr class="gstRow">
					<td style="border: 1px solid #000;font-family:Roboto;border-collapse: collapse;font-size: 10px;"></td>
					<td class="gstCell" style="border: 1px solid #000;font-family:Roboto;text-align:right;font-size:10px;border-collapse: collapse;">CGST-ALL</td>
					<td style="border: 1px solid #000;font-family:Roboto;border-collapse: collapse;font-size: 10px;text-align:center;"></td>
					<td style="border: 1px solid #000;font-family:Roboto;border-collapse: collapse;font-size: 10px;text-align:center;"></td>
					<td style="border: 1px solid #000;font-family:Roboto;border-collapse: collapse;font-size: 10px;text-align:center;"></td>
					<td style="border: 1px solid #000;font-family:Roboto;border-collapse: collapse;font-size: 10px;text-align:center;"></td>
					<td style="border: 1px solid #000;font-family:Roboto;border-collapse: collapse;font-size: 10px;text-align:center;"></td>
					<td style="border: 1px solid #000;font-family:Roboto;border-collapse: collapse;font-size: 10px;text-align:center;"></td>
					<td class="alignRight" style="text-align:right;border: 1px solid #000;font-family:Roboto;border-collapse: collapse;font-size: 10px;">
						<b>{{gstAll>0 ? ((gstAll/2) | number:'.0') : 0}}</b>
					</td>
				</tr>
				<tr class="gstRow">
					<td style="border: 1px solid #000;font-family:Roboto;border-collapse: collapse;font-size: 10px;"></td>
					<td class="gstCell" style="border: 1px solid #000;font-family:Roboto;text-align:right;font-size:12px;border-collapse: collapse;font-size: 10px;">SGST-ALL</td>
					<td style="border: 1px solid #000;font-family:Roboto;border-collapse: collapse;font-size: 10px;text-align:center;"></td>
					<td style="border: 1px solid #000;font-family:Roboto;border-collapse: collapse;font-size: 10px;text-align:center;"></td>
					<td style="border: 1px solid #000;font-family:Roboto;border-collapse: collapse;font-size: 10px;text-align:center;"></td>
					<td style="border: 1px solid #000;font-family:Roboto;border-collapse: collapse;font-size: 10px;text-align:center;"></td>
					<td style="border: 1px solid #000;font-family:Roboto;border-collapse: collapse;font-size: 10px;text-align:center;"></td>
					<td style="border: 1px solid #000;font-family:Roboto;border-collapse: collapse;font-size: 10px;text-align:center;"></td>
					<td class="alignRight" style="text-align:right;border: 1px solid #000;font-family:Roboto;border-collapse: collapse;font-size: 10px;">
						<b>{{gstAll>0 ? ((gstAll/2) | number:'.0') : 0}}</b>
					</td>
				</tr>
				<tr class="gstRow">
					<td style="border: 1px solid #000;font-family:Roboto;font-family:Roboto;border-collapse: collapse;"></td>
					<td class="gstCell" style="border: 1px solid #000;font-family:Roboto;text-align:right;font-size:12px;border-collapse: collapse;font-size: 10px;">IGST-ALL</td>
					<td style="border: 1px solid #000;font-family:Roboto;border-collapse: collapse;font-size: 10px;text-align:center;"></td>
					<td style="border: 1px solid #000;font-family:Roboto;border-collapse: collapse;font-size: 10px;text-align:center;"></td>
					<td style="border: 1px solid #000;font-family:Roboto;border-collapse: collapse;font-size: 10px;text-align:center;"></td>
					<td style="border: 1px solid #000;font-family:Roboto;border-collapse: collapse;font-size: 10px;text-align:center;"></td>
					<td style="border: 1px solid #000;font-family:Roboto;border-collapse: collapse;font-size: 10px;text-align:center;"></td>
					<td style="border: 1px solid #000;font-family:Roboto;border-collapse: collapse;font-size: 10px;text-align:center;"></td>
					<td class="alignRight" style="text-align:right;border: 1px solid #000;font-family:Roboto;border-collapse: collapse;font-size: 10px;">
						<b>{{iGstAll>0 ? (iGstAll | number:'.0') : 0}}</b>
					</td>
				</tr>
				<tr class="totalRow">
					<td style="border: 1px solid #000;font-family:Roboto;border-collapse: collapse;font-size: 10px;"></td>
					<td class="alignRight" style="text-align:right;border: 1px solid #000;font-family:Roboto;border-collapse: collapse;font-size: 10px;"><b style="font-weight:900;">Total</b></td>
					<td style="border: 1px solid #000;font-family:Roboto;border-collapse: collapse;font-size: 10px;text-align:center;"></td>
					<td style="border: 1px solid #000;font-family:Roboto;border-collapse: collapse;font-size: 10px;text-align:center;"></td>
					<td class="alignRight" style="text-align:center;border: 1px solid #000;font-family:Roboto;border-collapse: collapse;font-size: 10px;">
						<b style="font-weight:900;">{{invoiceItemQuantityTotal}}</b>
					</td>
					<td style="border: 1px solid #000;font-family:Roboto;border-collapse: collapse;font-size: 10px;text-align:center;"></td>
					<td style="border: 1px solid #000;font-family:Roboto;border-collapse: collapse;font-size: 10px;text-align:center;"></td>
					<td style="border: 1px solid #000;font-family:Roboto;border-collapse: collapse;font-size: 10px;text-align:center;"></td>
					<td class="alignRight" style="text-align:right;border: 1px solid #000;font-family:Roboto;border-collapse: collapse;font-size: 10px;">
						<b style="font-weight:900;">INR {{trnSalesInvoiceObj ? (trnSalesInvoiceObj.totalAmount | number:'.0') : ''}}</b>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<!-- Amount in words -->
	<div class="amountWordsBox" style="padding: 5px 15px;margin-bottom: 10px;background: #f2f2f2;border-radius: 4px;margin-top: 10px;">
		<h5 style="font-family: Roboto;color: #2f2f2f;margin-top: 0;margin-bottom:0;font-size: 12px;font-weight: 400 !important;">Amount Chargeable (in words)
			<span style="float:right">E. & O.E</span>
		</h5>
		<h4 style="font-family: Roboto;color: #000;margin-top: 0;font-size: 12px;margin-bottom:0;font-weight: 600 !important;margin-bottom: 0;">INR {{numberToWordConversion ? (numberToWordConversion | titlecase) : ''}}</h4>
	</div>

	<!-- Tax Table -->
	<div class="table-responsive" style="clear:both;display:block;padding-left:15px;padding-right:15px;">

		<table class="table table-bordered invoiceItemTable invoiceTaxTable" cellspacing="0" style="width:100%;max-width: 100%;border-collapse: collapse;">
			<thead>
				<tr>
					<th rowspan="2" class="alignRight" style="border: 1px solid #000;background: #f5f5f5;font-family: Roboto;color: #000;font-size: 10px;font-weight: 500;width:45%;text-align:right;border-collapse: collapse;">Taxable Value</th>
					<th colspan="2" class="alignCenter" style="border: 1px solid #000;background: #f5f5f5;font-family: Roboto;color: #000;font-size: 10px;font-weight: 500;border-collapse: collapse;">Central Tax</th>
					<th colspan="2" class="alignCenter" style="border: 1px solid #000;background: #f5f5f5;font-family: Roboto;color: #000;font-size: 10px;font-weight: 500;border-collapse: collapse;">State Tax</th>
					<th colspan="2" class="alignCenter" style="border: 1px solid #000;background: #f5f5f5;font-family: Roboto;color: #000;font-size: 10px;font-weight: 500;border-collapse: collapse;">Integral Tax</th>
					<th style="border: 1px solid #000;background: #f5f5f5;font-family: Roboto;color: #000;font-size: 10px;font-weight: 500;text-align:right;width:10%;border-collapse: collapse;">Total Tax Amount</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td style="border: 1px solid #000;background: #f5f5f5;font-family: Roboto;color: #000;font-size: 10px;font-weight: 500;border-collapse: collapse;"></td>
					<td class="boldTD alignCenter" style="border: 1px solid #000;background: #f5f5f5;font-family: Roboto;color: #000;font-size: 10px;font-weight: 500;text-align:right;border-collapse: collapse;">Rate</td>
					<td class="boldTD alignCenter" style="border: 1px solid #000;background: #f5f5f5;font-family: Roboto;color: #000;font-size: 10px;font-weight: 500;text-align:right;border-collapse: collapse;">Amount</td>
					<td class="boldTD alignCenter" style="border: 1px solid #000;background: #f5f5f5;font-family: Roboto;color: #000;font-size: 10px;font-weight: 500;text-align:right;border-collapse: collapse;">Rate</td>
					<td class="boldTD alignCenter" style="border: 1px solid #000;background: #f5f5f5;font-family: Roboto;color: #000;font-size: 10px;font-weight: 500;text-align:right;border-collapse: collapse;">Amount</td>
					<td class="boldTD alignCenter" style="border: 1px solid #000;background: #f5f5f5;font-family: Roboto;color: #000;font-size: 10px;font-weight: 500;text-align:right;border-collapse: collapse;">Rate</td>
					<td class="boldTD alignCenter" style="border: 1px solid #000;background: #f5f5f5;font-family: Roboto;color: #000;font-size: 10px;font-weight: 500;text-align:right;border-collapse: collapse;">Amount</td>
					<td style="border: 1px solid #000;background: #f5f5f5;font-family: Roboto;color: #000;font-size: 10px;font-weight: 500;"></td>
				</tr>
				<tr class="" *ngFor="let row of invoiceGSTValues;let rowNum=index;let lastRowNum=last;">
					<td class="alignRight" style="border: 1px solid #000;font-family:Roboto;text-align:right;border-collapse: collapse;font-size: 10px;">{{row ? (row.taxValue | number:'.0') : ''}}</td>
					<td class="alignRight" *ngIf="gstAll>0" style="border: 1px solid #000;font-family:Roboto;text-align:right;border-collapse: collapse;font-size: 10px;">{{row.gst/2}}%</td>
					<td class="alignRight" *ngIf="gstAll<=0" style="border: 1px solid #000;font-family:Roboto;text-align:right;border-collapse: collapse;font-size: 10px;">0%</td>
					<td class="alignRight" *ngIf="gstAll>0" style="border: 1px solid #000;font-family:Roboto;text-align:right;border-collapse: collapse;font-size: 10px;">{{row ? ((row.amount/2) | number:'.0') : ''}}</td>
					<td class="alignRight" *ngIf="gstAll<=0" style="border: 1px solid #000;font-family:Roboto;text-align:right;border-collapse: collapse;font-size: 10px;">0</td>
					<td class="alignRight" *ngIf="gstAll>0" style="border: 1px solid #000;font-family:Roboto;text-align:right;border-collapse: collapse;font-size: 10px;">{{row.gst/2}}%</td>
					<td class="alignRight" *ngIf="gstAll<=0" style="border: 1px solid #000;font-family:Roboto;text-align:right;border-collapse: collapse;font-size: 10px;">0%</td>
					<td class="alignRight" *ngIf="gstAll>0" style="border: 1px solid #000;font-family:Roboto;text-align:right;border-collapse: collapse;font-size: 10px;">{{row ? ((row.amount/2) | number:'.0') : ''}}</td>
					<td class="alignRight" *ngIf="gstAll<=0" style="border: 1px solid #000;font-family:Roboto;text-align:right;border-collapse: collapse;font-size: 10px;">0</td>
					<td class="alignRight" *ngIf="iGstAll>0" style="border: 1px solid #000;font-family:Roboto;text-align:right;border-collapse: collapse;font-size: 10px;">{{row.gst}}%</td>
					<td class="alignRight" *ngIf="iGstAll<=0" style="border: 1px solid #000;font-family:Roboto;text-align:right;border-collapse: collapse;font-size: 10px;">0%</td>
					<td class="alignRight" *ngIf="iGstAll>0" style="border: 1px solid #000;font-family:Roboto;text-align:right;border-collapse: collapse;font-size: 10px;">{{row ? (row.amount | number:'.0') : ''}}</td>
					<td class="alignRight" *ngIf="iGstAll<=0" style="border: 1px solid #000;font-family:Roboto;text-align:right;border-collapse: collapse;font-size: 10px;">0</td>
					<td class="alignRight" style="border: 1px solid #000;font-family:Roboto;text-align:right;border-collapse: collapse;font-size: 10px;">{{row ? (row.amount | number:'.0') : ''}}</td>
				</tr>
				<tr class="totalRow">
					<td class="alignRight" style="border: 1px solid #000;font-family:Roboto;text-align:right;border-collapse: collapse;font-size: 10px;"><b style="font-weight:900;">Total : {{trnSalesInvoiceObj ? ((trnSalesInvoiceObj.totalAmount - (gstAll || iGstAll)) | number:'.0') : ''}}</b></td>
					<td class="alignRight" style="border: 1px solid #000;font-family:Roboto;text-align:right;border-collapse: collapse;font-size: 10px;"></td>
					<td class="alignRight" *ngIf="gstAll>0" style="border: 1px solid #000;font-family:Roboto;text-align:right;border-collapse: collapse;font-size: 10px;"><b style="font-weight:900;">{{ gstAll ? ((gstAll/2) | number:'.0') : ''}}</b></td>
					<td class="alignRight" *ngIf="gstAll<=0" style="border: 1px solid #000;font-family:Roboto;text-align:right;border-collapse: collapse;font-size: 10px;">0</td>
					<td class="alignRight" style="border: 1px solid #000;font-family:Roboto;text-align:right;border-collapse: collapse;font-size: 10px;"></td>
					<td class="alignRight" *ngIf="gstAll>0" style="border: 1px solid #000;font-family:Roboto;text-align:right;border-collapse: collapse;font-size: 10px;"><b style="font-weight:900;">{{ gstAll ? ((gstAll/2) | number:'.0') : ''}}</b></td>
					<td class="alignRight" *ngIf="gstAll<=0" style="border: 1px solid #000;font-family:Roboto;text-align:right;border-collapse: collapse;font-size: 10px;">0</td>
					<td class="alignRight" style="border: 1px solid #000;font-family:Roboto;text-align:right;border-collapse: collapse;font-size: 10px;"></td>
					<td class="alignRight" *ngIf="iGstAll>0" style="border: 1px solid #000;font-family:Roboto;text-align:right;border-collapse: collapse;font-size: 10px;"><b style="font-weight:900;">{{iGstAll ? (iGstAll | number:'.0') : ''}}</b></td>
					<td class="alignRight" *ngIf="iGstAll<=0" style="border: 1px solid #000;font-family:Roboto;text-align:right;border-collapse: collapse;font-size: 10px;">0</td>
					<td class="alignRight" style="border: 1px solid #000;font-family:Roboto;text-align:right;border-collapse: collapse;font-size: 10px;"><b style="font-weight:900;">{{ (gstAll || iGstAll) | number:'.0'}}</b></td>
				</tr>

			</tbody>
		</table>
	</div>

	<!-- Tax Amount in words -->
	<div class="amountWordsBox" style="padding: 5px 15px;margin-bottom: 10px;background: #f2f2f2;border-radius: 4px;margin-top: 10px;">
		<h4 style="font-family: Roboto;color: #000;margin-top: 0;font-size: 12px;margin-bottom:0;font-weight: 600 !important;margin-bottom: 0;">
			<span class="taxAmtSpan"><span style="font-family: Roboto;color: #2f2f2f;margin-top: 0;margin-bottom:0;font-size: 12px;font-weight: 400 !important;">Tax Amount in words : </span></span>INR
			{{numberToWordConversionForTax ? (numberToWordConversionForTax | titlecase ): ''}} Only</h4>
	</div>

	<!-- Declaration -->
	<div class="row">

		<table>
			<tr>
				<td style="width:50%;vertical-align:top;">
					<div class="DeclarationBox" style="margin-left: 15px;padding-right: 15px;">
						<h5 style="font-family: Roboto;color: #000;margin-top: 0;font-size: 12px;font-weight: 500!important;text-decoration: underline;margin-bottom:0;">Declaration</h5>
						<p style="font-family: Roboto;color: #545454;margin-top: 5px;font-size: 10px;font-weight: 400!important;margin-bottom: 0;">
							We declare that this invoice shows the actual price of the goods described and that all particulars are true and correct.
						</p>
					</div>
				</td>
				<td style="width:50%;vertical-align:top;">
					<div class="bankDetailsBox">
						<h5 style="font-family: Roboto;color: #000;margin-top: 0;font-size: 10px;font-weight: 500 !important;margin-bottom:0;">Company's Bank Details</h5>
						<table class="table bankDetailTable">
							<tr>
								<td style="font-family: Roboto;color: #000;margin-top: 0;font-size: 10px;font-weight: 400!important;border: none!important;padding: 1px!important;">
									Bank Name
								</td>
								<td style="font-family: Roboto;color: #000;margin-top: 0;font-size: 10px;font-weight: 500!important;border: none!important;padding: 1px!important;">
									{{trnSalesInvoiceObj["mstCompanyInfo"] ? trnSalesInvoiceObj["mstCompanyInfo"]["bankName"] : ""}}
								</td>
							</tr>
							<tr>
								<td style="font-family: Roboto;color: #000;margin-top: 0;font-size: 10px;font-weight: 400!important;border: none!important;padding: 1px!important;">
									A/c No.
								</td>
								<td style="font-family: Roboto;color: #000;margin-top: 0;font-size: 10px;font-weight: 500!important;border: none!important;padding: 1px!important;">
									{{trnSalesInvoiceObj["mstCompanyInfo"] ? trnSalesInvoiceObj["mstCompanyInfo"]["accountNumber"] : ""}}
								</td>
							</tr>
							<tr>
								<td style="font-family: Roboto;color: #000;margin-top: 0;font-size: 10px;font-weight: 400!important;border: none!important;padding: 1px!important;">
									Branch & IFS Code
								</td>
								<td style="font-family: Roboto;color: #000;margin-top: 0;font-size: 10px;font-weight: 500!important;border: none!important;padding: 1px!important;">
									{{trnSalesInvoiceObj["mstCompanyInfo"] ? trnSalesInvoiceObj["mstCompanyInfo"]["branch"] : ""}} & {{trnSalesInvoiceObj["mstCompanyInfo"]
									? trnSalesInvoiceObj["mstCompanyInfo"]["ifscCode"] : ""}}
								</td>
							</tr>
						</table>
					</div>
				</td>
			</tr>
		</table>

	</div>

	<div class="row" style="padding-right:15px;padding-left:15px;">
		<table style="width:100%;" cellspacing="0">
			<tr>
				<td style="width:50%;font-family:Roboto;border:1px solid #000;border-top:1px solid #000;font-size:10px;vertical-align:top;border-collapse:collapse;">
					Customer Seal &amp; Signature
				</td>
				<td style="width:50%;text-align:right;font-family:Roboto;border:1px solid #000;font-size:10px;border-collapse:collapse;border-left:0;">
					<h5 style="margin-top:0px;margin-bottom:0;font-weight:700;font-family:Roboto;">For SOFTZONE</h5>
					<br/><br/><br/> Authorised Signatory
				</td>
			</tr>
		</table>
	</div>

	<div class="row">
		<div style="text-align:center;">
			<label style="font-family:Roboto;font-size:10px;">SUBJECT TO PUNE JURISDICTION</label>
			<br/><br/>
			<label style="font-family:Roboto;font-size:10px;">This is a Computer Generated Invoice</label>
		</div>
	</div>
</div>