<p-confirmDialog #cd>
	<p-footer>
		<button type="button" class="btn btn-accent m-btn m-btn--icon" (click)="cd.accept()">
			<span>
				<i class="la la-check"></i>
				<span>
					Yes
				</span>
			</span>
		</button>
		<button type="button" class="btn btn-secondary m-btn m-btn--icon" (click)="cd.reject()">
			<span>
				<i class="la la-close"></i>
				<span>
					No
				</span>
			</span>
		</button>
	</p-footer>
</p-confirmDialog>

<div class="m-subheader">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
				<li class="m-nav__item m-nav__item--home">
					<a href="#" class="m-nav__link m-nav__link--icon">
						<i class="m-nav__link-icon la la-home"></i>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a class="m-nav__link">
						<span class="m-nav__link-text">
							Product Stock Detail
						</span>
					</a>
				</li>
			</ul>
		</div>
		<div *ngIf="toggleDiv" class="m-form__actions m-form__actions--solid formTopActionBtnBox">
				<button type="submit" class="btn btn-accent m-btn m-btn--air m-btn--custom formTopActionBtn" form="trnProductStockForm" title="{{(trnProductStockForm && trnProductStockForm.form.valid) ? 'Please fill in all the required fields' :  params ? 'Update' : 'Save'}}" [isAuthorize]="['stockmanagement']" tabindex="8">
						{{ params ? 'Update' : 'Save' }}
				</button>
				<button class="btn btn-secondary" [isAuthorize]="['stockmanagement']" (click)="onCancel()" tabindex="9">
						Cancel
				</button>
		</div>
	</div>
</div>
<!-- END: Subheader -->
<div class="m-content">
	<div class="row">
		<div class="col-lg-12">
			<!--begin::Portlet-->
			<div class="m-portlet">
				
				<div class="row">
				
				<div class="col-md-12" *ngIf="toggleDiv">
					<form class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed" role="form" novalidate (ngSubmit)="onSubmit(trnProductStockForm)"  #trnProductStockForm="ngForm"  id="trnProductStockForm">
					<div class="formContainerSamePage">
						
								<div class="row">
									
									<div class="col-md-12">
										
											<div class="panel panel-default">
													<div class="panel-heading">Product Stock Basic Details</div>
													<div class="panel-body">	
															<div class="form-group">
									<div class="col-md-3 formContentbox">
										<label class="fieldLabel col-sm-5">Category Code<span class="requiredField">*</span></label>
										<div class="col-sm-7">
                                            <p-dropdown class="feePlanBox" [options]="categoryList" [style]="{'width':'100%'}" #selectedCategoryVal="ngModel" [(ngModel)]="selectedCategory" required styleClass="{{ selectedCategoryVal.errors && isFormSubmitted?'red-border-class':''}}" [disabled]="disabled"  name="category" (ngModelChange)="onCategoryClick()" filter="true" autofocus tabindex="1"></p-dropdown>
										</div>	
                                    </div>
                                    <div class="col-md-3 formContentbox">
										<label class="fieldLabel col-sm-5">Location<span class="requiredField">*</span></label>
										<div class="col-sm-7">
                                            <p-dropdown class="feePlanBox" [options]="companyLocationList" [style]="{'width':'100%'}" #selectedCompanyLocationVal="ngModel" [(ngModel)]="selectedCompanyLocation" required styleClass="{{ selectedCompanyLocationVal.errors && isFormSubmitted?'red-border-class':''}}" [disabled]="disabled" name="location" filter="true" tabindex="2"></p-dropdown>
										</div>	
									</div>
									<div class="col-md-3 formContentbox" *ngIf="selectedCategory != 7">
										<label class="fieldLabel col-sm-5">Collection<span class="requiredField">*</span></label>
										<div class="col-sm-7">
                                            <p-dropdown class="feePlanBox" [options]="collectionList" [style]="{'width':'100%'}"  #selectedCollectionVal="ngModel" [(ngModel)]="selectedCollection" required styleClass="{{ selectedCollectionVal.errors && isFormSubmitted?'red-border-class':''}}" [disabled]="disabled" name="collection" (ngModelChange)="onCollectionClick()" filter="true" tabindex="3"></p-dropdown>
										</div>
									</div>
									<div class="col-md-3 formContentbox" *ngIf="selectedCategory == 7">
										<label class="fieldLabel col-sm-5">Accessory Code<span class="requiredField">*</span></label>
										<div class="col-sm-7">
                                            <p-dropdown class="feePlanBox" [options]="accessoryCodeList" [style]="{'width':'100%'}"  #selectedAccessoryVal="ngModel" [(ngModel)]="selectedAccessory" required styleClass="{{ selectedAccessoryVal.errors && isFormSubmitted?'red-border-class':''}}" [disabled]="disabled" name="accessoryId" (ngModelChange)="onCollectionClick()" filter="true" tabindex="3"></p-dropdown>
										</div>
									</div>
									<div class="col-md-3 formContentbox" *ngIf="shadeEnable">
										<label class="fieldLabel col-sm-5" >Serial Number<span class="requiredField">*</span></label>
										<div class="col-sm-7">
                                            <p-dropdown class="feePlanBox" [options]="shadeList" [style]="{'width':'100%'}" [(ngModel)]="selectedShade"   #selectedShadeVal="ngModel"  required styleClass="{{ selectedShadeVal.errors && isFormSubmitted?'red-border-class':''}}" [disabled]="disabled" name="shade" filter="true" tabindex="4"></p-dropdown>
										</div>
                                    </div>
                                    <div class="col-md-3 formContentbox"  *ngIf="matEnable">
										<label class="fieldLabel col-sm-5">Mattress Size<span class="requiredField">*</span></label>
										<div class="col-sm-7">
                                            <p-dropdown class="feePlanBox" [options]="matSizeList" [style]="{'width':'100%'}" [(ngModel)]="selectedMatSize"   #selectedMatSizeVal="ngModel"  required styleClass="{{ selectedMatSizeVal.errors && isFormSubmitted?'red-border-class':''}}" [disabled]="disabled" name="matSize" filter="true" tabindex="5"></p-dropdown>
										</div>
                                    </div>	
                                    <div class="col-md-3 formContentbox"  *ngIf="fomEnable">
										<label class="fieldLabel col-sm-5">Foam Item<span class="requiredField">*</span></label>
										<div class="col-sm-7">
                                            <p-dropdown class="feePlanBox" [options]="fomSizeList" [style]="{'width':'100%'}" [(ngModel)]="selectedFomSize"   #selectedFomSizeVal="ngModel"  required styleClass="{{ selectedFomSizeVal.errors && isFormSubmitted?'red-border-class':''}}" [disabled]="disabled" name="fomSize" filter="true" tabindex="6"></p-dropdown>
										</div>
									</div>		
									<div class="col-md-3 formContentbox">
										<div class="form-group">
											<label class="fieldLabel col-sm-5">Product Stock<span class="requiredField">*</span></label>
											    <input class="form-control m-input col-sm-7" OnlyNumber="true" DecimalPlaces="2" minValue="0.01" maxValue="999.99" value=""   [ngClass]="{'red-border-class': stockVal.errors && isFormSubmitted}"  #stockVal="ngModel" required [(ngModel)]="trnProductStockObj.stock" name="stock" id="stock" placeholder="Enter Product Stock Code" autocomplete="off" tabindex="7">
										</div>
									</div>
									<div class="col-md-3 formContentbox" *ngIf="fomEnable">
										<div class="form-group">
											<label class="fieldLabel col-sm-5">Stock (Kg)<span class="requiredField">*</span></label>
											    <input class="form-control m-input col-sm-7" OnlyNumber="true" DecimalPlaces="2" minValue="0.01" maxValue="999.99" value=""   [ngClass]="{'red-border-class': stockInKgVal.errors && isFormSubmitted}"  #stockInKgVal="ngModel" required [(ngModel)]="trnProductStockObj.stockInKg" name="stockInKg" id="stockInKg" placeholder="Stock In Kg" autocomplete="off" tabindex="8">
										</div>
									</div>
								</div>
							</div>	
							</div>
								</div>
							</div>					
					</div>
					
					</form>
				</div>
			</div>
				<div class="m-portlet__body">
					<!--begin::Section-->
					
					<div class="m-section">
						<div class="m-section__content">
								<div class="ui-widget-header" style="border-bottom: 0 none">
										<i class="fa fa-search searchIcon"></i>
										<input #gb type="text" pInputText size="50" placeholder="Search" class="form-control siteSearchbox">
										
										<!-- Add Button -->
										<button  *ngIf="!toggleDiv" class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--air m-btn--pill btnAddForm" (click)="toggleButton()" [isAuthorize]="['stockmanagement']">
											<span>
												<i class="flaticon-add"></i>
												<span>
													Add Product Stock Detail
												</span>
											</span>
										</button>
									</div>
							<p-dataTable [value]="trnProductStockList" [emptyMessage]="tableEmptyMesssage" class="table listingTable" [rows]="pageSize" [globalFilter]="gb" #dt [lazy]="true" [paginator]="true"  [rowsPerPageOptions]="[20,50,100,200,500]"
                            [totalRecords]="totalCount" (onLazyLoad)="loadLazy($event)">
                            <p-column field="mstCategory.name" header="Category" [style]="{'text-align':'left'}"></p-column>
								<p-column field="mstCollection.collectionCode" header="Collection" [style]="{'text-align':'left'}"></p-column>
								<p-column field="accessoryCode" header="Accessory Code" [style]="{'text-align':'left'}"></p-column>
                                <p-column field="serialno" header="Serial Number" [style]="{'text-align':'left'}"></p-column>
                                <p-column field="fomItem" header="Foam Item" [style]="{'text-align':'left'}"></p-column>
                                <p-column field="matSize" header="Mattress Size" [style]="{'text-align':'left'}"></p-column>
                                <p-column field="stock" header="Product Stock" [style]="{'text-align':'left'}"></p-column>
								<p-column styleClass="col-button" [style]="{'text-align':'left'}">
									<ng-template pTemplate="header">
										Action
									</ng-template>
									<ng-template let-row="rowData" pTemplate="body" >
										<button type="button" pButton (click)="onEditClick(row)" icon="fa fa-pencil" class="editBtn" title="Edit"></button>
									</ng-template>
								</p-column>
							</p-dataTable>
						</div>
					</div>
					<!--end::Section-->
				</div>
			</div>
			<!--end::Portlet-->
		</div>
	</div>
</div>