<p-confirmDialog #cd>
   <p-footer>
      <button type="button" class="btn btn-accent m-btn m-btn--icon" (click)="cd.accept()">
      <span>
      <i class="la la-check"></i>
      <span>
      Yes
      </span>
      </span>
      </button>
      <button type="button" class="btn btn-secondary m-btn m-btn--icon" (click)="cd.reject()">
      <span>
      <i class="la la-close"></i>
      <span>
      No
      </span>
      </span>
      </button>
   </p-footer>
</p-confirmDialog>
<div class="m-subheader">
   <div class="d-flex align-items-center">
      <div class="mr-auto">
         <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
            <li class="m-nav__item m-nav__item--home">
               <a href="#" class="m-nav__link m-nav__link--icon">
               <i class="m-nav__link-icon la la-home"></i>
               </a>
            </li>
            <li class="m-nav__separator">
               -
            </li>
            <li class="m-nav__item">
               <a class="m-nav__link">
               <span class="m-nav__link-text">
               Mattress Sizes
               </span>
               </a>
            </li>
         </ul>
      </div>
      <div *ngIf="toggleDiv" class="m-form__actions m-form__actions--solid formTopActionBtnBox">
         <button type="submit" class="btn btn-accent m-btn m-btn--air m-btn--custom formTopActionBtn"  form="matSizeForm" [ngClass]="(matSizeForm && !matSizeForm.form.valid) ?'cursorNotAllowed':'cursorPointer'" title="{{(matSizeForm && matSizeForm.form.valid) ? 'Please fill in all the required fields' :  params ? 'Update' : 'Save'}}" [disabled]="matSizeForm && !matSizeForm.form.valid" [isAuthorize]="['mattresssize']">
         {{ params ? 'Update' : 'Save' }}
         </button>
         <button class="btn btn-secondary" [isAuthorize]="['mattresssize']" (click)="onCancel()">
         Cancel
         </button>
      </div>
   </div>
</div>
<!-- END: Subheader -->
<div class="m-content">
	<div class="row">
		<div class="col-lg-12">
			<!--begin::Portlet-->
			<div class="m-portlet">
				
				<div class="row">
				
				<div class="col-md-12" *ngIf="toggleDiv">
					<form class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed" role="form" novalidate (ngSubmit)="onSubmit(matSizeForm)"  #matSizeForm="ngForm"  id="matSizeForm">
					<div class="formContainerSamePage">
						
								<div class="row">
										<div class="col-md-12">
										<div class="panel panel-default">
												<div class="panel-heading">Mattress Size Basic Information</div>
												<div class="panel-body">	
													<div class="form-group">
														<div class="col-md-4 formContentbox">
															<label class="fieldLabel col-sm-5">Collection <span class="requiredField">*</span></label>
															<div class="col-sm-7">
																<p-dropdown class="feePlanBox" [options]="collectionList" [style]="{'width':'100%'}" #selectedCollectionVal="ngModel"  required styleClass="{{ selectedCollectionVal.errors && isFormSubmitted?'red-border-class':''}}"  [(ngModel)]="selectedCollection" [disabled]="disabled" name="collection" (ngModelChange)="onCollectionClick()"></p-dropdown>
															</div>	
														</div>
														<div class="col-md-4 formContentbox">
															<label class="fieldLabel col-sm-5">Quality <span class="requiredField">*</span></label>
															<div class="col-sm-7">
																<p-dropdown class="feePlanBox" [options]="qualityList" [style]="{'width':'100%'}" #selectedQualityVal="ngModel"  required  styleClass="{{ selectedQualityVal.errors && isFormSubmitted?'red-border-class':''}}"  [(ngModel)]="selectedQuality" [disabled]="disabled" name="quality" (ngModelChange)="onQualityClick()"></p-dropdown>
															</div>
														</div>	
														<div class="col-md-4 formContentbox">
															<label class="fieldLabel col-sm-5">Thickness <span class="requiredField">*</span></label>
															<div class="col-sm-7">
																<p-dropdown class="feePlanBox" [options]="thicknessList" [style]="{'width':'100%'}" #selectedThicknessVal="ngModel"  required  styleClass="{{ selectedThicknessVal.errors && isFormSubmitted?'red-border-class':''}}"  [(ngModel)]="selectedThickness" name="thickness"></p-dropdown>
															</div>
														</div>
														</div>
														<div class="form-group">
														<div class="col-md-4 formContentbox">
																<div class="form-group">
																	<label class="fieldLabel col-sm-5">Length<span class="requiredField">*</span></label>
																	<div class="col-sm-7">
																		<input class="form-control m-input" type="number" value=""  (blur)="calculateSizeCode()"  maxlength="10" #lengthVal="ngModel" required [ngClass]="{'red-border-class': lengthVal.errors && isFormSubmitted}" [(ngModel)]="matSizeObj.length" name="length" id="length" placeholder="">
																		<!-- <div class="alertMsg" *ngIf="stockReorderLevelVal.errors   && (stockReorderLevelVal.dirty || stockReorderLevelVal.touched)">
																			Please enter StockReorderLevel
																		</div> -->
																	</div>
																</div>
															</div>
														<div class="col-md-4 formContentbox">
															<div class="form-group">
																<label class="fieldLabel col-sm-5">Width <span class="requiredField">*</span></label>
																<div class="col-sm-7">
																	<input class="form-control m-input" type="number" value="" (blur)="calculateSizeCode()" maxlength="10" #widthVal="ngModel" required [ngClass]="{'red-border-class': widthVal.errors && isFormSubmitted}" [(ngModel)]="matSizeObj.width" name="width" id="width" placeholder="">
																	<!-- <div class="alertMsg" *ngIf="stockReorderLevelVal.errors   && (stockReorderLevelVal.dirty || stockReorderLevelVal.touched)">
																		Please enter StockReorderLevel
																	</div> -->
																</div>
															</div>
														</div>
													
														<div class="col-md-4 formContentbox">
															<div class="form-group">
																<label class="fieldLabel col-sm-5">Size Code <span class="requiredField">*</span></label>
																<div class="col-sm-7">
																	<input class="form-control m-input" type="text" disabled value="" maxlength="10" #sizeCodeVal="ngModel" required [ngClass]="{'red-border-class': sizeCodeVal.errors && isFormSubmitted}" [(ngModel)]="matSizeObj.sizeCode" name="sizeCode" id="sizeCode" placeholder="">
																	<!-- <div class="alertMsg" *ngIf="sizeCodeVal.errors   && (sizeCodeVal.dirty || sizeCodeVal.touched)">
																		Please enter Size Code
																	</div> -->
																</div>
															</div>
														</div>
													</div>
													<div class="form-group">
														<div class="col-md-4 formContentbox">
															<div class="form-group">
																<label class="fieldLabel col-sm-5">Rate <span class="requiredField">*</span></label>
																<div class="col-sm-7">
																	<input class="form-control m-input" type="text" value="" maxlength="10" #rateVal="ngModel" required onKeyPress="if(this.value.length==10) return false;" [textMask]="{mask: rateMask}" onchange="this.value=this.value!=''? parseFloat(this.value).toFixed(2):''" [ngClass]="{'red-border-class': rateVal.errors && isFormSubmitted}" [(ngModel)]="matSizeObj.rate" name="rate" id="rate" placeholder="" (change)="onInputChange()">
																	 <div class="alertMsg" *ngIf="rateVal.errors   && (rateVal.dirty || rateVal.touched)">
																		Please enter Rate
																	</div>
																</div>
															</div>
														</div>
														<div class="col-md-4 formContentbox">
															<div class="form-group">
																<label class="fieldLabel col-sm-5"> Purchase Disc (%) <span class="requiredField">*</span></label>
																<div class="col-sm-7">
																	<input class="form-control m-input" type="number" value="" maxlength="2" #purchaseDiscountVal="ngModel" required onKeyPress="if(this.value.length==2) return false;" [ngClass]="{'red-border-class': purchaseDiscountVal.errors && isFormSubmitted}" [(ngModel)]="matSizeObj.purchaseDiscount" name="purchaseDiscount" id="purchaseDiscount" placeholder="" (change)="onInputChange()">
																	<div class="alertMsg" *ngIf="rateVal.errors   && (rateVal.dirty || rateVal.touched)">
																		Enter purchase discount
																	</div> 
																</div>
															</div>
														</div>
														<div class="col-md-4 formContentbox">
															<div class="form-group">
																<label class="fieldLabel col-sm-5">Purchase Rate <span class="requiredField">*</span></label>
																<div class="col-sm-7">
																	<input class="form-control m-input" type="number" value="" maxlength="10" [disabled]="true" #purchaseRateVal="ngModel" required onKeyPress="if(this.value.length==10) return false;" [ngClass]="{'red-border-class': purchaseRateVal.errors && isFormSubmitted}" [(ngModel)]="matSizeObj.purchaseRate" name="purchaseRate" id="purchaseRate" placeholder="">
																	<!-- <div class="alertMsg" *ngIf="rateVal.errors   && (rateVal.dirty || rateVal.touched)">
																		Please enter Rate
																	</div> -->
																</div>
															</div>
														</div>
													</div>
													<div class="form-group">
														<div class="col-md-4 formContentbox">
															<div class="form-group">
																<label class="fieldLabel col-sm-5">Stock Reorder Level <span class="requiredField">*</span></label>
																<div class="col-sm-7">
																	<input class="form-control m-input" type="number" value="" maxlength="10" #stockReorderLevelVal="ngModel" required [ngClass]="{'red-border-class': stockReorderLevelVal.errors && isFormSubmitted}" [(ngModel)]="matSizeObj.stockReorderLevel" name="stockReorderLevel" id="stockReorderLevel" placeholder="">
																	<!-- <div class="alertMsg" *ngIf="stockReorderLevelVal.errors   && (stockReorderLevelVal.dirty || stockReorderLevelVal.touched)">
																		Please enter StockReorderLevel
																	</div> -->
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
								</div>
								
								
				<!-- <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
					<div class="m-form__actions m-form__actions--solid">
						<div class="row">
							<div class="col-lg-6">
								<button type="submit" class="btn btn-accent m-btn m-btn--air m-btn--custom" [ngClass]="matSizeForm.invalid ?'cursorNotAllowed':'cursorPointer'" title="{{ matSizeForm.invalid ? 'Please fill in all the required fields' :  params ? 'Update' : 'Save'}}" [disabled]="matSizeForm.invalid" [isAuthorize]="['mattresssize']">
										{{ params ? 'Update' : 'Save' }}
								</button>
								<button class="btn btn-secondary" [isAuthorize]="['mattresssize']" (click)="onCancel()">
										Cancel
								</button>
							</div>
						</div>
					</div>
				</div> -->
							
						
					</div>
					
					</form>
				</div>
			</div>
				<div class="m-portlet__body">
					<!--begin::Section-->
					
					<div class="m-section">
						<div class="m-section__content">
								<div class="ui-widget-header" style="border-bottom: 0 none">
										<i class="fa fa-search searchIcon"></i>
										<input #gb type="text" pInputText size="50" placeholder="Search" class="form-control siteSearchbox">
										
										<!-- Add Button -->
										<button  *ngIf="!toggleDiv" class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--air m-btn--pill btnAddForm" (click)="toggleButton()" [isAuthorize]="['mattresssize']">
											<span>
												<i class="flaticon-add"></i>
												<span>
													Add Mattress Size
												</span>
											</span>
										</button>
									</div>
							<p-dataTable [value]="matSizeList" [emptyMessage]="tableEmptyMesssage" class="table listingTable" [rows]="pageSize" [globalFilter]="gb" #dt [lazy]="true" [paginator]="true"  [rowsPerPageOptions]="[20,50,100,200,500]"
                            [totalRecords]="totalCount" (onLazyLoad)="loadLazy($event)">
                                <p-column field="mstCollection.collectionCode" header="Collection" [style]="{'text-align':'left'}"></p-column>
                                <p-column field="mstQuality.qualityCode" header="Quality" [style]="{'text-align':'left'}"></p-column>
                                <p-column field="mstMatThickNess.thicknessCode" header="Thickness" [style]="{'text-align':'left'}"></p-column>
                                <p-column field="sizeCode" header="MatSize" [style]="{'text-align':'left'}"></p-column>
                                <p-column field="rate" header="Rate" [style]="{'text-align':'left'}"></p-column>
								<p-column styleClass="col-button" [style]="{'text-align':'left'}">
									<ng-template pTemplate="header">
										Action
									</ng-template>
									<ng-template let-row="rowData" pTemplate="body" >
										<button type="button" pButton (click)="onEditClick(row)" icon="fa fa-pencil" class="editBtn" title="Edit"></button>
										<button type="button" pButton (click)="onDelete(row)" icon="fa fa-trash-o" class="delBtn" title="Delete"></button>
									</ng-template>
								</p-column>
							</p-dataTable>
						</div>
					</div>
					<!--end::Section-->
				</div>
			</div>
			<!--end::Portlet-->
		</div>
	</div>
</div>