<p-confirmDialog #cd>
	<p-footer>
		<button type="button" class="btn btn-accent m-btn m-btn--icon" (click)="cd.accept()">
			<span>
				<i class="la la-check"></i>
				<span>
					Yes
				</span>
			</span>
		</button>
		<button type="button" class="btn btn-secondary m-btn m-btn--icon" (click)="cd.reject()">
			<span>
				<i class="la la-close"></i>
				<span>
					No
				</span>
			</span>
		</button>
	</p-footer>
</p-confirmDialog>

<div class="m-subheader">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
				<li class="m-nav__item m-nav__item--home">
					<a href="#" class="m-nav__link m-nav__link--icon">
						<i class="m-nav__link-icon la la-home"></i>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a class="m-nav__link">
						<span class="m-nav__link-text">
							Purchase Order
						</span>
					</a>
				</li>
			</ul>
		</div>
		<div class="m-form__actions m-form__actions--solid formTopActionBtnBox">
			<button type="submit" class="btn btn-accent m-btn m-btn--air m-btn--custom formTopActionBtn" form="trnProductStockForm" title="{{(trnProductStockForm && trnProductStockForm.form.valid) ? 'Please fill in all the required fields' :  params ? 'Update' : 'Save'}}"
			 [isAuthorize]="['purchaseorder']" tabindex="8">
				{{ params ? 'Update' : 'Save' }}
			</button>
			<button class="btn btn-secondary" [isAuthorize]="['purchaseorder']" (click)="onCancel()" tabindex="9">
				Cancel
			</button>
		</div>
	</div>
</div>
<!-- END: Subheader -->
<div class="m-content">
	<div class="row">
		<div class="col-lg-12">
			<!--begin::Portlet-->
			<div class="m-portlet">

				<!--++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->

				<div class="row">

					<div class="col-md-12">

						<div class="formContainerSamePage">
							<form class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed inputForm" role="form" novalidate
							 (ngSubmit)="onSubmit(trnProductStockForm)" #trnProductStockForm="ngForm" id="trnProductStockForm">
								<div class="row">

									<div class="col-md-12">

										<div class="row">
											<div class="col-md-12">
												<!-- Basic Details -->
												<div class="panel panel-default">
													<div class="panel-heading">Basic Details</div>
													<div class="panel-body">

														<div class="row form-group">
														
															<div class="col-md-6">
																<div class="row">
																	<div class="col-md-6">
																		<label class="col-md-4 col-sm-4 fieldLabel">Date</label>
																		<div class="col-md-8 col-sm-8">
																			<p-calendar class="purchaseOrderDate" #orderDateVal="ngModel" [(ngModel)]="trnPurchaseOrderObj.orderDate" name="orderDate" [monthNavigator]="true"
																			 [yearNavigator]="true" tabindex="1" yearRange="2015:2030"  dateFormat="dd/mm/yy"  styleClass="{{ orderDateVal.errors && isFormSubmitted?'red-border-class':''}}"
																			 required></p-calendar>
																		</div>
																	</div>
																	<div class="col-md-6">
																		<label class="col-md-5 col-sm-5 fieldLabel noPadding">Purchase Order No.</label>
																		<div class="col-md-7 col-sm-7">
																			<input type="text" [(ngModel)]="trnPurchaseOrderObj.orderNumber" name="PurchaseOrderNo" class="form-control" #orderNoVal="ngModel"
																			 readonly tabindex="2" placeholder="">
																		</div>
																	</div>
																</div>
															</div>
															<div class="col-md-6">
																<label class="col-md-2 col-sm-2 fieldLabel">Supplier<span class="requiredField">*</span></label>
																<div class="col-md-10 col-sm-10 customerNameBox">

																	<p-dropdown class="feePlanBox" [options]="supplierCodeList" required [(ngModel)]="trnPurchaseOrderObj.supplierId" #supplierCodeVal="ngModel"
																	 required styleClass="{{ supplierCodeVal.errors && isFormSubmitted?'red-border-class':''}}" [style]="{'width':'100%'}"
																	 name="supplierCodeDDl" filter="true" tabindex="3"></p-dropdown>
																</div>
															</div>
														
														</div>

														<div class="row form-group">
															<div class="col-md-3">
																<label class="col-md-4 col-sm-4 fieldLabel">Courier<span class="requiredField">*</span></label>
																<div class="col-md-8 col-sm-8">
																	<p-dropdown class="feePlanBox" [options]="courierList" required [(ngModel)]="trnPurchaseOrderObj.courierId" #courierVal="ngModel"
																	 required [style]="{'width':'100%'}" styleClass="{{ courierVal.errors && isFormSubmitted?'red-border-class':''}}"
																	 name="courierDDl" filter="true" tabindex="4"></p-dropdown>
																</div>
															</div>

															<div class="col-md-3">
																<label class="col-md-5 col-sm-5 fieldLabel noPadding">Courier Mode<span class="requiredField">*</span></label>
																<div class="col-md-7 col-sm-7">
																	<!-- <select name="CourierMode" class="feePlanBox" [(ngModel)]="trnPurchaseOrderObj.courierMode" required style="width:100%;"  tabindex="5">
																		<option value="Air">Air</option>
																		<option value="Surface">Surface</option>
																	</select> -->
																	<p-dropdown class="feePlanBox" [options]="courierModeList" required [(ngModel)]="trnPurchaseOrderObj.courierMode" #courierModeVal="ngModel"
																	 required [style]="{'width':'100%'}" styleClass="{{ courierModeVal.errors && isFormSubmitted?'red-border-class':''}}"
																	 name="courierModeDDl" filter="true" tabindex="5"></p-dropdown>
																</div>
															</div>
															<div class="col-md-3">
																<label class="col-md-4 col-sm-4 fieldLabel">Location<span class="requiredField">*</span></label>
																<div class="col-md-8 col-sm-8">
																	<p-dropdown class="feePlanBox" [options]="locationList" required [(ngModel)]="trnPurchaseOrderObj.locationId" #locationVal="ngModel"
																	 required [style]="{'width':'100%'}" styleClass="{{ locationVal.errors && isFormSubmitted?'red-border-class':''}}"
																	 name="LocationDDl" filter="true" tabindex="6" (ngModelChange)="onChangeLocation()"></p-dropdown>
																</div>
															</div>
														</div>
														<!--Shipping Address-->
														<div class="row">
															<div class="col-md-12">
																<div class="shippingAddressBox" *ngIf="this.locationObj.addressLine1">
																	<p>
																		<b>Shipping Address - </b> {{this.locationObj.addressLine1}} {{this.locationObj.addressLine2}} , {{this.locationObj.state}}
																		,{{this.locationObj.city}} PINCODE -{{this.locationObj.pin}} </p>
																</div>
															</div>
														</div>
														<div class="row form-group">
															
																<div class="col-md-6">
																		<label class="col-md-2 col-sm-2 fieldLabel">Remark</label>
																		<div class="col-md-10 col-sm-10 purchaseRemarkBox">
																				<input type="text" [(ngModel)]="trnPurchaseOrderObj.remark" name="remark" class="form-control" #remarkVal="ngModel"
																				 tabindex="7" placeholder="">
																		</div>
																</div>
															
														</div>
													</div>
												</div>
											</div>

										</div>

									</div>

									<div class="col-md-12">
										<div class="panel panel-default">
											<div class="panel-heading">Item Details</div>
											<div class="panel-body">
												<div class="row form-group">
													<div class="col-md-4">
														<label class="col-md-4 col-sm-4 fieldLabel">Category</label>
														<div class="col-md-8 col-sm-8">
															<p-dropdown class="feePlanBox" [options]="categoriesCodeList" [(ngModel)]="categoryId" [style]="{'width':'100%'}" styleClass="{{categoryIdError?'red-border-class':'' }}"
															 (ngModelChange)="onChangeCategory()" name="categoriesDDl" filter="true" tabindex="5"></p-dropdown>
														</div>
													</div>
													<div class="col-md-4">
														<label class="col-md-4 col-sm-4 fieldLabel">Collection</label>
														<div class="col-md-8 col-sm-8">
															<p-dropdown class="feePlanBox" [options]="collectionList" [(ngModel)]="collectionId" [style]="{'width':'100%'}" styleClass="{{collectionIdError?'red-border-class': ''}}"
															 name="collectionCodeDDl" filter="true" tabindex="6" (ngModelChange)="onChangeCollection()"></p-dropdown>
														</div>
													</div>
													<div class="col-md-4" *ngIf="categoryId==1 || categoryId==5 || categoryId==6">
															<label class="col-md-4 col-sm-4 fieldLabel">Serial No.</label>
															<div class="col-md-8 col-sm-8">
																<p-dropdown class="feePlanBox" [options]="shadeIdList" [(ngModel)]="shadeId" [style]="{'width':'100%'}" styleClass="{{shadeIdError?'red-border-class':'' }}"
																 name="shadeIdDDl" filter="true" tabindex="7"></p-dropdown>
															</div>
														</div>
													<div class="col-md-4" *ngIf="categoryId==4">
														<label class="col-md-4 col-sm-4 fieldLabel">Mat size</label>
														<div class="col-md-8 col-sm-8">
															<p-dropdown class="feePlanBox" [options]="matSizeList" [(ngModel)]="matSizeId" [style]="{'width':'100%'}" styleClass="{{matSizeIdError?'red-border-class':'' }}"
															 name="shadeIdDDl" filter="true" tabindex="7"></p-dropdown>
														</div>
													</div>
													<div class="col-md-4" *ngIf="categoryId==2">
															<label class="col-md-4 col-sm-4 fieldLabel">Foam size</label>
															<div class="col-md-8 col-sm-8">
																<p-dropdown class="feePlanBox" [options]="foamSizeList" [(ngModel)]="foamSizeId" [style]="{'width':'100%'}" styleClass="{{shadeIdError?'red-border-class':'' }}"
																 name="shadeIdDDl" filter="true" tabindex="7"></p-dropdown>
															</div>
														</div>
												</div>
												<div class="row form-group" *ngIf="categoryId==4 && collectionId==4 && matSizeId==-1">
													<div class="col-md-4">
														<label class="col-md-4 col-sm-4 fieldLabel">Length</label>
														<div class="col-md-8 col-sm-8">
															<input type="text" class="form-control" OnlyNumber="true" DecimalPlaces="0" minValue="0" maxValue="999" [ngClass]="{'red-border-class': lengthErrors}"
															 [(ngModel)]="length" name="length" placeholder="" autocomplete="off">
														</div>
													</div>
													<div class="col-md-4">
														<label class="col-md-4 col-sm-4 fieldLabel">Width</label>
														<div class="col-md-8 col-sm-8">
															<input type="text" class="form-control" OnlyNumber="true" DecimalPlaces="0" minValue="0" maxValue="999" [ngClass]="{'red-border-class': widthErrors}"
															 (blur)="calculateSizeCode();" [(ngModel)]="width" name="width" placeholder="" autocomplete="off">
														</div>
													</div>
													<div class="col-md-4">
														<label class="col-md-4 col-sm-4 fieldLabel">Size Code</label>
														<div class="col-md-8 col-sm-8">
															<input type="text" class="form-control" disabled [(ngModel)]="sizecode" name="sizecode" placeholder="">
														</div>
													</div>
												</div>

												<div class="row form-group">
													<div class="col-md-4">
														<label class="col-md-4 col-sm-4 fieldLabel">Order Quantity</label>
														<div class="col-md-8 col-sm-8">
															<input class="form-control" OnlyNumber="true" DecimalPlaces="0" minValue="0" maxValue="99999" [ngClass]="{'red-border-class': orderQuantityError}"
															 [(ngModel)]="orderQuantity" name="orderQunatity" tabindex="8" placeholder="" (blur)="changeOrderType()">
														</div>
													</div>
													<div class="col-md-4">
														<label class="col-md-4 col-sm-4 fieldLabel">Order Type</label>
														<div class="col-md-8 col-sm-8">
															<label class="orderTypeLabel">{{orderType}}</label>
														</div>
													</div>
												</div>

												<div class="m-form__actions m-form__actions--solid formTopActionBtnBox formAddItemBox">
													<input type="button" class="btn btn-accent m-btn m-btn--air m-btn--custom formTopActionBtn" value="Add To List" tabindex="9" (click)="addItemToList()" />
													<input type="button" class="btn btn-secondary" value="Cancel" (click)="onCancelItemDetails()" tabindex="10">
												</div>
											</div>
										</div>
									</div>
								</div>
							</form>
							<div class="row">
								<div class="col-md-12">
									<table class="staticTable merchantTable" id="">
										<thead>
											<tr>
												<th title="">
													Category
												</th>
												<th title="">
													Collection
												</th>
												<th title="">
													Serial No/Size
												</th>
												<th title="">
													Quantity
												</th>
												<th title="">
													Type
												</th>
												<th title="">
													Action
												</th>
											</tr>
										</thead>
										<tbody>
											<tr *ngIf="itemDetails.length==0">
												<td colspan="5">
													No Record Found
												</td>
											</tr>
											<tr *ngFor="let row of itemDetails;let rowNum=index;let lastRowNum=last;">
												<td>{{row.categotryName}}</td>
												<td>{{row.collectionName}}</td>
												<td>{{row.serialno}} {{row.size}}</td>
												<td> {{row.quantity}}</td>
												<td>{{row.orderType}}</td>
												<td>
													<div class="">
														<!-- <button title="Edit" type="button" class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill"
															*ngIf="!row.enable" (click)="enableEdit(row)">
															<i class="la la-edit" style="vertical-align: middle;margin-top: -2px;margin-right: 0;"></i>
														</button> -->
														<!-- <button title="Cancel" type="button" class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill"
														*ngIf="row.enable" (click)="cancelEdit(row)">
														<i class="la la-undo" style="vertical-align: middle;margin-top: -2px;margin-right: 0;"></i>
													</button> -->
														<button title="Delete" type="button" class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill"
														 *ngIf="row.enable ||!row.id" (click)="onDeleteItemDetails(row.id,rowNum)">
															<i class="la la-close" style="vertical-align: middle;margin-top: -2px;margin-right: 0;"></i>
														</button>
														<!-- <button title="Save" type="button" class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill"
															*ngIf="row.enable ||!row.id" (click)="onSaveItemDetails(row,isDefaultSelected)">
															<i class="la la-save" style="vertical-align: middle;margin-top: -2px;margin-right: 0;"></i>
														</button> -->

													</div>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>

					</div>
				</div>


				<!--++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
			</div>
			<!--end::Portlet-->
		</div>
	</div>
</div>