<p-confirmDialog #cd>
	<p-footer>
		<button type="button" class="btn btn-accent m-btn m-btn--icon" (click)="cd.accept()">
			<span>
				<i class="la la-check"></i>
				<span>
					Yes
				</span>
			</span>
		</button>
		<button type="button" class="btn btn-secondary m-btn m-btn--icon" (click)="cd.reject()">
			<span>
				<i class="la la-close"></i>
				<span>
					No
				</span>
			</span>
		</button>
	</p-footer>
</p-confirmDialog>

<div class="m-subheader">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
				<li class="m-nav__item m-nav__item--home">
					<a href="#" class="m-nav__link m-nav__link--icon">
						<i class="m-nav__link-icon la la-home"></i>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a class="m-nav__link">
						<span class="m-nav__link-text">
							Material Selection
						</span>
					</a>
				</li>
			</ul>
		</div>
		<div class="m-form__actions m-form__actions--solid formTopActionBtnBox">
			<button type="submit" *ngIf="params" class="topBtn btn btn-success" [isAuthorize]="['materialselection']" title="{{ (params && (trnMaterialSelectionObj.isQuotationCreated == false)) ? 'Update And Create Quotation' : 'View Quotation' }}"
			 (click)="onUpdateAndCreateQuotation()" tabindex="9">
				{{ (params && (trnMaterialSelectionObj.isQuotationCreated == false)) ? 'Update And Create Quotation' : 'View Quotation' }}
			</button>
			<button type="submit" *ngIf="viewItem" class="btn btn-accent m-btn m-btn--air m-btn--custom formTopActionBtn" form="trnMaterialSelectionForm"
			 title="{{(trnMaterialSelectionForm && trnMaterialSelectionForm.form.valid) ? 'Please fill in all the required fields' :  params ? 'Update' : 'Save'}}"
			 [isAuthorize]="['materialselection']" tabindex="16">
				{{ params ? 'Update' : 'Save' }}
			</button>
			<button class="btn btn-secondary" [isAuthorize]="['materialselection']" (click)="onCancel()" tabindex="17">
				Cancel
			</button>
		</div>
	</div>
</div>
<!-- END: Subheader -->
<div class="m-content">
	<div class="row">
		<div class="col-lg-12">
			<!--begin::Portlet-->
			<div class="m-portlet">

				<!--++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->

				<div class="row">

					<div class="col-md-12">

						<div class="formContainerSamePage">
							<form class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed inputForm" role="form" novalidate
							 (ngSubmit)="onSubmit(trnMaterialSelectionForm)" #trnMaterialSelectionForm="ngForm" id="trnMaterialSelectionForm">
								<div class="row">

									<div class="col-md-12">

										<div class="row">
											<div class="col-md-12">
												<!-- Basic Details -->
												<div class="panel panel-default">
													<div class="panel-heading">Basic Details</div>
													<div class="panel-body">

														<div class="row form-group">

															<div class="col-md-6">
																<div class="row">
																	<div class="col-md-6">
																		<label class="col-md-4 col-sm-4 fieldLabel noPadding">Date</label>
																		<div class="col-md-8 col-sm-8">
																			<p-calendar class="purchaseOrderDate" #materialSelectionDateVal="ngModel" [(ngModel)]="trnMaterialSelectionObj.materialSelectionDate"
																			 name="materialSelectionDate" [monthNavigator]="true" [yearNavigator]="true" tabindex="1" [disabled]="disabled"
																			 yearRange="2015:2030" dateFormat="dd/mm/yy" styleClass="{{ materialSelectionDateVal.errors && isFormSubmitted?'red-border-class':''}}"
																			 autofocus required></p-calendar>
																		</div>
																	</div>
																	<div class="col-md-6">
																		<label class="col-md-5 col-sm-5 fieldLabel noPadding">Material Selection No.</label>
																		<div class="col-md-7 col-sm-7">
																			<input type="text" [(ngModel)]="trnMaterialSelectionObj.materialSelectionNumber" name="materialSelectionNumber" class="form-control"
																			 #orderNoVal="ngModel" disabled placeholder="">
																		</div>
																	</div>

																</div>
															</div>
															<div class="col-md-6">
																<label class="col-md-2 col-sm-2 fieldLabel">Customer<span class="requiredField">*</span>
																</label>
																<div class="col-md-8 col-sm-8 customerNameBox">
																	<select class="form-control" required name="customer" [(ngModel)]="trnMaterialSelectionObj.customerId" #selectedCustomerVal="ngModel" [disabled]="!viewItem" [ngClass]="{'red-border-class': selectedCustomerVal.errors && isFormSubmitted}" style="float: left;width: 85%;" tabindex="2">
																		<option *ngFor="let x of customerList" [ngValue]="x.value">{{x.label}}</option>
																	</select>
																	 <!-- <p-dropdown class="feePlanBox" [options]="customerList" [style]="{'width':'100%'}" #selectedCustomerVal="ngModel" [(ngModel)]="trnMaterialSelectionObj.customerId"
																	 required styleClass="{{ selectedCustomerVal.errors && isFormSubmitted?'red-border-class':''}}" name="customer"
																	 [disabled]="!viewItem" filter="true" tabindex="2" style="float: left;width: 85%;"></p-dropdown> -->

																	<button type="button" class="btn" (click)="showDialog()" [disabled]="!viewItem" title="Add Customer" style="padding: 2px 5px!important;margin-left: 7px;" tabindex="3"><i class="fa fa-plus" style="font-size: 13px;vertical-align: middle;"></i></button>
																</div>
															</div>


														</div>
														<div class="row form-group">
															<!-- <div class="col-md-3">
																<label class="col-md-5 col-sm-5 fieldLabel noPadding">isQuotationCreated</label>
																<div class="col-md-7 col-sm-7">
																	<input type="checkbox" name="isQuotationCreated" [(ngModel)]="trnMaterialSelectionObj.isQuotationCreated" value="1" [disabled]="!status" class="" style="float: none;margin-left:0!important;" tabindex="11"> 
																</div>
															</div> -->
															<div class="col-md-3">
																<label class="col-md-4 col-sm-4 fieldLabel noPadding">Referred By
																</label>
																<div class="col-md-8 col-sm-8">
																	<select class="form-control" name="agent" [(ngModel)]="trnMaterialSelectionObj.referById" [disabled]="!viewItem" tabindex="4">
																		<option *ngFor="let x of agentList" [ngValue]="x.value" [selected]="trnMaterialSelectionObj.referById == x.value">{{x.label}}</option>
																	</select>
																	<!-- <p-dropdown class="feePlanBox" [options]="agentList" [disabled]="!viewItem" [style]="{'width':'100%'}" [(ngModel)]="trnMaterialSelectionObj.referById"
																	 name="agent" filter="true" tabindex="4"></p-dropdown> -->
																</div>
															</div>
														</div>


													</div>
												</div>


											</div>

										</div>

										<div class="row">
											<div class="col-md-12">
												<div class="panel panel-default">
													<div class="panel-heading">Item Details</div>
													<div class="panel-body" *ngIf="viewItem">
														<div class="row form-group">
															<div class="col-md-4">
																<label class="col-md-4 col-sm-4 fieldLabel ">Selection Type<span class="requiredField">*</span></label>
																<div class="col-md-8 col-sm-8">
																	<select class="form-control" required name="selectionType" [(ngModel)]="trnMaterialSelectionObj.selectionType" [ngClass]="{'red-border-class': selectionTypeError}" (ngModelChange)="onChangeSelectionType()" tabindex="5">
																		<option *ngFor="let x of selectionTypeList" [ngValue]="x.value" [selected]="trnMaterialSelectionObj.selectionType == x.value">{{x.label}}</option>
																	</select>
																	<!-- <p-dropdown class="feePlanBox" [options]="selectionTypeList" [(ngModel)]="trnMaterialSelectionObj.selectionType" [style]="{'width':'100%'}"
																	 styleClass="{{ selectionTypeError ?'red-border-class':''}}" (ngModelChange)="onChangeSelectionType()" name="selectionType"
																	 filter="true" tabindex="5"></p-dropdown> -->
																</div>
															</div>
															<div class="col-md-4">
																<label class="col-md-4 col-sm-4 fieldLabel ">Area<span class="requiredField">*</span></label>
																<div class="col-md-8 col-sm-8">
																	<input class="form-control m-input" type="text" [ngClass]="{'red-border-class': areaError}" [(ngModel)]="trnMaterialSelectionObj.area"
																	 name="area" id="area" (input)="onBlurArea()" placeholder="" tabindex="6">
																</div>
															</div>
															<div class="col-md-4">
																<label class="col-md-4 col-sm-4 fieldLabel">Category<span class="requiredField">*</span></label>
																<div class="col-md-8 col-sm-8">
																	<select class="form-control" name="categoryId" [(ngModel)]="categoryId" [ngClass]="{'red-border-class': categoryIdError}" (ngModelChange)="onChangeCategory()" tabindex="7">
																		<option *ngFor="let x of categoriesCodeList" [ngValue]="x.value" [selected]="categoryId == x.value">{{x.label}}</option>
																	</select>
																	<!-- <p-dropdown class="feePlanBox" [options]="categoriesCodeList" [(ngModel)]="categoryId" [style]="{'width':'100%'}" styleClass="{{categoryIdError?'red-border-class':'' }}"
																	 (ngModelChange)="onChangeCategory()" name="categoryId" filter="true" tabindex="7"></p-dropdown> -->
																</div>
															</div>
														</div>
														<div class="row form-group">
															<div class="col-md-4" *ngIf="categoryId!=7">
																<label class="col-md-4 col-sm-4 fieldLabel">Collection<span class="requiredField">*</span></label>
																<div class="col-md-8 col-sm-8">
																	<select class="form-control" name="collectionId" [(ngModel)]="collectionId" [ngClass]="{'red-border-class': collectionIdError}" (ngModelChange)="onChangeCollection()" tabindex="8">
																		<option *ngFor="let x of collectionList" [ngValue]="x.value" [selected]="collectionId == x.value">{{x.label}}</option>
																	</select>
																	<!-- <p-dropdown class="feePlanBox" [options]="collectionList" [(ngModel)]="collectionId" [style]="{'width':'100%'}" styleClass="{{collectionIdError?'red-border-class': ''}}"
																	 name="collectionId" filter="true" tabindex="8" (ngModelChange)="onChangeCollection()"></p-dropdown> -->
																</div>
															</div>
															<div class="col-md-4" *ngIf="categoryId==1 || categoryId==5 || categoryId==6">
																<label class="col-md-4 col-sm-4 fieldLabel">Serial No.<span class="requiredField">*</span>
															</label>
																<div class="col-md-8 col-sm-8">
																	<select class="form-control" name="shadeId" [(ngModel)]="shadeId" [ngClass]="{'red-border-class': shadeIdError}" (ngModelChange)="calculateProductStockDetails()" tabindex="9">
																		<option *ngFor="let x of shadeIdList" [ngValue]="x.value" [selected]="shadeId == x.value">{{x.label}}</option>
																	</select>
																	<!-- <p-dropdown class="form-control" [options]="shadeIdList" [(ngModel)]="shadeId" [style]="{'width':'100%'}" styleClass="{{shadeIdError?'red-border-class':'' }}"
																	 name="shadeId" (ngModelChange)="calculateProductStockDetails()" filter="true" tabindex="9"></p-dropdown> -->
																</div>
															</div>
															<div class="col-md-4" *ngIf="categoryId==4">
																<label class="col-md-4 col-sm-4 fieldLabel">Mat size<span class="requiredField">*</span>
															</label>
																<div class="col-md-8 col-sm-8">
																	<select class="form-control" name="matSizeId" [(ngModel)]="matSizeId" [ngClass]="{'red-border-class': matSizeIdError}" (ngModelChange)="calculateProductStockDetails()" tabindex="9">
																		<option *ngFor="let x of matSizeList" [ngValue]="x.value" [selected]="matSizeId == x.value">{{x.label}}</option>
																	</select>
																	<!-- <p-dropdown class="feePlanBox" [options]="matSizeList" [(ngModel)]="matSizeId" [style]="{'width':'100%'}" styleClass="{{matSizeIdError?'red-border-class':'' }}"
																	 name="matSizeId" (ngModelChange)="calculateProductStockDetails()" filter="true" tabindex="9"></p-dropdown> -->
																</div>
															</div>
															<div class="col-md-4" *ngIf="categoryId==2">
																<label class="col-md-4 col-sm-4 fieldLabel">Foam Item<span class="requiredField">*</span>
															</label>
																<div class="col-md-8 col-sm-8">
																	<select class="form-control" name="fomSizeId" [(ngModel)]="fomSizeId" [ngClass]="{'red-border-class': fomSizeIdError}" (ngModelChange)="calculateProductStockDetails()" tabindex="9">
																		<option *ngFor="let x of fomSizeList" [ngValue]="x.value" [selected]="fomSizeId == x.value">{{x.label}}</option>
																	</select>
																	<!-- <p-dropdown class="feePlanBox" [options]="fomSizeList" [(ngModel)]="fomSizeId" [style]="{'width':'100%'}" styleClass="{{fomSizeIdError?'red-border-class':'' }}"
																	 name="fomSizeId" (ngModelChange)="calculateProductStockDetails()" filter="true" tabindex="9"></p-dropdown> -->
																</div>
															</div>
															<div class="col-md-4" *ngIf="categoryId==7">
																<label class="col-md-4 col-sm-4 fieldLabel">Accessory Code<span class="requiredField">*</span>
															</label>
																<div class="col-md-8 col-sm-8">
																	<select class="form-control" name="accessoryId" [(ngModel)]="accessoryId" [ngClass]="{'red-border-class': accessoryIdError}" (ngModelChange)="calculateProductStockDetails()" tabindex="8">
																		<option *ngFor="let x of accessoryCodeList" [ngValue]="x.value" [selected]="accessoryId == x.value">{{x.label}}</option>
																	</select>
																	<!-- <p-dropdown class="feePlanBox" [options]="accessoryCodeList" [(ngModel)]="accessoryId" [style]="{'width':'100%'}" styleClass="{{accessoryIdError?'red-border-class':'' }}"
																	 name="accessoryId" (ngModelChange)="calculateProductStockDetails()" filter="true" tabindex="8"></p-dropdown> -->
																</div>
															</div>
															<div class="col-md-4" *ngIf="categoryId==4 && matSizeId==-1">
																<label class="col-md-4 col-sm-4 fieldLabel">Quality<span class="requiredField">*</span>
															</label>
																<div class="col-md-8 col-sm-8">
																	<select class="form-control" name="qualityId" [(ngModel)]="qualityId" [ngClass]="{'red-border-class': qualityIdError}" (ngModelChange)="onQualityClick()" tabindex="10">
																		<option *ngFor="let x of qualityList" [ngValue]="x.value" [selected]="qualityId == x.value">{{x.label}}</option>
																	</select>
																	<!-- <p-dropdown class="feePlanBox" [options]="qualityList" [style]="{'width':'100%'}" [(ngModel)]="qualityId" styleClass="{{qualityIdError?'red-border-class':'' }}"
																	 (ngModelChange)="onQualityClick()" name="qualityId" filter="true" tabindex="10"></p-dropdown> -->
																</div>
															</div>
														</div>
														<div class="row form-group" *ngIf="categoryId==4 && matSizeId==-1">
															<div class="col-md-4">
																<label class="col-md-4 col-sm-4 fieldLabel">MatHeight x MatWidth<span class="requiredField">*</span></label>
																<div class="col-md-3 col-sm-3">
																	<input type="text" class="form-control" OnlyNumber="true" DecimalPlaces="2" minValue="0.00" maxValue="999.99" [ngClass]="{'red-border-class': matHeightError}"
																	 [(ngModel)]="matHeight" name="matHeight" (blur)="calculateSizeCode()" placeholder="" tabindex="11" autocomplete="off">
																</div>

																<label class="col-md-2 col-sm-2 fieldLabel">x</label>
																<div class="col-md-3 col-sm-3">
																	<input type="text" class="form-control" OnlyNumber="true" DecimalPlaces="2" minValue="0.00" maxValue="999.99" [ngClass]="{'red-border-class': matWidthError}"
																	 [(ngModel)]="matWidth" name="matWidth" (blur)="calculateSizeCode()" placeholder="" tabindex="12" autocomplete="off">
																</div>
															</div>
															<div class="col-md-4">
																<label class="fieldLabel col-md-4 col-sm-4">Thickness<span class="requiredField">*</span>
															</label>
																<div class="col-md-8 col-sm-8">
																	<select class="form-control" name="matThicknessId" [(ngModel)]="matThicknessId" [ngClass]="{'red-border-class': matThicknessIdError}" (ngModelChange)="onThicknessChange()" tabindex="13">
																		<option *ngFor="let x of thicknessList" [ngValue]="x.value" [selected]="matThicknessId == x.value">{{x.label}}</option>
																	</select>
																	<!-- <p-dropdown class="feePlanBox" [options]="thicknessList" [style]="{'width':'100%'}" [(ngModel)]="matThicknessId" styleClass="{{matThicknessIdError?'red-border-class':'' }}"
																	 name="matThicknessId" (ngModelChange)="onThicknessChange()" filter="true" tabindex="13"></p-dropdown> -->
																</div>
															</div>
														</div>

														<div class="m-form__actions m-form__actions--solid formTopActionBtnBox formAddItemBox">
															<input type="button" class="btn btn-accent m-btn m-btn--air m-btn--custom formTopActionBtn" value="Add To List" tabindex="14"
															 (click)="addItemToList()" />
															<input type="button" class="btn btn-secondary" value="Cancel" (click)="onCancelItemDetails()" tabindex="15">
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</form>
							<div class="row">
								<div class="col-md-12">
									<table class="staticTable" id="">
										<thead>
											<tr>
												<th title="" class="alignleft">
													Selection Type
												</th>
												<th title="" class="alignleft">
													Area
												</th>
												<th title="" class="alignleft">
													Category
												</th>
												<th title="" class="alignleft">
													Collection
												</th>
												<th title="" class="alignleft">
													Serial No./Size
												</th>
												<th title="" *ngIf="viewItem">
													Action
												</th>
											</tr>
										</thead>
										<tbody>
											<tr *ngIf="trnMaterialSelectionItems.length==0">
												<td colspan="5">
													No Record Found
												</td>
											</tr>
											<tr *ngFor="let row of trnMaterialSelectionItems;let rowNum=index;let lastRowNum=last;">
												<td class="alignleft">{{row.selectionType}}</td>
												<td class="alignleft">{{row.area}}</td>
												<td class="alignleft">{{row.categoryName}}</td>
												<td class="alignleft">{{row.collectionId ? row.collectionName:''}}</td>
												<td class="alignleft">{{row.serialno}} {{row.size}}</td>
												<td *ngIf="viewItem">
													<div class="">
														<button title="Delete" type="button" class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill"
														 *ngIf="(row.enable || row.id || !row.id) && viewItem" (click)="onDeleteItemDetails(row.id,rowNum)">
															<i class="la la-close" style="vertical-align: middle;margin-top: -2px;margin-right: 0;"></i>
														</button>
													</div>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>

					</div>
				</div>


				<!--++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
			</div>
			<!--end::Portlet-->
		</div>
	</div>
</div>
<p-dialog header="Customer Details" [(visible)]="display" [closable]="false" modal="modal" [responsive]="true">
	<form class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed inputForm" role="form" novalidate
							 (ngSubmit)="addCustomer(customerForm)" #customerForm="ngForm" id="customerForm">
	<div class="row">
		<div class="col-md-12">
			<!-- Basic Information -->
			<div class="panel panel-default">
				<div class="panel-heading">Customer Basic Information</div>
				<div class="panel-body">
					<div class="form-group">
						<label class="col-md-2 col-sm-2 fieldLabel">Name<span class="requiredField">*</span></label>
						<div class="col-md-3 col-sm-4">
							<input class="form-control" type="text" [ngClass]="{'red-border-class': nameVal.errors && isCustomerSubmitted}" #nameVal="ngModel"
							 [(ngModel)]="name" name="name" id="name" required placeholder="Name" maxlength="100" autofocus tabindex="22">
						</div>
						<label class="col-md-2 col-sm-2 fieldLabel">Code<span class="requiredField">*</span></label>
						<div class="col-md-3 col-sm-2">
							<input class="form-control m-input" type="text" [ngClass]="{'red-border-class': codeVal.errors && isCustomerSubmitted}" #codeVal="ngModel"
							 required [(ngModel)]="code" name="code" id="code" placeholder="Code" maxlength="50" tabindex="23">
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-2 col-sm-2 fieldLabel">Email<span class="requiredField">*</span></label>
						<div class="col-md-3 col-sm-3">
							<input class="form-control" type="email" email [ngClass]="{'red-border-class': emailVal.errors && isCustomerSubmitted}" #emailVal="ngModel"
							 required [(ngModel)]="email" name="email" placeholder="Email" maxlength="254" tabindex="24">
							<div class="alertMsg" *ngIf="emailVal.errors && !emailVal.errors.required && emailVal.errors.email && emailVal.touched">
									Invalid Email.
							</div>
						</div>
						<label class="col-md-2 col-sm-2 fieldLabel">Phone<span class="requiredField">*</span></label>
						<div class="col-md-3 col-sm-3">
							<input class="form-control m-input" type="phone" pattern="^[0-9]+" [ngClass]="{'red-border-class': phoneVal.errors && isCustomerSubmitted}"
							 [(ngModel)]="phone" name="phone" required #phoneVal="ngModel" placeholder="Contact" minlength="10" maxlength="10"
							 tabindex="25">
							<div class="alertMsg" *ngIf="phoneVal.errors && !phoneVal.errors.required && phoneVal.touched">
								Invalid Phone No.
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-2 col-sm-2 fieldLabel">Address 1<span class="requiredField">*</span></label>
						<div class="col-md-3 col-sm-3">
							<input type="text" class="form-control" [ngClass]="{'red-border-class': address1Val.errors && isCustomerSubmitted}" #address1Val="ngModel"
							 required [(ngModel)]="address1" name="address1" placeholder="Address 1" id="address1" tabindex="26">
						</div>
						<label class="col-md-2 col-sm-2 fieldLabel">City<span class="requiredField">*</span></label>
						<div class="col-md-3 col-sm-3">
							<input type="text" class="form-control" [ngClass]="{'red-border-class': cityVal.errors && isCustomerSubmitted}" #cityVal="ngModel"
							 required [(ngModel)]="city" name="city" placeholder="City" id="city" tabindex="27">
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-2 col-sm-2 fieldLabel">Pin<span class="requiredField">*</span></label>
						<div class="col-md-3 col-sm-3">
							<input type="text" class="form-control" pattern="^[0-9]+" [ngClass]="{'red-border-class': pinVal.errors && isCustomerSubmitted}" #pinVal="ngModel"
							 required [(ngModel)]="pin" name="pin" placeholder="PIN" id="pin" minlength="6" maxlength="6" tabindex="28">
							<div class="alertMsg" *ngIf="pinVal.errors && !pinVal.errors.required && pinVal.touched">
								Invalid Pin.
							</div>
						</div>
						<label class="col-md-2 col-sm-2 fieldLabel">State<span class="requiredField">*</span></label>
						<div class="col-md-3 col-sm-3">
							<p-dropdown class="feePlanBox" [options]="states" [style]="{'width':'100%'}" styleClass="{{ stateError && isCustomerSubmitted?'red-border-class':''}}"
							 [(ngModel)]="state" (ngModelChange)="onStateChange()" name="state" filter="true" tabindex="29"></p-dropdown>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-2 col-sm-2 fieldLabel">Type<span class="requiredField">*</span></label>
						<div class="col-md-3 col-sm-3">
						 <p-dropdown class="feePlanBox" [options]="customerTypeList" [style]="{'width':'100%'}" styleClass="{{ typeError && isCustomerSubmitted?'red-border-class':''}}"
							 [(ngModel)]="type" (ngModelChange)="onTypeChange()" name="type" filter="true" tabindex="30"></p-dropdown>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</form>

	<p-footer>
		<button type="submit"  class="btn btn-accent m-btn m-btn--air m-btn--custom" form="customerForm" tabindex="30">Save</button>
		<button type="button"  class="btn btn-secondary" (click)="Cancel()" tabindex="32">Cancel</button>
	</p-footer>
</p-dialog>