<!-- BEGIN: Left Aside -->
<button class="m-aside-left-close  m-aside-left-close--skin-dark" id="m_aside_left_close_btn" appunwraptag="">
    <i class="la la-close"></i>
</button>
<div id="m_aside_left" class="m-grid__item	m-aside-left  m-aside-left--skin-dark">
    <!-- BEGIN: Aside Menu -->
    <div id="m_ver_menu" class="m-aside-menu  m-aside-menu--skin-dark m-aside-menu--submenu-skin-dark" data-menu-vertical="true"
        data-menu-scrollable="false" data-menu-dropdown-timeout="500">
        <ul class="m-menu__nav  m-menu__nav--dropdown-submenu-arrow">
            <li class="m-menu__item  " routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
                <a routerLink="/index" class="m-menu__link">
                    <i class="m-menu__link-icon flaticon-squares-2"></i>
                    <span class="m-menu__link-title">
                        <span class="m-menu__link-wrap">
                            <span class="m-menu__link-text">
                                Dashboard
                            </span>
                        </span>
                    </span>
                </a>
                
            </li>

            <li class="m-menu__item  m-menu__item--submenu m-menu__item--active" routerLinkActive="m-menu__item--active" aria-haspopup="true"
                data-menu-submenu-toggle="hover" [isAuthorize]="['user','role']">
                <a href="#" class="m-menu__link m-menu__toggle">
                    <i class="m-menu__link-icon flaticon-users"></i>
                    <span class="m-menu__link-text">
                        User Management
                    </span>
                    <i class="m-menu__ver-arrow la la-angle-right"></i>
                </a>
                <div class="m-menu__submenu">
                    <span class="m-menu__arrow"></span>
                    <ul class="m-menu__subnav">
                        <li class="m-menu__item  m-menu__item--parent" aria-haspopup="true">
                            <a href="#" class="m-menu__link ">
                                <span class="m-menu__link-text"> User Management</span>
                            </a>
                        </li>
                        <li [isAuthorize]="['user']" class="m-menu__item" routerLinkActive="m-menu__item--active" aria-haspopup="true">
                            <a routerLink="/features/users/list" class="m-menu__link">
                                <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                    <span></span>
                                </i>
                                <span class="m-menu__link-title">
                                    <span class="m-menu__link-wrap">
                                        <span class="m-menu__link-text">
                                            User
                                        </span>
                                    </span>
                                </span>
                            </a>
                        </li>
                        <li [isAuthorize]="['role']" class="m-menu__item" routerLinkActive="m-menu__item--active" aria-haspopup="true">
                            <a routerLink="/features/roles/list" class="m-menu__link">
                                <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                    <span></span>
                                </i>
                                <span class="m-menu__link-title">
                                    <span class="m-menu__link-wrap">
                                        <span class="m-menu__link-text">
                                            Roles
                                        </span>
                                    </span>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="m-menu__item  m-menu__item--submenu m-menu__item--active" routerLinkActive="m-menu__item--active" aria-haspopup="true"
                data-menu-submenu-toggle="hover" [isAuthorize]="['productstock','stockmanagement']">
                <a href="#" class="m-menu__link m-menu__toggle">
                    <i class="m-menu__link-icon flaticon-clipboard"></i>
                    <span class="m-menu__link-text">
                        Stock
                    </span>
                    <i class="m-menu__ver-arrow la la-angle-right"></i>
                </a>
                <div class="m-menu__submenu">
                    <span class="m-menu__arrow"></span>
                    <ul class="m-menu__subnav">
                        <li class="m-menu__item  m-menu__item--parent" aria-haspopup="true">
                            <a href="#" class="m-menu__link ">
                                <span class="m-menu__link-text">Stock</span>
                            </a>
                        </li>
                        <li [isAuthorize]="['stockmanagement']" class="m-menu__item " aria-haspopup="true">
                            <a routerLink="/features/master/trnProductStockDetail/list" class="m-menu__link ">
                                <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                    <span></span>
                                </i>
                                <span class="m-menu__link-text">
                                    Product Stock
                                </span>
                            </a>
                        </li>
                        <li [isAuthorize]="['stockmanagement']" class="m-menu__item " aria-haspopup="true">
                            <a routerLink="/features/master/trnProductStock/list" class="m-menu__link ">
                                <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                    <span></span>
                                </i>
                                <span class="m-menu__link-text">
                                    Product Stock Detail
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="m-menu__item  m-menu__item--submenu m-menu__item--active" routerLinkActive="m-menu__item--active" aria-haspopup="true"
                data-menu-submenu-toggle="hover" [isAuthorize]="['purchase','purchaseorder']">
                <a href="#" class="m-menu__link m-menu__toggle">
                    <i class="m-menu__link-icon flaticon-cart"></i>
                    <span class="m-menu__link-text">
                        Purchase
                    </span>
                    <i class="m-menu__ver-arrow la la-angle-right"></i>
                </a>
                <div class="m-menu__submenu">
                    <span class="m-menu__arrow"></span>
                    <ul class="m-menu__subnav">
                        <li class="m-menu__item  m-menu__item--parent" aria-haspopup="true">
                            <a href="#" class="m-menu__link ">
                                <span class="m-menu__link-text">Purchase</span>
                            </a>
                        </li>
                        <li [isAuthorize]="['purchaseorder']" class="m-menu__item " aria-haspopup="true">
                            <a routerLink="/features/purchase/trnPurchaseOrder/list" class="m-menu__link ">
                                <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                    <span></span>
                                </i>
                                <span class="m-menu__link-text">
                                    Purchase Order
                                </span>
                            </a>
                        </li>
                        <li [isAuthorize]="['grn']" class="m-menu__item " aria-haspopup="true">
                            <a routerLink="/features/purchase/trnGoodReceiveNote/list" class="m-menu__link ">
                                <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                    <span></span>
                                </i>
                                <span class="m-menu__link-text">
                                    Good Receive Note
                                </span>
                            </a>
                        </li>
                        <li [isAuthorize]="['poagainstso']" class="m-menu__item " aria-haspopup="true">
                            <a routerLink="/features/purchase/trnPOItemsWithInsufficientStock/list" class="m-menu__link ">
                                <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                    <span></span>
                                </i>
                                <span class="m-menu__link-text">
                                    PO Against SO
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="m-menu__item  m-menu__item--submenu m-menu__item--active" routerLinkActive="m-menu__item--active" aria-haspopup="true"
                data-menu-submenu-toggle="hover" [isAuthorize]="['sales','salesorder']">
                <a href="#" class="m-menu__link m-menu__toggle">
                    <i class="m-menu__link-icon flaticon-diagram"></i>
                    <span class="m-menu__link-text">
                        Sales
                    </span>
                    <i class="m-menu__ver-arrow la la-angle-right"></i>
                </a>
                <div class="m-menu__submenu">
                    <span class="m-menu__arrow"></span>
                    <ul class="m-menu__subnav">
                        <li class="m-menu__item  m-menu__item--parent" aria-haspopup="true">
                            <a href="#" class="m-menu__link ">
                                <span class="m-menu__link-text">Sales</span>
                            </a>
                        </li>
                        <li [isAuthorize]="['salesorder']" class="m-menu__item " aria-haspopup="true">
                            <a routerLink="/features/sales/trnSalesOrder/list" class="m-menu__link ">
                                <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                    <span></span>
                                </i>
                                <span class="m-menu__link-text">
                                    Sales Order
                                </span>
                            </a>
                        </li>
                        <li [isAuthorize]="['gin']" class="m-menu__item " aria-haspopup="true">
                            <a routerLink="/features/sales/trnGoodIssueNote/list" class="m-menu__link ">
                                <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                    <span></span>
                                </i>
                                <span class="m-menu__link-text">
                                    Good Issue Note
                                </span>
                            </a>
                        </li>
                        <li [isAuthorize]="['invoice']" class="m-menu__item " aria-haspopup="true">
                            <a routerLink="/features/sales/trnSalesInvoice/list" class="m-menu__link ">
                                <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                    <span></span>
                                </i>
                                <span class="m-menu__link-text">
                                    Sales Invoice
                                </span>
                            </a>
                        </li>
                        <li [isAuthorize]="['ginforavailablestock']" class="m-menu__item " aria-haspopup="true">
                            <a routerLink="/features/sales/trnGINForItemsWithStockAvailable/list" class="m-menu__link ">
                                <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                    <span></span>
                                </i>
                                <span class="m-menu__link-text">
                                    GIN For Available Stock
                                </span>
                            </a>
                        </li>
                        <li [isAuthorize]="['materialselection']" class="m-menu__item " aria-haspopup="true">
                            <a routerLink="/features/sales/trnMaterialSelection/list" class="m-menu__link ">
                                <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                    <span></span>
                                </i>
                                <span class="m-menu__link-text">
                                   Material Selection
                                </span>
                            </a>
                        </li>
                        <li [isAuthorize]="['materialquotation']" class="m-menu__item " aria-haspopup="true">
                            <a routerLink="/features/sales/trnMaterialQuotation/list" class="m-menu__link ">
                                <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                    <span></span>
                                </i>
                                <span class="m-menu__link-text">
                                   Material Quotation
                                </span>
                            </a>
                        </li>
                        <li [isAuthorize]="['advancepayment']" class="m-menu__item " aria-haspopup="true">
                            <a routerLink="/features/sales/trnAdvancePayment/list" class="m-menu__link ">
                                <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                    <span></span>
                                </i>
                                <span class="m-menu__link-text">
                                   Advance Payment
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="m-menu__item  m-menu__item--submenu m-menu__item--active" routerLinkActive="m-menu__item--active" aria-haspopup="true"
                data-menu-submenu-toggle="hover" [isAuthorize]="['reports','customerLogin']">
                <a href="#" class="m-menu__link m-menu__toggle">
                    <i class="m-menu__link-icon flaticon-cart"></i>
                    <span class="m-menu__link-text">
                        Reports
                    </span>
                    <i class="m-menu__ver-arrow la la-angle-right"></i>
                </a>
                <div class="m-menu__submenu">
                    <span class="m-menu__arrow"></span>
                    <ul class="m-menu__subnav">
                        <li class="m-menu__item  m-menu__item--parent" aria-haspopup="true">
                            <a href="#" class="m-menu__link ">
                                <span class="m-menu__link-text">Reports</span>
                            </a>
                        </li>
                        <li [isAuthorize]="['masterpricelist']" class="m-menu__item " aria-haspopup="true">
                            <a routerLink="/features/reports/masterPriceList/list" class="m-menu__link ">
                                <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                    <span></span>
                                </i>
                                <span class="m-menu__link-text">
                                    Master Price List
                                </span>
                            </a>
                        </li>
                        <li [isAuthorize]="['clientpricelist']" class="m-menu__item " aria-haspopup="true">
                            <a routerLink="/features/reports/clientList/list" class="m-menu__link ">
                                <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                    <span></span>
                                </i>
                                <span class="m-menu__link-text">
                                    Client Price List
                                </span>
                            </a>
                        </li>
                        <li [isAuthorize]="['customerLogin']" class="m-menu__item " aria-haspopup="true">
                            <a routerLink="/features/reports/clientListForCustomer/list" class="m-menu__link ">
                                <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                    <span></span>
                                </i>
                                <span class="m-menu__link-text">
                                    Client Price List
                                </span>
                            </a>
                        </li>
                        <li [isAuthorize]="['unpaidinvoicelist']" class="m-menu__item " aria-haspopup="true">
                            <a routerLink="/features/reports/totalOutstandingAmount/list" class="m-menu__link ">
                                <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                    <span></span>
                                </i>
                                <span class="m-menu__link-text">
                                    Unpaid Invoice List
                                </span>
                            </a>
                        </li>
                        <li [isAuthorize]="['pendingsalesorderlist']" class="m-menu__item " aria-haspopup="true">
                            <a routerLink="/features/reports/salesOrderCount/list" class="m-menu__link ">
                                <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                    <span></span>
                                </i>
                                <span class="m-menu__link-text">
                                   Pending Sales Order List
                                </span>
                            </a>
                        </li>
                        <li [isAuthorize]="['pendingpurchaseorderlist']" class="m-menu__item " aria-haspopup="true">
                            <a routerLink="/features/reports/purchaseOrderCount/list" class="m-menu__link ">
                                <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                    <span></span>
                                </i>
                                <span class="m-menu__link-text">
                                   Pending Purchase Order List
                                </span>
                            </a>
                        </li>
                        <li [isAuthorize]="['reorderstocklist']" class="m-menu__item " aria-haspopup="true">
                            <a routerLink="/features/reports/itemsBelowReorderLevel/list" class="m-menu__link ">
                                <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                    <span></span>
                                </i>
                                <span class="m-menu__link-text">
                                    Reorder Stock List
                                </span>
                            </a>
                        </li>
                        <li [isAuthorize]="['purchaseorderstatuslist']" class="m-menu__item " aria-haspopup="true">
                            <a routerLink="/features/reports/poOrderStatusReport/list" class="m-menu__link ">
                                <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                    <span></span>
                                </i>
                                <span class="m-menu__link-text">
                                   Purchase Order Status List
                                </span>
                            </a>
                        </li>
                        <li [isAuthorize]="['salesorderstatuslist']" class="m-menu__item " aria-haspopup="true">
                            <a routerLink="/features/reports/soOrderStatusReport/list" class="m-menu__link ">
                                <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                    <span></span>
                                </i>
                                <span class="m-menu__link-text">
                                    Sales Order Status List
                                </span>
                            </a>
                        </li>
                        <li [isAuthorize]="['invoicestatuslist']" class="m-menu__item " aria-haspopup="true">
                            <a routerLink="/features/reports/salesInvoicePaymentStatusReport/list" class="m-menu__link ">
                                <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                    <span></span>
                                </i>
                                <span class="m-menu__link-text">
                                    Invoice Status List
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="m-menu__item  m-menu__item--submenu m-menu__item--active" routerLinkActive="m-menu__item--active" aria-haspopup="true"
                data-menu-submenu-toggle="hover" [isAuthorize]="['customerLogin']">
                <a href="#" class="m-menu__link m-menu__toggle">
                    <i class="m-menu__link-icon flaticon-cart"></i>
                    <span class="m-menu__link-text">
                        Order Management
                    </span>
                    <i class="m-menu__ver-arrow la la-angle-right"></i>
                </a>
                <div class="m-menu__submenu">
                    <span class="m-menu__arrow"></span>
                    <ul class="m-menu__subnav">
                        <li class="m-menu__item  m-menu__item--parent" aria-haspopup="true">
                            <a href="#" class="m-menu__link ">
                                <span class="m-menu__link-text">Order Management</span>
                            </a>
                        </li>
                        <li [isAuthorize]="['customerLogin']" class="m-menu__item " aria-haspopup="true">
                            <a routerLink="/features/orderManagement/trnCustomerOrder/list" class="m-menu__link ">
                                <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                    <span></span>
                                </i>
                                <span class="m-menu__link-text">
                                    Customer Order
                                </span>
                            </a>
                        </li>
                        <li [isAuthorize]="['customerLogin']" class="m-menu__item " aria-haspopup="true">
                            <a routerLink="/features/orderManagement/invoice/list" class="m-menu__link ">
                                <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                    <span></span>
                                </i>
                                <span class="m-menu__link-text">
                                    Invoice
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="m-menu__item  m-menu__item--submenu m-menu__item--active" routerLinkActive="m-menu__item--active" aria-haspopup="true"
                data-menu-submenu-toggle="hover" [isAuthorize]="['customerLogin']">
                <a routerLink="/features/productListing/list" class="m-menu__link m-menu__toggle">
                    <i class="m-menu__link-icon flaticon-list-2"></i>
                    <span class="m-menu__link-text">
                        Product Listing
                    </span>
                    <i class="m-menu__ver-arrow la la-angle-right"></i>
                </a>
                <div class="m-menu__submenu">
                    <span class="m-menu__arrow"></span>
                    <ul class="m-menu__subnav">
                        <li class="m-menu__item  m-menu__item--parent" aria-haspopup="true">
                            <a routerLink="/features/productListing/list" class="m-menu__link m-menu__toggle">
                                <span class="m-menu__link-text">Product Listing</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="m-menu__item  m-menu__item--submenu m-menu__item--active" routerLinkActive="m-menu__item--active" aria-haspopup="true"
                data-menu-submenu-toggle="hover" [isAuthorize]="['customerLogin']">
                <a routerLink="/features/stockEnquiry/list" class="m-menu__link m-menu__toggle">
                    <i class="m-menu__link-icon flaticon-info"></i>
                    <span class="m-menu__link-text">
                        Stock Enquiry
                    </span>
                    <i class="m-menu__ver-arrow la la-angle-right"></i>
                </a>
                <div class="m-menu__submenu">
                    <span class="m-menu__arrow"></span>
                    <ul class="m-menu__subnav">
                        <li class="m-menu__item  m-menu__item--parent" aria-haspopup="true">
                            <a routerLink="/features/stockEnquiry/list" class="m-menu__link m-menu__toggle">
                                <span class="m-menu__link-text">Stock Enquiry</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="m-menu__item  m-menu__item--submenu m-menu__item--active" routerLinkActive="m-menu__item--active" aria-haspopup="true"
                data-menu-submenu-toggle="hover" [isAuthorize]="['companyinfo','master','supplier','customer','courier','agent','hsn','financialyear']">
                <a href="#" class="m-menu__link m-menu__toggle">
                    <i class="m-menu__link-icon flaticon-user-settings"></i>
                    <span class="m-menu__link-text">
                        Master
                    </span>
                    <i class="m-menu__ver-arrow la la-angle-right"></i>
                </a>
                <div class="m-menu__submenu">
                    <span class="m-menu__arrow"></span>
                    <ul class="m-menu__subnav">
                        <li class="m-menu__item  m-menu__item--parent" aria-haspopup="true">
                            <a href="#" class="m-menu__link ">
                                <span class="m-menu__link-text">Master</span>
                            </a>
                        </li>
                        <li class="m-menu__item  " routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true"
                            [isAuthorize]="['companyinfo']">
                            <a routerLink="/features/master/company/add" class="m-menu__link ">
                                <!--<i class="m-menu__link-icon flaticon-folder"></i>-->
                                <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                    <span></span>
                                </i>
                                <span class="m-menu__link-text">
                                    Company Info
                                </span>
                            </a>
                        </li>

                        <li [isAuthorize]="['supplier']" class="m-menu__item" routerLinkActive="m-menu__item--active" aria-haspopup="true">
                            <a routerLink="/features/master/supplier/list" class="m-menu__link ">
                                <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                    <span></span>
                                </i>
                                <span class="m-menu__link-text">
                                    Supplier
                                </span>
                            </a>
                        </li>
                        <li [isAuthorize]="['customer']" class="m-menu__item " aria-haspopup="true" routerLinkActive="m-menu__item--active">
                            <a routerLink="/features/master/customer/list" class="m-menu__link ">
                                <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                    <span></span>
                                </i>
                                <span class="m-menu__link-text">
                                    Customer
                                </span>
                            </a>
                        </li>
                        <li [isAuthorize]="['courier']" class="m-menu__item" aria-haspopup="true" routerLinkActive="m-menu__item--active">
                            <a routerLink="/features/master/courier/list" class="m-menu__link ">
                                <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                    <span></span>
                                </i>
                                <span class="m-menu__link-text">
                                    Courier
                                </span>
                            </a>
                        </li>
                        <li [isAuthorize]="['agent']" class="m-menu__item" routerLinkActive="m-menu__item--active" aria-haspopup="true">
                            <a routerLink="/features/master/agent/list" class="m-menu__link ">
                                <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                    <span></span>
                                </i>
                                <span class="m-menu__link-text">
                                    Agent
                                </span>
                            </a>
                        </li>
                        <li [isAuthorize]="['hsn']" class="m-menu__item " aria-haspopup="true" routerLinkActive="m-menu__item--active">
                            <a routerLink="/features/master/hsn/list" class="m-menu__link ">
                                <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                    <span></span>
                                </i>
                                <span class="m-menu__link-text">
                                    HSN
                                </span>
                            </a>
                        </li>
                        <li [isAuthorize]="['financialyear']" class="m-menu__item" aria-haspopup="true" routerLinkActive="m-menu__item--active">
                            <a routerLink="/features/master/financialYear/list" class="m-menu__link ">
                                <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                    <span></span>
                                </i>
                                <span class="m-menu__link-text">
                                    Financial Year
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="m-menu__item  m-menu__item--submenu m-menu__item--active" routerLinkActive="m-menu__item--active" aria-haspopup="true"
                data-menu-submenu-toggle="hover" [isAuthorize]="['collection','quality','design','shade','mattressthickness','mattresssize','foamdensity','foamsuggestedmm','foamsize']">
                <a href="#" class="m-menu__link m-menu__toggle">
                    <i class="m-menu__link-icon flaticon-user-ok"></i>
                    <span class="m-menu__link-text">
                        Product master
                    </span>
                    <i class="m-menu__ver-arrow la la-angle-right"></i>
                </a>
                <div class="m-menu__submenu">
                    <span class="m-menu__arrow"></span>
                    <ul class="m-menu__subnav">
                        <li class="m-menu__item  m-menu__item--parent" aria-haspopup="true">
                            <a href="#" class="m-menu__link ">
                                <span class="m-menu__link-text"> Product master</span>
                            </a>
                        </li>
                        <li [isAuthorize]="['accessories']" class="m-menu__item" aria-haspopup="true" routerLinkActive="m-menu__item--active">
                            <a routerLink="/features/master/accessory/list" class="m-menu__link ">
                                <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                    <span></span>
                                </i>
                                <span class="m-menu__link-text">
                                    Accessory
                                </span>
                            </a>
                        </li>
                        <li [isAuthorize]="['collection']" class="m-menu__item" aria-haspopup="true" routerLinkActive="m-menu__item--active">
                            <a routerLink="/features/master/collection/list" class="m-menu__link ">
                                <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                    <span></span>
                                </i>
                                <span class="m-menu__link-text">
                                    Collection
                                </span>
                            </a>
                        </li>
                        <li [isAuthorize]="['quality']" class="m-menu__item" aria-haspopup="true" routerLinkActive="m-menu__item--active">
                            <a routerLink="/features/master/quality/list" class="m-menu__link ">
                                <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                    <span></span>
                                </i>
                                <span class="m-menu__link-text">
                                    Quality
                                </span>
                            </a>
                        </li>
                        <li [isAuthorize]="['design']" class="m-menu__item " aria-haspopup="true" routerLinkActive="m-menu__item--active">
                            <a routerLink="/features/master/design/list" class="m-menu__link ">
                                <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                    <span></span>
                                </i>
                                <span class="m-menu__link-text">
                                    Design
                                </span>
                            </a>
                        </li>
                        <li [isAuthorize]="['shade']" class="m-menu__item " aria-haspopup="true" routerLinkActive="m-menu__item--active">
                            <a routerLink="/features/master/shade/list" class="m-menu__link ">
                                <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                    <span></span>
                                </i>
                                <span class="m-menu__link-text">
                                    Shade
                                </span>
                            </a>
                        </li>
                        <li [isAuthorize]="['mattressthickness']" class="m-menu__item " aria-haspopup="true" routerLinkActive="m-menu__item--active">
                            <a routerLink="/features/master/matThickness/list" class="m-menu__link ">
                                <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                    <span></span>
                                </i>
                                <span class="m-menu__link-text">
                                    Mattress Thickness
                                </span>
                            </a>
                        </li>
                        <li [isAuthorize]="['mattresssize']" class="m-menu__item " aria-haspopup="true" routerLinkActive="m-menu__item--active">
                            <a routerLink="/features/master/matSize/list" class="m-menu__link ">
                                <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                    <span></span>
                                </i>
                                <span class="m-menu__link-text">
                                    Mattress Size
                                </span>
                            </a>
                        </li>
                        <li [isAuthorize]="['foamdensity']" class="m-menu__item " aria-haspopup="true" routerLinkActive="m-menu__item--active">
                            <a routerLink="/features/master/fomDensity/list" class="m-menu__link ">
                                <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                    <span></span>
                                </i>
                                <span class="m-menu__link-text">
                                    Foam Density
                                </span>
                            </a>
                        </li>
                        <li [isAuthorize]="['foamsuggestedmm']" class="m-menu__item " aria-haspopup="true" routerLinkActive="m-menu__item--active">
                            <a routerLink="/features/master/fomSuggestedMM/list" class="m-menu__link ">
                                <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                    <span></span>
                                </i>
                                <span class="m-menu__link-text">
                                    Foam Suggested MM
                                </span>
                            </a>
                        </li>
                        <li [isAuthorize]="['foamsize']" class="m-menu__item " aria-haspopup="true" routerLinkActive="m-menu__item--active">
                            <a routerLink="/features/master/fomSize/list" class="m-menu__link ">
                                <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                    <span></span>
                                </i>
                                <span class="m-menu__link-text">
                                    Foam Size
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
    <!-- END: Aside Menu -->
</div>
<!-- END: Left Aside -->