<p-confirmDialog #cd>
    <p-footer>
        <button type="button" class="btn btn-accent m-btn m-btn--icon" (click)="cd.accept()">
			<span>
				<i class="la la-check"></i>
				<span>
					Yes
				</span>
			</span>
		</button>
        <button type="button" class="btn btn-secondary m-btn m-btn--icon" (click)="cd.reject()">
			<span>
				<i class="la la-close"></i>
				<span>
					No
				</span>
			</span>
		</button>
    </p-footer>
</p-confirmDialog>

<div class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="#" class="m-nav__link m-nav__link--icon">
						<i class="m-nav__link-icon la la-home"></i>
					</a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a class="m-nav__link">
						<span class="m-nav__link-text">
							Advance Payment
						</span>
					</a>
                </li>
            </ul>
        </div>
        <div class="m-form__actions m-form__actions--solid formTopActionBtnBox">
            <button type="submit" *ngIf="viewItem" class="btn btn-accent m-btn m-btn--air m-btn--custom formTopActionBtn" form="trnAdvancePaymentForm"
                title="{{(trnAdvancePaymentForm && trnAdvancePaymentForm.form.valid) ? 'Please fill in all the required fields' :  params ? 'Update' : 'Save'}}"
                [isAuthorize]="['advancepayment']" tabindex="11">
				{{ 'Save' }}
			</button>
            <button class="btn btn-secondary" [isAuthorize]="['advancepayment']" (click)="onCancel()" tabindex="12">
				Cancel
			</button>
        </div>
    </div>
</div>
<!-- END: Subheader -->
<div class="m-content">
    <div class="row">
        <div class="col-lg-12">
            <!--begin::Portlet-->
            <div class="m-portlet">

                <!--++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->

                <div class="row">

                    <div class="col-md-12">

                        <div class="formContainerSamePage">
                            <form class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed inputForm" role="form" novalidate
                                (ngSubmit)="onSubmit(trnAdvancePaymentForm)" #trnAdvancePaymentForm="ngForm" id="trnAdvancePaymentForm">
                                <div class="row">

                                    <div class="col-md-12">

                                        <div class="row">
                                            <div class="col-md-12">
                                                <!-- Basic Details -->
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">Basic Details</div>
                                                    <div class="panel-body">

                                                        <div class="row form-group">

                                                            <div class="col-md-12">
                                                                <div class="row">
                                                                    <div class="col-md-3">
                                                                        <label class="col-md-4 col-sm-4 fieldLabel noPadding">Adv. Payment Date</label>
                                                                        <div class="col-md-8 col-sm-8">
                                                                            <p-calendar class="purchaseOrderDate" #advancePaymentDateVal="ngModel" [(ngModel)]="trnAdvancePaymentObj.advancePaymentDate"
                                                                                name="advancePaymentDate" [monthNavigator]="true"
                                                                                [yearNavigator]="true" tabindex="1" [disabled]="disabled"
                                                                                yearRange="2015:2030" dateFormat="dd/mm/yy" styleClass="{{ advancePaymentDateVal.errors && isFormSubmitted?'red-border-class':''}}"
                                                                                autofocus required>

                                                                            </p-calendar>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-3">
                                                                        <label class="col-md-4 col-sm-4 fieldLabel noPadding">Adv. Payment No.</label>
                                                                        <div class="col-md-8 col-sm-8">
                                                                            <input type="text" [(ngModel)]="trnAdvancePaymentObj.advancePaymentNumber" name="advancePaymentNumber" class="form-control"
                                                                                #advancePaymentNumberVal="ngModel" disabled tabindex="2"
                                                                                placeholder="">
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-3">
                                                                        <label class="col-md-4 col-sm-4 fieldLabel noPadding">Quotation No.<span class="requiredField">*</span>
																        </label>
                                                                        <div class="col-md-8 col-sm-8">
                                                                            <p-dropdown class="feePlanBox" [options]="materialQuotationNumberList" required [(ngModel)]="trnAdvancePaymentObj.materialQuotationId"
                                                                                #materialQuotationIdVal="ngModel" required [style]="{'width':'100%'}"
                                                                                [disabled]="disabled" styleClass="{{ materialQuotationIdVal.errors && isFormSubmitted?'red-border-class':''}}"
                                                                                (ngModelChange)="onMaterialQuotationNoChange()"
                                                                                name="materialQuotationId" filter="true" tabindex="3"></p-dropdown>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-3">
                                                                        <label class="col-md-4 col-sm-4 fieldLabel noPadding">Customer
                                                                        </label>
                                                                        <div class="col-md-8 col-sm-8 customerNameBox">
                                                                            <label>{{ trnAdvancePaymentObj.customerName }}</label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                        <div class="row form-group">
                                                            <div class="col-md-3">
                                                                <label class="col-md-4 col-sm-4 fieldLabel noPadding">Total Amount
																</label>
                                                                <div class="col-md-8 col-sm-8 customerNameBox">
                                                                    <label>{{ totalAmount }}</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-3">
                                                                <label class="col-md-4 col-sm-4 fieldLabel noPadding">Amount<span class="requiredField">*</span></label>
                                                                <div class="col-md-8 col-sm-8">
                                                                    <input OnlyNumber="true" DecimalPlaces="0" minValue="0" maxValue="2147483647" #amountVal="ngModel" required [ngClass]="{'red-border-class': amountVal.errors && isFormSubmitted}"
                                                                        [(ngModel)]="trnAdvancePaymentObj.amount" name="amount"
                                                                        class="form-control" [disabled]="disabled" placeholder="" (blur)="onAmountChange()"
                                                                        autocomplete="off" tabindex="4">
                                                                </div>
                                                            </div>
                                                            <div class="col-md-3">
                                                                <label class="col-md-4 col-sm-4 fieldLabel noPadding">Confirm Amount<span class="requiredField">*</span></label>
                                                                <div class="col-md-8 col-sm-8">
                                                                    <input OnlyNumber="true" DecimalPlaces="0" minValue="0" maxValue="2147483647" #confirmAmountVal="ngModel" required [ngClass]="{'red-border-class': confirmAmountVal.errors && isFormSubmitted}"
                                                                        [(ngModel)]="confirmAmount" name="confirmAmount" class="form-control"
                                                                        [disabled]="disabled" placeholder="" autocomplete="off"
                                                                        tabindex="5">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>


                                            </div>

                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <!-- Basic Details -->
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">Payment Details</div>
                                                    <div class="panel-body">

                                                        <div class="row form-group">

                                                            <div class="col-md-12">
                                                                <div class="row">
                                                                    <div class="col-md-3">
                                                                        <label class="col-md-4 col-sm-4 fieldLabel ">Payment Mode<span class="requiredField">*</span></label>
                                                                        <div class="col-md-8 col-sm-8">
                                                                            <p-dropdown class="feePlanBox" [options]="paymentModeList" [disabled]="disabled" required [(ngModel)]="trnAdvancePaymentObj.paymentMode"
                                                                                #paymentModeVal="ngModel" required [style]="{'width':'100%'}"
                                                                                styleClass="{{ paymentModeVal.errors && isFormSubmitted?'red-border-class':''}}"
                                                                                name="paymentMode" filter="true" tabindex="6"></p-dropdown>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-3" *ngIf="trnAdvancePaymentObj.paymentMode == 'Cheque'">
                                                                        <label class="col-md-4 col-sm-4 fieldLabel noPadding">Cheque Number<span class="requiredField">*</span></label>
                                                                        <div class="col-md-8 col-sm-8">
                                                                            <input class="form-control m-input" type="text" [disabled]="disabled" [ngClass]="{'red-border-class': chequeNumberVal.errors && isFormSubmitted}"
                                                                                #chequeNumberVal="ngModel" required [(ngModel)]="trnAdvancePaymentObj.chequeNumber"
                                                                                name="chequeNumber" id="chequeNumber" placeholder=""
                                                                                maxlength="20" tabindex="7">
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-3" *ngIf="trnAdvancePaymentObj.paymentMode == 'Cheque'">
                                                                        <label class="col-md-4 col-sm-4 fieldLabel noPadding">Cheque Date<span class="requiredField">*</span></label>
                                                                        <div class="col-md-8 col-sm-8">
                                                                            <p-calendar class="purchaseOrderDate" #chequeDateVal="ngModel" [disabled]="disabled" [(ngModel)]="trnAdvancePaymentObj.chequeDate"
                                                                                name="chequeDate" [monthNavigator]="true" [yearNavigator]="true"
                                                                                tabindex="8" yearRange="2015:2030" dateFormat="dd/mm/yy"
                                                                                styleClass="{{ chequeDateVal.errors && isFormSubmitted?'red-border-class':''}}"
                                                                                required></p-calendar>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-3" *ngIf="trnAdvancePaymentObj.paymentMode == 'Cheque'">
                                                                        <label class="col-md-4 col-sm-4 fieldLabel ">Bank Name<span class="requiredField">*</span></label>
                                                                        <div class="col-md-8 col-sm-8">
                                                                            <input class="form-control m-input" type="text" [disabled]="disabled" [ngClass]="{'red-border-class': bankNameVal.errors && isFormSubmitted}"
                                                                                #bankNameVal="ngModel" required [(ngModel)]="trnAdvancePaymentObj.bankName"
                                                                                name="bankName" id="bankName" placeholder=""
                                                                                maxlength="50" tabindex="9">
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="row form-group">
                                                                    <div class="col-md-3" *ngIf="trnAdvancePaymentObj.paymentMode == 'Cheque'">
                                                                        <label class="col-md-4 col-sm-4 fieldLabel noPadding">Bank Branch<span class="requiredField">*</span></label>
                                                                        <div class="col-md-8 col-sm-8">
                                                                            <input class="form-control m-input" type="text" [disabled]="disabled" [ngClass]="{'red-border-class': bankBranchVal.errors && isFormSubmitted}"
                                                                                #bankBranchVal="ngModel" required [(ngModel)]="trnAdvancePaymentObj.bankBranch"
                                                                                name="bankBranch" id="bankBranch" placeholder=""
                                                                                maxlength="20" tabindex="10">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>


                                                        </div>

                                                    </div>
                                                </div>


                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>


                <!--++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
            </div>
            <!--end::Portlet-->
        </div>
    </div>
</div>