<!-- BEGIN: Subheader -->
<div class="m-subheader">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h3 class="m-subheader__title">
				Dashboard
			</h3>
		</div>
		<!-- Select School Dropdown  -->
	</div>
</div>
<!-- END: Subheader -->
<div class="m-content">
	<!--Begin::Main Portlet-->
	
  <!--begin:: Widgets/Stats-->
  <div class="m-portlet ">
	<div class="m-portlet__body  m-portlet__body--no-padding">
		<div class="row m-row--no-padding m-row--col-separator-xl">
			<div class="col-md-12 col-lg-6 col-xl-4">
				<!--begin::Total Profit-->
				<div class="m-widget24">

				</div>
				<!--end::Total Profit-->
			</div>
			<div class="col-md-12 col-lg-6 col-xl-4">
				<!--begin::New Feedbacks-->
				<div class="m-widget24">
				
				</div>
				<!--end::New Feedbacks-->
			</div>
			<div class="col-md-12 col-lg-6 col-xl-4">
				<!--begin::New Orders-->
				<div class="m-widget24">

				</div>
				<!--end::New Orders-->
			</div>
			
		</div>
	</div>
</div>
<!--end:: Widgets/Stats-->
   
	<!--End::Main Portlet-->
	<!--Begin::Main Portlet-->

	<!--End::Main Portlet-->
</div>
