<!-- BEGIN: Subheader -->
<div class="m-subheader">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h3 class="m-subheader__title">
				Dashboard
			</h3>
		</div>
		<!-- Select School Dropdown  -->
	</div>
</div>
<!-- END: Subheader -->
<div class="m-content">
	<!--Begin::Main Portlet-->
	
  <!--begin:: Widgets/Stats-->
  <div class="m-portlet dashboardPortlet">
	<div class="m-portlet__body  m-portlet__body--no-padding" style="background: transparent!important;">
		<div class="row  m-row--col-separator-xl">
			<div class="col-md-6">
								<div class="dashboardBox">
									<div class="dashboardStatBox dashboardStatBox1">
										<h5><i class="fa fa-inr" aria-hidden="true"></i> 20,000</h5>
										<h6>Total Outstanding Amount</h6>
									</div>
									<div class="dashboardStatBox dashboardStatBox2">
										<h5>200</h5>
										<h6>Sales Order Count</h6>
									</div>
								</div>
							</div>
							
							
							<div class="col-md-6">
								<div class="dashboardBox">
									<div class="dashboardStatBox dashboardStatBox1">
										<h5><i class="fa fa-inr" aria-hidden="true"></i> 64,000</h5>
										<h6>Total Payment Due</h6>
									</div>
									<div class="dashboardStatBox dashboardStatBox2">
										<h5>600</h5>
										<h6>Purchase Order Count</h6>
									</div>
								</div>
							</div>
							
							<div class="col-md-3 col-sm-3">
								<div class="dashboardBox">
									<h4 class="blueHeading"><i class="fa fa-inr" aria-hidden="true"></i> 5,40,000</h4>
									<h5>YTD Sale</h5>
								</div>
							</div>
							
							<div class="col-md-3 col-sm-3">
								<div class="dashboardBox">
									<h4 class="greenHeading"><i class="fa fa-inr" aria-hidden="true"></i> 2,60,000</h4>
									<h5>Current Month Sale</h5>
								</div>
							</div>
							
							<div class="col-md-3 col-sm-3">
								<div class="dashboardBox">
									<h4 class="redHeading">2540</h4>
									<h5>Items below Re-order Level</h5>
								</div>
							</div>
							
							
							<div class="col-md-3 col-sm-3">
								<div class="dashboardBox">
									<h4 class="orangeHeading"><i class="fa fa-inr" aria-hidden="true"></i> 2,00,000</h4>
									<h5>Total Stock Value</h5>
								</div>
							</div>
			
		</div>
	</div>
</div>
<!--end:: Widgets/Stats-->
   
	<!--End::Main Portlet-->
	<!--Begin::Main Portlet-->

	<!--End::Main Portlet-->
</div>
