<p-confirmDialog #cd>
        <p-footer>
            <button type="button" class="btn btn-accent m-btn m-btn--icon" (click)="cd.accept()">
                <span>
                    <i class="la la-check"></i>
                    <span>
                        Yes
                    </span>
                </span>
            </button>
            <button type="button" class="btn btn-secondary m-btn m-btn--icon" (click)="cd.reject()">
                <span>
                    <i class="la la-close"></i>
                    <span>
                        No
                    </span>
                </span>
            </button>
        </p-footer>
    </p-confirmDialog>
    
    <div class="m-subheader">
        <div class="d-flex align-items-center">
            <div class="mr-auto">
                <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                    <li class="m-nav__item m-nav__item--home">
                        <a href="#" class="m-nav__link m-nav__link--icon">
                            <i class="m-nav__link-icon la la-home"></i>
                        </a>
                    </li>
                    <li class="m-nav__separator">
                        -
                    </li>
                    <li class="m-nav__item">
                        <a class="m-nav__link">
                            <span class="m-nav__link-text">
                                Purchase Order Against Sales Order
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="m-form__actions m-form__actions--solid formTopActionBtnBox">
                <!-- <button type="submit" class="topBtn btn btn-success" *ngIf="adminFlag && trnPurchaseOrderObj.status == 'Created'" [isAuthorize]="['purchaseorder']" title="Approve" (click)="onApprove()" tabindex="9">
                    Approve
                </button> -->
                <!-- <button type="submit" class="topBtn btn btn-error" *ngIf="adminFlag && trnPurchaseOrderObj.status == 'Created'" [isAuthorize]="['purchaseorder']" title="Cancel PO" (click)="onCancelPO()" tabindex="9">
                    Cancel PO
                </button> -->
                <button type="submit"  class="btn btn-accent m-btn m-btn--air m-btn--custom formTopActionBtn" form="trnProductStockForm" title="{{(trnProductStockForm && trnProductStockForm.form.valid) ? 'Please fill in all the required fields' :  params ? 'Update' : 'Save'}}"
                 [isAuthorize]="['purchaseorder']" tabindex="8">
                    {{ params ? 'Update' : 'Save' }}
                </button>
                <button class="btn btn-secondary" [isAuthorize]="['purchaseorder']" (click)="onCancel()" tabindex="9">
                    Cancel
                </button>
            </div>
        </div>
    </div>
    <!-- END: Subheader -->
    <div class="m-content">
        <div class="row">
            <div class="col-lg-12">
                <!--begin::Portlet-->
                <div class="m-portlet">
    
                    <!--++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
    
                    <div class="row">
    
                        <div class="col-md-12">
    
                            <div class="formContainerSamePage">
                                <form class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed inputForm" role="form" novalidate
                                 (ngSubmit)="onSubmit(trnProductStockForm)" #trnProductStockForm="ngForm" id="trnProductStockForm">
                                    <div class="row"  *ngIf="showForm">
    
                                        <div class="col-md-12">
    
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <!-- Basic Details -->
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading">Basic Details</div>
                                                        <div class="panel-body">
    
                                                            <div class="row form-group">
    
                                                                <div class="col-md-6">
                                                                    <div class="row">
                                                                        <div class="col-md-6">
                                                                            <label class="col-md-4 col-sm-4 fieldLabel">Date</label>
                                                                            <div class="col-md-8 col-sm-8">
                                                                                <p-calendar class="purchaseOrderDate"  #orderDateVal="ngModel" [(ngModel)]="trnPurchaseOrderObj.orderDate" name="orderDate"
                                                                                 [monthNavigator]="true" [yearNavigator]="true" tabindex="1" yearRange="2015:2030" dateFormat="dd/mm/yy"
                                                                                 styleClass="{{ orderDateVal.errors && isFormSubmitted?'red-border-class':''}}" autofocus required></p-calendar>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-6">
                                                                            <label class="col-md-5 col-sm-5 fieldLabel noPadding">Purchase Order No.</label>
                                                                            <div class="col-md-7 col-sm-7">
                                                                                <input type="text" [(ngModel)]="trnPurchaseOrderObj.orderNumber" name="PurchaseOrderNo" class="form-control" #orderNoVal="ngModel"
                                                                                 disabled tabindex="2" placeholder="">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <label class="col-md-2 col-sm-2 fieldLabel">Supplier<span class="requiredField">*</span>
                                                                    </label>
                                                                    <div class="col-md-10 col-sm-10 customerNameBox">
                                                                        <select class="form-control" required name="supplierId" [(ngModel)]="trnPurchaseOrderObj.supplierId" #supplierCodeVal="ngModel" [disabled]="disabled" [ngClass]="{'red-border-class': supplierCodeVal.errors && isFormSubmitted}" (ngModelChange)="onChangeSupplier()" tabindex="3">
                                                                            <option *ngFor="let x of supplierCodeList" [ngValue]="x.value">{{x.label}}</option>
                                                                        </select>
                                                                        <!-- <p-dropdown class="feePlanBox" [options]="supplierCodeList"  required [(ngModel)]="trnPurchaseOrderObj.supplierId" #supplierCodeVal="ngModel"
                                                                         required styleClass="{{ supplierCodeVal.errors && isFormSubmitted?'red-border-class':''}}" [style]="{'width':'100%'}"
                                                                         name="supplierCodeDDl" filter="true" tabindex="3"  (ngModelChange)="onChangeSupplier()"></p-dropdown> -->
                                                                    </div>
                                                                </div>
    
                                                            </div>
    
                                                            <div class="row form-group">
                                                                <div class="col-md-3">
                                                                    <label class="col-md-4 col-sm-4 fieldLabel">Courier<span class="requiredField">*</span>
                                                                    </label>
                                                                    <div class="col-md-8 col-sm-8">
                                                                        <select class="form-control" name="courier" [(ngModel)]="trnPurchaseOrderObj.courierId" required #courierVal="ngModel" [ngClass]="{'red-border-class': courierVal.errors && isFormSubmitted}" tabindex="4">
                                                                            <option *ngFor="let x of courierList" [ngValue]="x.value" [selected]="trnPurchaseOrderObj.courierId == x.value">{{x.label}}</option>
                                                                        </select>
                                                                        <!-- <p-dropdown class="feePlanBox" [options]="courierList"  required [(ngModel)]="trnPurchaseOrderObj.courierId" #courierVal="ngModel"
                                                                         required [style]="{'width':'100%'}" styleClass="{{ courierVal.errors && isFormSubmitted?'red-border-class':''}}"
                                                                         name="courierDDl" filter="true" tabindex="4"></p-dropdown> -->
                                                                    </div>
                                                                </div>
    
                                                                <div class="col-md-3">
                                                                    <label class="col-md-5 col-sm-5 fieldLabel noPadding">Courier Mode<span class="requiredField">*</span>
                                                                    </label>
                                                                    <div class="col-md-7 col-sm-7">
                                                                        <select class="form-control" name="courierMode" [(ngModel)]="trnPurchaseOrderObj.courierMode" required #courierModeVal="ngModel" [ngClass]="{'red-border-class': courierModeVal.errors && isFormSubmitted}" tabindex="5">
                                                                            <option *ngFor="let x of courierModeList" [ngValue]="x.value" [selected]="trnPurchaseOrderObj.courierMode == x.value">{{x.label}}</option>
                                                                        </select>
                                                                        <!-- <p-dropdown class="feePlanBox" [options]="courierModeList" required [(ngModel)]="trnPurchaseOrderObj.courierMode" #courierModeVal="ngModel"
                                                                         required [style]="{'width':'100%'}" styleClass="{{ courierModeVal.errors && isFormSubmitted?'red-border-class':''}}" 
                                                                         name="courierModeDDl" filter="true" tabindex="5"></p-dropdown> -->
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-3">
                                                                    <label class="col-md-4 col-sm-4 fieldLabel">Location<span class="requiredField">*</span>
                                                                    </label>
                                                                    <div class="col-md-8 col-sm-8">
                                                                        <select class="form-control" name="locationId" [(ngModel)]="trnPurchaseOrderObj.locationId" required #locationVal="ngModel" [ngClass]="{'red-border-class': locationVal.errors && isFormSubmitted}" (ngModelChange)="onChangeLocation()"  tabindex="6">
                                                                            <option *ngFor="let x of locationList" [ngValue]="x.value" [selected]="trnPurchaseOrderObj.locationId == x.value">{{x.label}}</option>
                                                                        </select>
                                                                        <!-- <p-dropdown class="feePlanBox" [options]="locationList" required [(ngModel)]="trnPurchaseOrderObj.locationId" #locationVal="ngModel"
                                                                         required [style]="{'width':'100%'}" styleClass="{{ locationVal.errors && isFormSubmitted?'red-border-class':''}}"
                                                                         name="LocationDDl" filter="true" tabindex="6" (ngModelChange)="onChangeLocation()" ></p-dropdown> -->
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-3">
                                                                            <label class="col-md-5 col-sm-5 fieldLabel noPadding">Total Amount</label>
                                                                            <div class="col-md-7 col-sm-7">
                                                                                <label class="orderTypeLabel">{{trnPurchaseOrderObj ? (trnPurchaseOrderObj.totalAmount | number:'.0') : ''}}</label>
                                                                            </div>
                                                                </div>
                                                            </div>
                                                            <!--Shipping Address-->
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <div class="shippingAddressBox" *ngIf="this.locationObj.addressLine1">
                                                                        <p>
                                                                            <b>Shipping Address - </b> {{this.locationObj.addressLine1}} {{this.locationObj.addressLine2}} , {{this.locationObj.state}}
                                                                            ,{{this.locationObj.city}} PINCODE -{{this.locationObj.pin}} </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row form-group">
    
                                                                <div class="col-md-6">
                                                                    <label class="col-md-2 col-sm-2 fieldLabel">Remark</label>
                                                                    <div class="col-md-10 col-sm-10 purchaseRemarkBox">
                                                                        <input type="text" [(ngModel)]="trnPurchaseOrderObj.remark" name="remark" class="form-control" #remarkVal="ngModel" tabindex="7"
                                                                         placeholder="">
                                                                    </div>
                                                                </div>
    
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
    
                                            </div>
    
                                        </div>
    
                                        <div class="col-md-12" >
                                            <div class="panel panel-default">
                                                <div class="panel-heading">Item Details</div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <div class="row">
                                    <div class="col-md-12">
    
    
    
                                            <p-dataTable  [value]="filteredItems" [editable]="true" (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)" [(selection)]="selectedItemsList"  [emptyMessage]="tableEmptyMesssage"  [paginator]="true" [rows]="100" [headerCheckboxToggleAllPages]="true" [responsive]="true" class="table listingTable poTable POSOTable">
                                                    <p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>
                                                    <p-column field="categoryName" header="Category" [editable]="false" [style]="{'text-align':'left'}"></p-column>
                                                    <p-column field="collectionName" header="Collection" [editable]="false" [style]="{'text-align':'left'}"></p-column>
                                                    <p-column  header="Sr. No. / Size / Accessory" [editable]="false" [style]="{'text-align':'left'}">
                                                            <ng-template let-row="rowData" pTemplate="body">
                                                                <span > {{row.serialno}} {{row.size}} {{row.accessoryName}}</span>
                                                            </ng-template>
                                                        </p-column>
                                                    <p-column field="requiredQuantity" header="Req. Quantity" [editable]="false" [style]="{'text-align':'center'}"></p-column>
                                                    <p-column field="orderQuantity" header="Or. Quantity" [editable]="true" [style]="{'text-align':'center'}">
                                                            <ng-template let-col let-row="rowData" pTemplate="editor">
                                                                    <input class="form-control" OnlyNumber="true" DecimalPlaces="0" autocomplete="off" minValue="0" maxValue="999" 
                                                                    [(ngModel)]="row[col.field]" name="orderQuantity" (blur)="changeOrderType(row)" >
                                                                </ng-template>
                                                    </p-column>
                                                    <p-column field="orderType" header="Or. Type" [editable]="false" [style]="{'text-align':'center'}"></p-column>
                                                    <p-column field="rate" header="rate" [editable]="false"  [style]="{'text-align':'right'}">
                                                        <ng-template let-col let-data="rowData" pTemplate="body">
                                                            {{data[col.field] ? (data[col.field] | number:'.0') : ''}}
                                                        </ng-template>
                                                    </p-column>
                                                    <p-column field="gst" header="gst %" [editable]="false" [style]="{'text-align':'center'}"></p-column>
                                                    <p-column field="amountWithGST" header="amount(GST)" [editable]="false" [style]="{'text-align':'right'}">
                                                       <ng-template let-col let-data="rowData" pTemplate="body">
                                                            {{data[col.field] ? (data[col.field] | number:'.0') : ''}}
                                                        </ng-template> 
                                                    </p-column>
                                           </p-dataTable>
                                    </div>
                                </div>
                            </div>
    
                        </div>
                    </div>
    
    
                    <!--++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
                </div>
                <!--end::Portlet-->
            </div>
        </div>
    </div>