<p-confirmDialog #cd>
	<p-footer>
		<button type="button" class="btn btn-accent m-btn m-btn--icon" (click)="cd.accept()">
			<span>
				<i class="la la-check"></i>
				<span>
					Yes
				</span>
			</span>
		</button>
		<button type="button" class="btn btn-secondary m-btn m-btn--icon" (click)="cd.reject()">
			<span>
				<i class="la la-close"></i>
				<span>
					No
				</span>
			</span>
		</button>
	</p-footer>
</p-confirmDialog>

<div class="m-subheader">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
				<li class="m-nav__item m-nav__item--home">
					<a href="#" class="m-nav__link m-nav__link--icon">
						<i class="m-nav__link-icon la la-home"></i>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a class="m-nav__link">
						<span class="m-nav__link-text">
							Quality
						</span>
					</a>
				</li>
			</ul>
		</div>
		<div *ngIf="toggleDiv" class="m-form__actions m-form__actions--solid formTopActionBtnBox">
				<button type="submit" class="btn btn-accent m-btn m-btn--air m-btn--custom formTopActionBtn" form="qualityForm" [ngClass]="(qualityFormVal && !qualityFormVal.form.valid) ?'cursorNotAllowed':'cursorPointer'" title="{{(qualityFormVal && qualityFormVal.form.valid) ? 'Please fill in all the required fields' :  params ? 'Update' : 'Save'}}" [disabled]="qualityFormVal && !qualityFormVal.form.valid" [isAuthorize]="['quality']">
						{{ params ? 'Update' : 'Save' }}
				</button>
				<button class="btn btn-secondary" [isAuthorize]="['quality']" (click)="onCancel()">
						Cancel
				</button>
		</div>
	</div>
</div>
<!-- END: Subheader -->
<div class="m-content">
	<div class="row">
		<div class="col-lg-12">
			<!--begin::Portlet-->
			<div class="m-portlet">

				<div class="row">
				
				<div class="col-md-12"  *ngIf="toggleDiv">
					
					<div class="">
						<form class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed inputForm" role="form" novalidate (ngSubmit)="onSubmit(qualityForm)"  [formGroup]="qualityForm"  #qualityFormVal="ngForm"  id="qualityForm">										
							<div class="row">
								
									<div class="col-md-12">
										
										<div class="row">
											<div class="col-md-12">
												<!-- Basic Information -->
												<div class="panel panel-default">
												  <div class="panel-heading">Quality Basic Information</div>
												  <div class="panel-body">	
													<div class="form-group">
														<div class="row">
															<div class="col-md-3 col-sm-6">
																<div class="row">
																	<label class="col-md-3 col-sm-3 fieldLabel">Category</label>
																	<div class="col-md-9 col-sm-9">
																		<p-dropdown class="feePlanBox" [options]="categoriesCodeList"   [(ngModel)]="slectedCategory"  [ngClass]="{'red-border-class': qualityForm.get('categoryId').hasError('required') && isFormSubmitted}"  formControlName="categoryId"  required [style]="{'width':'100%'}"  (ngModelChange)="onChangeCategory(event)" name="categoriesDDl"></p-dropdown>
																		<!-- <div class="alertMsg" *ngIf="qualityForm.get('categoryId').hasError('required') && qualityForm.get('categoryId ').touched">
																				Please select Category
																			</div> -->
																	</div>
																</div>
															</div>
															<div class="col-md-3 col-sm-6">
																<div class="row">
																	<label class="col-md-3 col-sm-3 fieldLabel">Collection</label>
																	<div class="col-md-9 col-sm-9">
																		<p-dropdown class="feePlanBox" [options]="collectionList"  formControlName="collectionId"  [ngClass]="{'red-border-class': qualityForm.get('collectionId').hasError('required') && isFormSubmitted}"  required [style]="{'width':'100%'}"  name="supplierCodeDDl"></p-dropdown>
																	</div>
																</div>
															</div>
															<div class="col-md-3 col-sm-6">
																<div class="row">
																	<label class="col-md-3 col-sm-3 fieldLabel">Code</label>
																	<div class="col-md-9 col-sm-9">
																		<input type="text" class="form-control"  [ngClass]="{'red-border-class': qualityForm.get('qualityCode').hasError('required') && isFormSubmitted}"  formControlName="qualityCode" required placeholder="">
																	</div>	
																</div>
															</div>
															<div class="col-md-3 col-sm-6">
																<div class="row">
																	<label class="col-md-3 col-sm-3 fieldLabel">Name</label>
																	<div class="col-md-9 col-sm-9">
																		<input type="text" class="form-control"   [ngClass]="{'red-border-class': qualityForm.get('qualityName').hasError('required') && isFormSubmitted}"  formControlName="qualityName" required placeholder="">
																	</div>
																</div>
															</div>
															
														</div>																
													</div>
													
													<div class="form-group">
														<div class="row">
															<div class="col-md-3 col-sm-6">
																<div class="row">
																	<label class="col-md-3 col-sm-3 fieldLabel">HSN Code</label>
																	<div class="col-md-9 col-sm-9">
																		<p-dropdown class="feePlanBox" [options]="hsnCodeList" [ngClass]="{'red-border-class': qualityForm.get('hsnId').hasError('required') && isFormSubmitted}" formControlName="hsnId"  required [style]="{'width':'100%'}"  name="supplierCodeDDl"></p-dropdown>
																	</div>	
																</div>
															</div>
															<div class="col-md-3 col-sm-3">
																<div class="row">
																	<label class="col-md-3 col-sm-3 fieldLabel">Description</label>
																	<div class="col-md-9 col-sm-9">
																		<input type="text" class="form-control"  formControlName="description"  placeholder="">
																	</div>	
																</div>
															</div>
															
														</div>														
													</div>																							
													
												  </div>
												</div>	
											</div>
										
										</div>
										
										<div class="row" *ngIf="slectedCategory==4">
											<div class="col-md-12">
												<!-- For Mattress -->
												<div class="panel panel-default">
												  <div class="panel-heading">Mattress Information</div>
												  <div class="panel-body">																		
													<div class="form-group">
														<div class="row">
															<div class="col-md-4">
																<div class="row">
																	<label class="col-md-5 col-sm-5 fieldLabel">Cust Rate/Sq.Mtr</label>
																	<div class="col-md-7 col-sm-7">
																		<input type="text" class="form-control" required [ngClass]="{'red-border-class': qualityForm.get('custRatePerSqFeet').hasError('required') && isFormSubmitted}"  placeholder="Enter Rate" formControlName="custRatePerSqFeet" >
																	</div>	
																</div>
															</div>
															<div class="col-md-4">
																<div class="row">
																	<label class="col-md-5 col-sm-5 fieldLabel">Max. Discount</label>
																<div class="col-md-7 col-sm-7">
																	<input type="text" class="form-control"  required placeholder="Enter Discount" formControlName="maxDiscout"  [ngClass]="{'red-border-class': qualityForm.get('maxDiscout').hasError('required') && isFormSubmitted}"  >
																</div>
																</div>	
															</div>
															
														</div>
														
													</div>									
												  </div>
												</div>	
												
											</div>
										
										</div>
										
									</div>
									
									
									<div class="col-md-12">
										
										<div class="row" *ngIf="slectedCategory==1 || slectedCategory==5 || slectedCategory==6">
											<div class="col-md-12">
												<!-- Fabric, Wallpapers, Rugs -->
												<div class="panel panel-default">
												  <div class="panel-heading">Fabric, Wallpapers, Rugs Information</div>
												  <div class="panel-body">	
													<div class="form-group">
													
														<div class="row">
															<div class="col-md-4">
																<div class="row">
																	<label class="col-md-5 col-sm-5 fieldLabel">Width</label>
																	<div class="col-md-7 col-sm-7">
																		<input type="text" class="form-control"  formControlName="width"  [ngClass]="{'red-border-class': qualityForm.get('width').hasError('required') && isFormSubmitted}" >
																	</div>	
																</div>
															</div>
															
															<div class="col-md-4">
																<div class="row">
																	<label class="col-md-5 col-sm-5 fieldLabel">Size</label>
																	<div class="col-md-7 col-sm-7">
																		<input type="text" class="form-control"  formControlName="size"  [ngClass]="{'red-border-class': qualityForm.get('size').hasError('required') && isFormSubmitted}" >
																	</div>
																</div>
															</div>
															
															<div class="col-md-4">
																<div class="row">
																	<label class="col-md-5 col-sm-5 fieldLabel">Cut Rate</label>
																	<div class="col-md-7 col-sm-7">
																		<input type="text" class="form-control" formControlName="cutRate" required [ngClass]="{'red-border-class': qualityForm.get('cutRate').hasError('required') && isFormSubmitted}" >
																	</div>	
																</div>
															</div>
															
														</div>														
													</div>
													<div class="form-group">
														
														<div class="row">
															<div class="col-md-4">
																<div class="row">
																	<label class="col-md-5 col-sm-5 fieldLabel">Cut Rate Max Dis.</label>
																	<div class="col-md-7 col-sm-7">
																			<input type="text" class="form-control" placeholder="Enter Rate" required  [ngClass]="{'red-border-class': qualityForm.get('maxCutRateDisc').hasError('required') && isFormSubmitted}"  formControlName="maxCutRateDisc" >
																	</div>
																</div>
															</div>
															
															<div class="col-md-4">
																<div class="row">
																	<label class="col-md-5 col-sm-5 fieldLabel">Role Rate</label>
																	<div class="col-md-7 col-sm-7">
																			<input type="text" class="form-control" formControlName="roleRate" placeholder="Enter Rate" [ngClass]="{'red-border-class': qualityForm.get('roleRate').hasError('required') && isFormSubmitted}" >
																	</div>	
																</div>
															</div>
															
															<div class="col-md-4">
																<div class="row">
																	<label class="col-md-5 col-sm-5 fieldLabel">Role Rate Max Dis.</label>
																	<div class="col-md-7 col-sm-7">
																		<input type="text" class="form-control" placeholder="Enter Rate" title="Role Rate max discount" formControlName="maxRoleRateDisc" required [ngClass]="{'red-border-class': qualityForm.get('maxRoleRateDisc').hasError('required') && isFormSubmitted}" >
																	</div>
																</div>
															</div>
															
														</div>
													</div>
													
													<div class="form-group">
													
														<div class="row">
															<div class="col-md-4">
																<div class="row">
																	<label class="col-md-5 col-sm-5 fieldLabel">RRP</label>
																	<div class="col-md-7 col-sm-7">
																			<input type="text" class="form-control" formControlName="rrp"  [ngClass]="{'red-border-class': qualityForm.get('rrp').hasError('required') && isFormSubmitted}"  required placeholder="Enter RRP">
																	</div>
																</div>
															</div>
															
															<div class="col-md-4">
																<div class="row">
																	<label class="col-md-5 col-sm-5 fieldLabel">Flat Rate</label>
																	<div class="col-md-7 col-sm-7">
																			<input type="text" class="form-control" placeholder="Enter Rate"  formControlName="flatRate" required [ngClass]="{'red-border-class': qualityForm.get('flatRate').hasError('required') && isFormSubmitted}" >
																	</div>
																</div>
															</div>
															
															<div class="col-md-4">
																<div class="row">
																	<label class="col-md-5 col-sm-5 fieldLabel">Max Dis.Flat Cut Rate</label>
																	<div class="col-md-7 col-sm-7">
																		<input type="text" class="form-control" placeholder=""  formControlName="maxflatCutRateDisc" required [ngClass]="{'red-border-class': qualityForm.get('maxflatCutRateDisc').hasError('required') && isFormSubmitted}">
																	</div>	
																</div>
															</div>
															
														</div>														
													</div>		
													
													<div class="form-group">
														<div class="row">
															<div class="col-md-4">
																<div class="row">
																	<label class="col-md-5 col-sm-5 fieldLabel">Max Dis.Flat Role Rate</label>
																	<div class="col-md-7 col-sm-7">
																			<input type="text" class="form-control" placeholder="" formControlName="maxflatRoleRateDisc" required  [ngClass]="{'red-border-class': qualityForm.get('maxflatRoleRateDisc').hasError('required') && isFormSubmitted}" >
																	</div>
																</div>
															</div>
														</div>
													</div>													
												  </div>
												</div>	
											</div>										
										</div>
										
										<div class="row">
											<div class="col-md-12" *ngIf="slectedCategory==2" >
												<!-- For Foam -->
												<div class="panel panel-default">
												  <div class="panel-heading">Foam Information</div>
												  <div class="panel-body">																		
													<div class="form-group">
														
														<div class="row">
															<div class="col-md-4">
																<div class="row">
																	<label class="col-md-5 col-sm-5 fieldLabel">Purchase Rate/mm</label>
																	<div class="col-md-7 col-sm-7">
																		<input type="text" class="form-control" placeholder="" formControlName="purchaseRatePerMM"  required  [ngClass]="{'red-border-class': qualityForm.get('purchaseRatePerMM').hasError('required') && isFormSubmitted}" >
																	</div>	
																</div>
															</div>
															
															<div class="col-md-4">
																<div class="row">
																	<label class="col-md-5 col-sm-5 fieldLabel">Selling Rate/mm</label>
																	<div class="col-md-7 col-sm-7">
																			<input type="text" class="form-control" placeholder="" formControlName="sellingRatePerMM"  required  [ngClass]="{'red-border-class': qualityForm.get('sellingRatePerMM').hasError('required') && isFormSubmitted}" >
																	</div>
																</div>
															</div>
															
															<div class="col-md-4">
																<div class="row">
																	<label class="col-md-5 col-sm-5 fieldLabel">Max. Discount</label>
																	<div class="col-md-7 col-sm-7">
																			<input type="text" class="form-control" placeholder="Enter Discount" formControlName="maxDiscout"  required  [ngClass]="{'red-border-class': qualityForm.get('maxDiscout').hasError('required') && isFormSubmitted}" >
																	</div>
																</div>
															</div>
															
														</div>
													
													</div>
																								
												  </div>
												</div>												
											</div>										
										</div>
										
										
										
									</div>
									
									
								</div>
								
								
							</form>
						
					</div>
					
				</div>
			</div>	

			</div>	
				<div class="m-portlet__body">
					<!--begin::Section-->
					<div class="m-section">
						<div class="m-section__content">
								<div class="ui-widget-header" style="border-bottom: 0 none">
										<i class="fa fa-search searchIcon"></i>
										<input #gb type="text" pInputText size="50" placeholder="Search" class="form-control siteSearchbox">
										
										<!-- Add Button -->
										<button  *ngIf="!toggleDiv" class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--air m-btn--pill btnAddForm" (click)="toggleButton()" [isAuthorize]="['quality']">
											<span>
												<i class="flaticon-add"></i>
												<span>
													Add Quality
												</span>
											</span>
										</button>
									</div>
							<p-dataTable [value]="recordList" class="table listingTable" [rows]="pageSize" [globalFilter]="gb" #dt [lazy]="true" [paginator]="true"  [rowsPerPageOptions]="[20,50,100,200,500]"
							[totalRecords]="totalCount" (onLazyLoad)="loadLazy($event)">
								<p-column field="qualityCode" header="Quality Code" [style]="{'text-align':'center'}"></p-column>
								<p-column field="qualityName" header="Quality Name" [style]="{'text-align':'center'}"></p-column>
								<!-- <p-column field="collection" header="Description" [style]="{'text-align':'center'}"></p-column>
								<p-column field="manufacturerName" header="Manu FacturerName" [style]="{'text-align':'center'}"></p-column> -->
								<p-column styleClass="col-button" [style]="{'text-align':'center'}">
									<ng-template pTemplate="header">
										Action
									</ng-template>
									<ng-template let-row="rowData" pTemplate="body" >
										<button type="button" pButton (click)="onEditClick(row)" icon="fa fa-pencil" class="editBtn" title="Edit"></button>
										<button type="button" pButton (click)="onDelete(row)" icon="fa fa-trash-o" class="delBtn" title="Delete"></button>
									</ng-template>
								</p-column>
							</p-dataTable>
						</div>
					</div>
				
					<!--end::Section-->
				</div>
			
			<!--end::Portlet-->
		</div>
	</div>
</div>