<p-confirmDialog #cd>
	<p-footer>
		<button type="button" class="btn btn-accent m-btn m-btn--icon" (click)="cd.accept()">
			<span>
				<i class="la la-check"></i>
				<span>
					Yes
				</span>
			</span>
		</button>
		<button type="button" class="btn btn-secondary m-btn m-btn--icon" (click)="cd.reject()">
			<span>
				<i class="la la-close"></i>
				<span>
					No
				</span>
			</span>
		</button>
	</p-footer>
</p-confirmDialog>

<div class="m-subheader">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
				<li class="m-nav__item m-nav__item--home">
					<a href="#" class="m-nav__link m-nav__link--icon">
						<i class="m-nav__link-icon la la-home"></i>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a class="m-nav__link">
						<span class="m-nav__link-text">
							Quality
						</span>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a class="m-nav__link">
						<span class="m-nav__link-text">
							List
						</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<!-- END: Subheader -->
<div class="m-content">
	<div class="row">
		<div class="col-lg-12">
			<!--begin::Portlet-->
			<div class="m-portlet">

				<div class="row">
				
				<div class="col-md-12">
					
					<div class="">
						<form class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed" role="form" novalidate (ngSubmit)="onSubmit(qualityForm)"  [formGroup]="qualityForm" id="qualityForm">
								<div class="row">
								
									<div class="col-md-6">
										
										<div class="row">
											<div class="col-md-12">
												<!-- Basic Information -->
												<div class="panel panel-default">
												  <div class="panel-heading">Quality Basic Information</div>
												  <div class="panel-body">	
													<div class="form-group">
														<label class="col-md-2 col-sm-2 fieldLabel">Category Code</label>
														<div class="col-md-4 col-sm-4">
															<p-dropdown class="feePlanBox" [options]="categoriesCodeList"  formControlName="categoryId"  required [style]="{'width':'100%'}"  (ngModelChange)="onChangeCategory(event)" name="categoriesDDl"></p-dropdown>
															<div class="alertMsg" *ngIf="qualityForm.get('categoryId').hasError('required') && qualityForm.get('categoryId ').touched">
																	Please select Category
																</div>
														</div>		
														
														<label class="col-md-2 col-sm-2 fieldLabel">Collection Code</label>
														<div class="col-md-4 col-sm-4">
															<p-dropdown class="feePlanBox" [options]="collectionList"  formControlName="collectionId"  required [style]="{'width':'100%'}"  name="supplierCodeDDl"></p-dropdown>
															<div class="alertMsg" *ngIf="qualityForm.get('collectionId').hasError('required') && qualityForm.get('collectionId').touched">
																	Please select collection Code
																</div>
														</div>
													</div>
													<div class="form-group">
														<label class="col-md-2 col-sm-2 fieldLabel">Quality Code</label>
														<div class="col-md-4 col-sm-4">
															<input type="text" class="form-control"  formControlName="qualityCode"  placeholder="Enter code">
														</div>	
														
														<label class="col-md-2 col-sm-2 fieldLabel">Quality Name</label>
														<div class="col-md-4 col-sm-4">
															<input type="text" class="form-control"   formControlName="qualityName" placeholder="Enter Name">
														</div>
													</div>
													<div class="form-group">
														<label class="col-md-2 col-sm-2 fieldLabel">HSN Code</label>
														<div class="col-md-4 col-sm-4">
															<p-dropdown class="feePlanBox" [options]="hsnCodeList"  formControlName="hsnId"  required [style]="{'width':'100%'}"  name="supplierCodeDDl"></p-dropdown>
															<div class="alertMsg" *ngIf="qualityForm.get('hsnId').hasError('required') && qualityForm.get('hsnId').touched">
																	Please select Code
																</div>
														</div>	
													</div>																							
													<div class="form-group">
														<label class="col-md-2 col-sm-2 fieldLabel">Description</label>
														<div class="col-md-10 col-sm-10">
															<input type="text" class="form-control"  formControlName="description"  placeholder="Enter Description">
														</div>																						
													</div>
												  </div>
												</div>	
											</div>
										
										</div>
										
										<div class="row">
											<div class="col-md-12">
												<!-- For Mattress -->
												<div class="panel panel-default">
												  <div class="panel-heading">For Mattress</div>
												  <div class="panel-body">																		
													<div class="form-group">
														<label class="col-md-2 col-sm-2 fieldLabel">Cust Rate/Sq.Mtr</label>
														<div class="col-md-4 col-sm-4">
															<input type="text" class="form-control" placeholder="Enter Rate" formControlName="custRatePerSqFeet" >
														</div>	
														
														<label class="col-md-2 col-sm-2 fieldLabel">Max. Discount</label>
														<div class="col-md-4 col-sm-4">
															<input type="text" class="form-control" placeholder="Enter Discount" formControlName="maxDiscout" >
														</div>
													</div>									
												  </div>
												</div>	
												
											</div>
										
										</div>
										
									</div>
									
									
									<div class="col-md-6">
										
										<div class="row">
											<div class="col-md-12">
												<!-- Fabric, Wallpapers, Rugs -->
												<div class="panel panel-default">
												  <div class="panel-heading">Fabric, Wallpapers, Rugs</div>
												  <div class="panel-body">	
													<div class="form-group">
														<label class="col-md-2 col-sm-2 fieldLabel">Basic</label>
														<div class="col-md-3 col-sm-3">
															<input type="text" class="form-control" formControlName="width"  placeholder="Enter Width">
														</div>
														<div class="col-md-3 col-sm-3">
															<input type="text" class="form-control" formControlName="size" placeholder="Enter Size">
														</div>	
														<div class="col-md-3 col-sm-3">
															<input type="text" class="form-control" formControlName="cutRate" placeholder="Enter Rate">
														</div>	
													</div>
													<div class="form-group">
														<label class="col-md-2 col-sm-2 fieldLabel">Rates</label>
														<div class="col-md-3 col-sm-3">
															<input type="text" class="form-control" formControlName="roleRate" placeholder="Enter Rate">
														</div>
														<div class="col-md-3 col-sm-3">
															<input type="text" class="form-control" formControlName="rrp"  placeholder="Enter RRP">
														</div>	
														<div class="col-md-3 col-sm-3">
															<input type="text" class="form-control" placeholder="Enter Rate"  formControlName="flatRate" >
														</div>	
													</div>													
													<div class="form-group">
														<label class="col-md-2 col-sm-2 fieldLabel">Cut Rate</label>
														<div class="col-md-4 col-sm-4">
															<input type="text" class="form-control" placeholder="Enter Rate"  formControlName="maxCutRateDisc" >
														</div>	
														
														<label class="col-md-2 col-sm-2 fieldLabel">Role Rate </label>
														<div class="col-md-4 col-sm-4">
															<input type="text" class="form-control" placeholder="Enter Rate"  formControlName="maxRoleRateDisc" >
														</div>
													</div>
													<div class="form-group">
														<label class="col-md-2 col-sm-2 fieldLabel">Flat Cut Rate</label>
														<div class="col-md-4 col-sm-4">
															<input type="text" class="form-control" placeholder="Enter Rate"  formControlName="flatRate" >
														</div>	
														
														<label class="col-md-2 col-sm-2 fieldLabel">Flat Role Rate</label>
														<div class="col-md-4 col-sm-4">
															<input type="text" class="form-control" formControlName="roleRate" placeholder="Enter Rate">
														</div>
													</div>													
												  </div>
												</div>	
											</div>										
										</div>
										
										<div class="row">
											<div class="col-md-12">
												<!-- For Foam -->
												<div class="panel panel-default">
												  <div class="panel-heading">For Foam</div>
												  <div class="panel-body">																		
													<div class="form-group">
														<label class="col-md-2 col-sm-2 fieldLabel">Purchase Rate/mm</label>
														<div class="col-md-4 col-sm-4">
															<input type="text" class="form-control" placeholder="Enter Rate" formControlName="purchaseRatePerMM" >
														</div>	
														
														<label class="col-md-2 col-sm-2 fieldLabel">Selling Rate/mm</label>
														<div class="col-md-4 col-sm-4">
																<input type="text" class="form-control" placeholder="Enter Rate" formControlName="sellingRatePerMM" >
														</div>
													</div>
													<div class="form-group">
														<label class="col-md-2 col-sm-2 fieldLabel">Max. Discount</label>
														<div class="col-md-4 col-sm-4">
																<input type="text" class="form-control" placeholder="Enter Discount" formControlName="maxDiscout" >
														</div>
													</div>															
												  </div>
												</div>												
											</div>										
										</div>
										
										
										
									</div>
									
									<!--- Address Details -->									
									<div class="col-md-6">
									
										
										
									</div>
									
								</div>
								
								
							</form>
						
						</div>
					
				</div>
			</div>	

			</div>	
				<div class="m-portlet__body">
					<!--begin::Section-->
					<div class="m-section">
						<div class="m-section__content">
								<div class="ui-widget-header" style="border-bottom: 0 none">
										<i class="fa fa-search searchIcon"></i>
										<input #gb type="text" pInputText size="50" placeholder="Search" class="form-control siteSearchbox">
										
										<!-- Add Button -->
										<button  *ngIf="!toggleDiv" class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--air m-btn--pill btnAddForm" (click)="toggleButton()" [isAuthorize]="['quality']">
											<span>
												<i class="flaticon-add"></i>
												<span>
													Add Collection
												</span>
											</span>
										</button>
									</div>
							<p-dataTable [value]="recordList" class="table listingTable" [rows]="pageSize" [globalFilter]="gb" #dt [lazy]="true" [paginator]="true"  [loading]="loading"  [rowsPerPageOptions]="[20,50,100,200,500]"
							[totalRecords]="totalCount" (onLazyLoad)="loadLazy($event)">
								<p-column field="qualityCode" header="Quality Code" [style]="{'text-align':'center'}"></p-column>
								<p-column field="qualityName" header="Quality Name" [style]="{'text-align':'center'}"></p-column>
								<!-- <p-column field="collection" header="Description" [style]="{'text-align':'center'}"></p-column>
								<p-column field="manufacturerName" header="Manu FacturerName" [style]="{'text-align':'center'}"></p-column> -->
								<p-column styleClass="col-button" [style]="{'text-align':'center'}">
									<ng-template pTemplate="header">
										Action
									</ng-template>
									<ng-template let-row="rowData" pTemplate="body" >
										<button type="button" pButton (click)="onEditClick(row)" icon="fa fa-pencil" class="editBtn" title="Edit"></button>
										<button type="button" pButton (click)="onDelete(row)" icon="fa fa-trash-o" class="delBtn" title="Delete"></button>
									</ng-template>
								</p-column>
							</p-dataTable>
						</div>
					</div>
				
					<!--end::Section-->
				</div>
			
			<!--end::Portlet-->
		</div>
	</div>
</div>