<p-confirmDialog #cd>
    <p-footer>
        <button type="button" class="btn btn-accent m-btn m-btn--icon" (click)="cd.accept()">
			<span>
				<i class="la la-check"></i>
				<span>
					Yes
				</span>
			</span>
		</button>
        <button type="button" class="btn btn-secondary m-btn m-btn--icon" (click)="cd.reject()">
			<span>
				<i class="la la-close"></i>
				<span>
					No
				</span>
			</span>
		</button>
    </p-footer>
</p-confirmDialog>

<div class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="#" class="m-nav__link m-nav__link--icon">
						<i class="m-nav__link-icon la la-home"></i>
					</a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a class="m-nav__link">
						<span class="m-nav__link-text">
							Couriers
						</span>
					</a>
                </li>
            </ul>
        </div>
        <div *ngIf="toggleDiv" class="m-form__actions m-form__actions--solid formTopActionBtnBox">
            <button type="submit" class="btn btn-accent m-btn m-btn--air m-btn--custom formTopActionBtn" form="courierForm" [ngClass]="(courierForm && !courierForm.form.valid) ?'cursorNotAllowed':'cursorPointer'"
                title="{{(courierForm && courierForm.form.valid) ? 'Please fill in all the required fields' :  params ? 'Update' : 'Save'}}"
                [disabled]="courierForm && !courierForm.form.valid" [isAuthorize]="['courier']" tabindex="3">
					{{ params ? 'Update' : 'Save' }}
			</button>
            <button class="btn btn-secondary" [isAuthorize]="['courier']" (click)="onCancel()" tabindex="4">
					Cancel
			</button>
        </div>
    </div>
</div>
<!-- END: Subheader -->
<div class="m-content">
    <div class="row">
        <div class="col-lg-12">
            <!--begin::Portlet-->
            <div class="m-portlet">

                <div class="row">

                    <div class="col-md-12" *ngIf="toggleDiv">
                        <form class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed" role="form" novalidate (ngSubmit)="onSubmit(courierForm)"
                            #courierForm="ngForm" id="courierForm">
                            <div class="formContainerSamePage">

                                <div class="row">

                                    <div class="col-md-12">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">Courier Basic Details</div>
                                            <div class="panel-body">
                                                <div class="form-group">
                                                    <div class="col-md-3 formContentbox">
                                                        <div class="form-group">
                                                            <label class="fieldLabel col-sm-5">Name<span class="requiredField">*</span></label>
                                                            <div class="col-sm-7">
                                                                <input class="form-control m-input" type="text" value="" onKeyPress="if(this.value.length==100) return false;" [ngClass]="{'red-border-class': nameVal.errors && isFormSubmitted}"
                                                                    #nameVal="ngModel" required [(ngModel)]="courierObj.name" name="name"
                                                                    id="name" placeholder="Name" tabindex="1">
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-3 formContentbox">
                                                        <div class="form-group">
                                                            <label class="fieldLabel col-sm-5">Email</label>
                                                            <div class="col-sm-7">
                                                                <input type="email" class="form-control" pattern="^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$"
                                                                    [ngClass]="{'red-border-class': emailVal.errors && isFormSubmitted}"
                                                                    #emailVal="ngModel" [(ngModel)]="courierObj.email"
                                                                    name="email" placeholder="Email" maxlength="254" tabindex="2">
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-3 formContentbox">
                                                        <div class="form-group">
                                                            <label class="fieldLabel col-sm-5">Phone</label>
                                                            <div class="col-sm-7">
                                                                <input type="text" class="form-control" pattern="^[0-9]\d{2,4}-\d{6,8}$" onKeyPress="if(this.value.length==12) return false;" [ngClass]="{'red-border-class': phoneVal.errors && isFormSubmitted}"
                                                                    [(ngModel)]="courierObj.phone" name="phone" #phoneVal="ngModel"
                                                                    placeholder="Phone" minlength="10" autocomplete="off" tabindex="3">

                                                                <div *ngIf="phoneVal.errors && (phoneVal.dirty || phoneVal.touched)" class="alertMsg">
                                                                    <div *ngIf="phoneVal.errors.minlength && !phoneVal.errors.pattern">
                                                                        Phone No. must be min 6 digit.
                                                                    </div>
                                                                    <div *ngIf="phoneVal.errors.pattern">
                                                                        Invalid Phone.
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-3 formContentbox">
                                                        <div class="form-group">
                                                            <label class="fieldLabel col-sm-5">Mobile<span class="requiredField">*</span></label>
                                                            <div class="col-sm-7">
                                                                <input type="phone" class="form-control" pattern="^[0-9]+" onKeyPress="if(this.value.length==10) return false;" [ngClass]="{'red-border-class': mobileVal.errors && isFormSubmitted}"
                                                                    [(ngModel)]="courierObj.mobile" name="mobile" required #mobileVal="ngModel"
                                                                    placeholder="Mobile" minlength="10" maxlength="10" tabindex="4">

                                                                <div *ngIf="mobileVal.errors && (mobileVal.dirty || mobileVal.touched)" class="alertMsg">
                                                                    <div *ngIf="mobileVal.errors.minlength && !mobileVal.errors.pattern">
                                                                        Mobile number should be 10 digit.
                                                                    </div>
                                                                    <div *ngIf="mobileVal.errors.pattern">
                                                                        Mobile number must be a number.
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-3 formContentbox">
                                                        <div class="form-group">
                                                            <label class="fieldLabel col-sm-5">Address<span class="requiredField">*</span></label>
                                                            <div class="col-sm-7">
                                                                <input type="text" class="form-control" [ngClass]="{'red-border-class': addressVal.errors && isFormSubmitted}" #addressVal="ngModel"
                                                                    required [(ngModel)]="courierObj.address" name="address"
                                                                    placeholder="Address" id="address" tabindex="5">
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-3 formContentbox">
                                                        <div class="form-group">
                                                            <label class="fieldLabel col-sm-5">Pin<span class="requiredField">*</span></label>
                                                            <div class="col-sm-7">
                                                                <input type="text" class="form-control" pattern="^[0-9]+" onKeyPress="if(this.value.length==6) return false;" [ngClass]="{'red-border-class': pinVal.errors && isFormSubmitted}"
                                                                    #pinVal="ngModel" required [(ngModel)]="courierObj.pin" name="pin"
                                                                    placeholder="PIN" id="pin" minlength="6" maxlength="6" tabindex="6">
                                                                <div *ngIf="pinVal.errors && (pinVal.dirty || pinVal.touched)" class="alertMsg">
                                                                    <div *ngIf="pinVal.errors.minlength && !pinVal.errors.pattern">
                                                                        Pin number should be 6 digit.
                                                                    </div>
                                                                    <div *ngIf="pinVal.errors.pattern">
                                                                        Pin number must be a number.
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>



                                </div>

                            </div>

                        </form>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <!--begin::Section-->

                    <div class="m-section">
                        <div class="m-section__content">
                            <div class="ui-widget-header" style="border-bottom: 0 none">
                                <i class="fa fa-search searchIcon"></i>
                                <input #gb type="text" pInputText size="50" placeholder="Search" class="form-control siteSearchbox">

                                <!-- Add Button -->
                                <button *ngIf="!toggleDiv" class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--air m-btn--pill btnAddForm" (click)="toggleButton()"
                                    [isAuthorize]="['courier']">
											<span>
												<i class="flaticon-add"></i>
												<span>
													Add Courier
												</span>
											</span>
										</button>
                            </div>
                            <p-dataTable [value]="courierList" [emptyMessage]="tableEmptyMesssage" class="table listingTable" [rows]="pageSize" [globalFilter]="gb"
                                #dt [lazy]="true" [paginator]="true" [rowsPerPageOptions]="[20,50,100,200,500]" [totalRecords]="totalCount"
                                (onLazyLoad)="loadLazy($event)">
                                <p-column field="name" header="Name" [style]="{'text-align':'left'}"></p-column>
                                <p-column field="email" header="Email" [style]="{'text-align':'left'}"></p-column>
                                <p-column field="phone" header="Phone" [style]="{'text-align':'left'}"></p-column>
                                <p-column field="mobile" header="Mobile" [style]="{'text-align':'left'}"></p-column>
                                <p-column field="pin" header="Pin" [style]="{'text-align':'left'}"></p-column>
                                <p-column styleClass="col-button" [style]="{'text-align':'left'}">
                                    <ng-template pTemplate="header">
                                        Action
                                    </ng-template>
                                    <ng-template let-row="rowData" pTemplate="body">
                                        <button type="button" pButton (click)="onEditClick(row)" icon="fa fa-pencil" class="editBtn" title="Edit"></button>
                                        <button type="button" pButton (click)="onDelete(row)" icon="fa fa-trash-o" class="delBtn" title="Delete"></button>
                                    </ng-template>
                                </p-column>
                            </p-dataTable>
                        </div>
                    </div>
                    <!--end::Section-->
                </div>
            </div>
            <!--end::Portlet-->
        </div>
    </div>
</div>