<p-confirmDialog #cd>
   <p-footer>
      <button type="button" class="btn btn-accent m-btn m-btn--icon" (click)="cd.accept()">
      <span>
      <i class="la la-check"></i>
      <span>
      Yes
      </span>
      </span>
      </button>
      <button type="button" class="btn btn-secondary m-btn m-btn--icon" (click)="cd.reject()">
      <span>
      <i class="la la-close"></i>
      <span>
      No
      </span>
      </span>
      </button>
   </p-footer>
</p-confirmDialog>
<div class="m-subheader">
   <div class="d-flex align-items-center">
      <div class="mr-auto">
         <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
            <li class="m-nav__item m-nav__item--home">
               <a href="#" class="m-nav__link m-nav__link--icon">
               <i class="m-nav__link-icon la la-home"></i>
               </a>
            </li>
            <li class="m-nav__separator">
               -
            </li>
            <li class="m-nav__item">
               <a class="m-nav__link">
               <span class="m-nav__link-text">
               Customer
               </span>
               </a>
            </li>
            <li class="m-nav__separator">
               -
            </li>
            <li class="m-nav__item">
               <a class="m-nav__link">
               <span class="m-nav__link-text">
               List
               </span>
               </a>
            </li>
         </ul>
      </div>
      <div *ngIf="toggleDiv" class="m-form__actions m-form__actions--solid formTopActionBtnBox">
         <button type="submit" class="btn btn-accent m-btn m-btn--air m-btn--custom formTopActionBtn" form="customerForm" [ngClass]="(customerForm && !customerForm.form.valid) ?'cursorNotAllowed':'cursorPointer'" title="{{(customerForm && !customerForm.form.valid) ? 'Please fill in all the required fields' :  params ? 'Update' : 'Save'}}" [disabled]="customerForm && !customerForm.form.valid" [isAuthorize]="['customer']">
         {{ params ? 'Update' : 'Save' }}
         </button>
         <button class="btn btn-secondary" [isAuthorize]="['customer']" (click)="onCancel()">
         Cancel
         </button>
      </div>
   </div>
</div>
<!-- END: Subheader -->
<div class="m-content">
   <div class="row">
      <div class="col-lg-12">
         <div class="m-portlet">
            <div class="row">
               <div class="col-md-12" *ngIf="toggleDiv">
                  <div class="formContainerSamePage">
                     <form class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed" role="form" novalidate (ngSubmit)="onSubmit(customerForm)" #customerForm="ngForm"  id="customerForm">
                     <div class="row">
                        <div class="col-md-6">
                           <!-- Basic Information -->
                           <div class="panel panel-default">
                              <div class="panel-heading">Customer Basic Information</div>
                              <div class="panel-body">
                                 <div class="form-group">
                                    <label class="col-md-2 col-sm-2 fieldLabel">Name/Code<span class="requiredField">*</span></label>
                                    <div class="col-md-3 col-sm-4">
                                       <input class="form-control" type="text" [ngClass]="{'red-border-class': nameVal.errors && isFormSubmitted}"  #nameVal="ngModel"  [(ngModel)]="customerObj.name" name="name" id="name" required placeholder="Name">
                                       <!-- <div class="alertMsg" *ngIf="nameVal.errors   && (nameVal.dirty || nameVal.touched)">
                                          Please enter Customer Name
                                          </div> -->
                                    </div>
                                    <div class="col-md-3 col-sm-2">
                                       <input class="form-control" type="text" [ngClass]="{'red-border-class': nickNameVal.errors && isFormSubmitted}"  #nickNameVal="ngModel" [(ngModel)]="customerObj.nickName" name="nickName" id="nickName" placeholder="Nick Name">
                                       <!-- <div class="alertMsg" *ngIf="nickNameVal.errors   && (nickNameVal.dirty || nickNameVal.touched)">
                                          Please enter Nick Name
                                          </div> -->
                                    </div>
                                    <div class="col-md-3 col-sm-2">
                                       <input class="form-control m-input" type="number" [ngClass]="{'red-border-class': codeVal.errors && isFormSubmitted}" #codeVal="ngModel" required [(ngModel)]="customerObj.code" name="code" id="code" placeholder="Code">
                                       <!-- <div class="alertMsg" *ngIf="codeVal.errors   && (codeVal.dirty || codeVal.touched)">
                                          Please enter Code
                                          </div>	 -->
                                    </div>
                                 </div>
                                 <div class="form-group">
                                    <label class="col-md-2 col-sm-2 fieldLabel">Email<span class="requiredField">*</span></label>
                                    <div class="col-md-3 col-sm-3">
                                       <input class="form-control" type="text"  [ngClass]="{'red-border-class': emailVal.errors && isFormSubmitted}" #emailVal="ngModel" required [(ngModel)]="customerObj.email" name="email" placeholder="Email" maxlength="254">
                                       <!-- <div class="alertMsg" *ngIf="emailVal.errors && (emailVal.dirty || emailVal.touched)">
                                          Please enter Email
                                          </div> -->
                                       <!-- <div class="alertMsg" *ngIf="emailVal.errors && !emailVal.errors.required && emailVal.errors.email && emailVal.touched">
                                          Please enter valid Email
                                          </div> -->
                                    </div>
                                    <div class="col-md-3 col-sm-3">
                                       <input class="form-control" type="email" [ngClass]="{'red-border-class': alternateEmail1Val.errors && isFormSubmitted}"  #alternateEmail1Val="ngModel" [(ngModel)]="customerObj.alternateEmail1" name="alternateEmail1" placeholder="Alternate email1" maxlength="254">
                                       <!-- <div class="alertMsg" *ngIf="alternateEmail1Val.errors && (alternateEmail1Val.dirty || alternateEmail1Val.touched)">
                                          Please enter Alternate Email1
                                          </div> -->
                                       <!-- <div class="alertMsg" *ngIf="alternateEmail1Val.errors && alternateEmail1Val.errors.email && alternateEmail1Val.touched">
                                          Please enter  Alternate Email1
                                          </div> -->
                                    </div>
                                    <div class="col-md-3 col-sm-3">
                                       <input class="form-control m-input" type="email"   #alternateEmail2Val="ngModel" [(ngModel)]="customerObj.alternateEmail2" name="alternateEmail2" placeholder="Alternate email2" maxlength="254">
                                       <div class="alertMsg" *ngIf="alternateEmail2Val.errors && alternateEmail2Val.errors.email && alternateEmail2Val.touched">
                                          Please enter  Alternate Email2
                                       </div>
                                    </div>
                                 </div>
                                 <div class="form-group">
                                    <label class="col-md-2 col-sm-2 fieldLabel">Phone<span class="requiredField">*</span></label>
                                    <!--<div class="col-md-3 col-sm-3">
                                       <input class="form-control m-input" type="number"  [ngClass]="{'red-border-class': phoneVal.errors && isFormSubmitted}"  [(ngModel)]="customerObj.phone" name="phone" required #phoneVal="ngModel" placeholder="Contact" maxlength="10">
                                        <div class="alertMsg" *ngIf="phoneVal.errors && !phoneVal.errors.required  && phoneVal.errors.pattern && phoneVal.touched">
                                       	Please enter valid phone number
                                       </div> 
                                       </div>-->
                                    <div class="col-md-3 col-sm-3">
                                       <input class="form-control m-input" type="text"   [ngClass]="{'red-border-class': alternatePhone1Val.errors && isFormSubmitted}"   [(ngModel)]="customerObj.alternatePhone1" name="alternatePhone1" #alternatePhone1Val="ngModel"  placeholder="Alternate Phone1" maxlength="10">
                                       <!-- <div class="alertMsg" *ngIf="alternatePhone1Val.errors  && alternatePhone1Val.errors.pattern && alternatePhone1Val.touched">
                                          Please enter valid alternatePhone1 number
                                          </div> -->
                                    </div>
                                    <div class="col-md-3 col-sm-3">
                                       <input class="form-control m-input" type="text" [ngClass]="{'red-border-class': alternatePhone2Val.errors && isFormSubmitted}"   [(ngModel)]="customerObj.alternatePhone2" name="alternatePhone2" #alternatePhone2Val="ngModel"  placeholder="Alternate Phone2" maxlength="10">
                                       <!-- <div class="alertMsg" *ngIf="alternatePhone2Val.errors  && alternatePhone2Val.errors.pattern && alternatePhone2Val.touched">
                                          Please enter valid alternatePhone2 number
                                          </div> -->
                                    </div>
                                 </div>
                                 <div class="form-group" [hidden]="isHide">
                                    <label class="col-md-4 col-sm-3 fieldLabel">Is Wholsesale Customer?</label>
                                    <div class="col-md-1 col-sm-1">
                                       <input type="checkbox" name="isWholesaleCustomer"[(ngModel)]="customerObj.isWholesaleCustomer" value="1" class="formCheckBox" style="float: right;"> 
                                    </div>
                                    <div class="col-md-3 col-sm-3">
                                       <input type="text" class="form-control" placeholder="Username">
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <!-- Account Information -->
                           <div class="panel panel-default">
                              <div class="panel-heading">Customer Account Person Information</div>
                              <div class="panel-body">
                                 <div class="form-group">
                                    <label class="col-md-2 col-sm-2 fieldLabel">Name</label>
                                    <div class="col-md-3 col-sm-4">
                                       <input class="form-control m-input" type="text"  [ngClass]="{'red-border-class': accountPersonNameVal.errors && isFormSubmitted}"   [(ngModel)]="customerObj.accountPersonName" #accountPersonNameVal="ngModel"  name="accountPersonName" id="accountPersonName" placeholder="">
                                       <!-- <div class="alertMsg" *ngIf="accountPersonNameVal.errors && accountPersonNameVal.errors.touched">
                                          Please enter Account Person Name
                                          </div> -->
                                    </div>
                                    <label class="col-md-2 col-sm-2 fieldLabel">PAN</label>
                                    <!-- <div class="col-md-3 col-sm-3">
                                       <input class="form-control m-input" type="number" [ngClass]="{'red-border-class': accountPersonPhoneVal.errors && isFormSubmitted}"  [(ngModel)]="customerObj.gstin" name="gstin" placeholder="GSTIN" maxlength="15" required #gstinVal="ngModel" >
                                       <div class="alertMsg" *ngIf="gstinVal.errors && !gstinVal.errors.required && gstinVal.errors.pattern && gstinVal.touched">
                                       	Please enter valid GSTIN
                                       </div>
                                       </div>		 -->
                                    <div class="col-md-3 col-sm-3">
                                       <input class="form-control m-input" type="text" [ngClass]="{'red-border-class': PANVal.errors && isFormSubmitted}"  [(ngModel)]="customerObj.PAN" name="PAN"   #PANVal="ngModel" placeholder="" maxlength="10">
                                       <!-- <div class="alertMsg" *ngIf="PANVal.errors && PANVal.errors.pattern && PANVal.touched">
                                          Please enter valid PAN
                                          </div> -->
                                    </div>                                    
                                 </div>
                                 <div class="form-group">
									<label class="col-md-2 col-sm-2 fieldLabel">Email</label>
                                    <div class="col-md-3 col-sm-2">
                                       <input class="form-control m-input" type="email" email [ngClass]="{'red-border-class': accountPersonEmailVal.errors && isFormSubmitted}" [(ngModel)]="customerObj.accountPersonEmail" name="accountPersonEmail"  #accountPersonEmailVal="ngModel"  placeholder="" maxlength="254">
                                       <!-- <div class="alertMsg" *ngIf="accountPersonEmailVal.errors && accountPersonEmailVal.errors.email && accountPersonEmailVal.touched">
                                          Please enter  Alternate Email2
                                          </div> -->
                                    </div>
                                    <label class="col-md-2 col-sm-2 fieldLabel">Phone</label>	
                                    <div class="col-md-3 col-sm-2">
                                       <input class="form-control m-input" type="number"  [ngClass]="{'red-border-class': accountPersonPhoneVal.errors && isFormSubmitted}"  [(ngModel)]="customerObj.accountPersonPhone" name="accountPersonPhone"  #accountPersonPhoneVal="ngModel" placeholder="" maxlength="10">
                                       <!-- <div class="alertMsg" *ngIf="accountPersonPhoneVal.errors && accountPersonPhoneVal.errors.pattern && accountPersonPhoneVal.touched">
                                          Please enter valid phone number
                                          </div> -->
                                    </div>
								 
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-md-12">
                           <div class="panel panel-default">
                              <div class="panel-heading">Customer Address Details</div>
                              <div class="panel-body">
                                 <div class="table-responsive">
                                    <table class="table formAddressTable">
                                       <thead>
                                          <tr>
                                             <th>Address 1</th>
                                             <th>Address 2</th>
                                             <th>GST</th>
                                             <th>PIN</th>
                                             <th>State</th>
                                             <th>City</th>
                                             <th>Is Primary?</th>
                                             <th></th>
                                          </tr>
                                       </thead>
                                       <tbody>
                                          <tr  *ngFor="let supAdd of customerObj.MstCustomerAddresses;let rowNum=index;let lastRowNum=last">
                                             <td>
                                                <input type="text" class="form-control"  [(ngModel)]="supAdd.addressLine1" name="{{'addressLine1'+supAdd.contRoleId}}"/>
                                                <div class="alertMsg" *ngIf="supAdd.invalidAddressLine1">
                                                   Please enter AddressLine1
                                                </div>
                                             </td>
                                             <td>
                                                <input type="text" class="form-control"  [(ngModel)]="supAdd.addressLine2" name="{{'addressLine2'+supAdd.contRoleId}}"/>
                                                <div class="alertMsg" *ngIf="supAdd.invalidAddressLine2">
                                                   Please enter AddressLine2
                                                </div>
                                             </td>
                                             <td>
                                                <input class="form-control" type="number" onKeyPress="if(this.value.length==15) return false;" [(ngModel)]="supAdd.gstin" name="{{'gstin'+supAdd.contRoleId}}" maxlength="15">
                                                <div class="alertMsg" *ngIf="supAdd.invalidGstin">
                                                   Please enter gstin
                                                </div>
                                             </td>
                                             <td>
                                                <input type="number" class="form-control" onKeyPress="if(this.value.length==6) return false;" name="{{'pin'+supAdd.contRoleId}}"  [(ngModel)]="supAdd.pin" maxlength="6"/>
                                                <div class="alertMsg" *ngIf="supAdd.invalidPin">
                                                   Please enter pin
                                                </div>
                                             </td>
                                             <td>
                                                <p-dropdown class="feePlanBox" [options]="states" [style]="{'width':'100%'}" [(ngModel)]="supAdd.state"  styleClass="{{ supAdd.invalidState?'red-border-class':''}}"  name="{{'stateDDL'+supAdd.contRoleId}}"></p-dropdown>
                                                <div class="alertMsg" *ngIf="supAdd.invalidState">
                                                   Please select state
                                                </div>
                                             </td>
                                             <td>
                                                <input type="text" class="form-control"  name="{{'city'+supAdd.contRoleId}}" [(ngModel)]="supAdd.city"/>
                                                <div class="alertMsg" *ngIf="supAdd.invalidCity">
                                                   Please enter city
                                                </div>
                                             </td>
                                             <td>
                                          	<input type="radio" class="formCheckbox"  [(ngModel)]="supAdd.isPrimary"  [value]="true" name="{{'chkbox'+supAdd.contRoleId}}" [checked]="supAdd.isPrimary == true" (click)="onClickPrimary(supAdd)" />   
                                          </td>
                                             <td>
                                                <!--<button class="btn btn-success tableActionBtn" *ngIf="lastRowNum" (click)="addNewAddress(supAdd)">
                                                   <i class="material-icons">add</i>
                                                   </button>	
                                                   <button class="btn btn-danger tableActionBtn"  *ngIf="!lastRowNum||rowNum>0" (click)="clearAddress(rowNum)">
                                                   <i class="material-icons">clear</i>
                                                   </button>	-->
                                                <i class="fa fa-plus addBtnIcon"  aria-hidden="true"   *ngIf="lastRowNum" (click)="addNewAddress(supAdd)" ></i>
                                                <i class="fa fa-trash removeBtnIcon"  aria-hidden="true"  *ngIf="!lastRowNum||rowNum>0" (click)="clearAddress(rowNum)" ></i>
                                             </td>
                                          </tr>
                                       </tbody>
                                    </table>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     </form>
                  </div>
               </div>
            </div>
         </div>
         <div class="m-portlet__body">
            <!--begin::Section-->
            <div class="m-section">
               <div class="m-section__content">
                  <div class="ui-widget-header" style="border-bottom: 0 none">
                     <i class="fa fa-search searchIcon"></i>
                     <input #gb type="text" pInputText size="50" placeholder="Search" class="form-control siteSearchbox">
                     <!-- Add Button -->
                     <button *ngIf="!toggleDiv" routerLink="/features/master/customer/list" class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--air m-btn--pill btnAddForm"  (click)="toggleButton()"
                     [isAuthorize]="['customer']">
                     <span>
                     <i class="flaticon-add"></i>
                     <span>
                     Add Customer
                     </span>
                     </span>
                     </button>	
                  </div>
                  <p-dataTable [value]="customerList" [emptyMessage]="tableEmptyMesssage" class="table listingTable" [rows]="pageSize" [globalFilter]="gb" #dt [lazy]="true" [paginator]="true"  [rowsPerPageOptions]="[20,50,100,200,500]"
                  [totalRecords]="totalCount" (onLazyLoad)="loadLazy($event)">
                  <p-column field="name" header="Name" [style]="{'text-align':'left'}"></p-column>
                  <p-column field="email" header="Email" [style]="{'text-align':'left'}"></p-column>
                  <p-column field="phone" header="Phone" [style]="{'text-align':'center'}"></p-column>
                  <p-column field="nickName" header="Nick Name" [style]="{'text-align':'left'}"></p-column>
                  <p-column field="code" header="Code" [style]="{'text-align':'left'}"></p-column>
                  <p-column field="isWholesaleCustomer" header="WholeSale" [style]="{'text-align':'center'}">
                     <ng-template let-wholesale="rowData" pTemplate type="body">
                        {{wholesale.isWholesaleCustomer ? "Yes" : "No"}}
                     </ng-template>
                  </p-column>
                  <p-column styleClass="col-button" [style]="{'text-align':'center'}">
                     <ng-template pTemplate="header">
                        Action
                     </ng-template>
                     <ng-template let-row="rowData" pTemplate="body" >
                        <button type="button" pButton (click)="onEditClick(row)" icon="fa fa-pencil" class="editBtn" title="Edit"></button>
                        <button type="button" pButton (click)="onDelete(row)" icon="fa fa-trash-o" class="delBtn" title="Edit"></button>
                     </ng-template>
                  </p-column>
                  </p-dataTable>
               </div>
            </div>
            <!--end::Section-->
         </div>
      </div>
   </div>
</div>