<p-confirmDialog #cd>
	<p-footer>
		<button type="button" class="btn btn-accent m-btn m-btn--icon" (click)="cd.accept()">
			<span>
				<i class="la la-check"></i>
				<span>
					Yes
				</span>
			</span>
		</button>
		<button type="button" class="btn btn-secondary m-btn m-btn--icon" (click)="cd.reject()">
			<span>
				<i class="la la-close"></i>
				<span>
					No
				</span>
			</span>
		</button>
	</p-footer>
</p-confirmDialog>

<div class="m-subheader">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
				<li class="m-nav__item m-nav__item--home">
					<a href="#" class="m-nav__link m-nav__link--icon">
						<i class="m-nav__link-icon la la-home"></i>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a class="m-nav__link">
						<span class="m-nav__link-text">
							Foam SuggestedMMs
						</span>
					</a>
				</li>
			</ul>
		</div>
		<div *ngIf="toggleDiv" class="m-form__actions m-form__actions--solid formTopActionBtnBox">
			<button type="submit" class="btn btn-accent m-btn m-btn--air m-btn--custom formTopActionBtn" form="fomSuggestedMMForm" [ngClass]="(fomSuggestedMMForm && !fomSuggestedMMForm.form.valid) ?'cursorNotAllowed':'cursorPointer'" title="{{(fomSuggestedMMForm && fomSuggestedMMForm.form.valid) ? 'Please fill in all the required fields' :  params ? 'Update' : 'Save'}}" [disabled]="fomSuggestedMMForm && !fomSuggestedMMForm.form.valid" [isAuthorize]="['foamsuggestedmm']">
					{{ params ? 'Update' : 'Save' }}
			</button>
			<button class="btn btn-secondary" [isAuthorize]="['foamsuggestedmm']" (click)="onCancel()">
					Cancel
			</button>
		</div>
	</div>
</div>
<!-- END: Subheader -->
<div class="m-content">
	<div class="row">
		<div class="col-lg-12">
			<!--begin::Portlet-->
			<div class="m-portlet">
				
				<div class="row">
				
				<div class="col-md-12" *ngIf="toggleDiv">
					<form class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed" role="form" novalidate (ngSubmit)="onSubmit(fomSuggestedMMForm)"  #fomSuggestedMMForm="ngForm"  id="fomSuggestedMMForm">
					<div class="formContainerSamePage">
						
							<div class="row">
								<div class="col-md-12">
									<div class="panel panel-default">
									  <div class="panel-heading">Foam SuggestedMM Basic Details:</div>
									    <div class="panel-body">
											<div class="row">
											<div class="col-md-3 formContentbox">
												<label class="fieldLabel col-sm-5">Collection <span class="requiredField">*</span></label>
												<div class="col-sm-7">
													<p-dropdown class="feePlanBox" [options]="collectionList" [style]="{'width':'100%'}" #selectedCollectionVal="ngModel"  required [ngClass]="{'red-border-class': selectedCollectionVal.errors && isFormSubmitted}" [(ngModel)]="selectedCollection" name="collection" (ngModelChange)="onCollectionClick()"></p-dropdown>
												</div>	
											</div>
											<div class="col-md-3 formContentbox">
												<label class="fieldLabel col-sm-5">Quality <span class="requiredField">*</span></label>
												<div class="col-sm-7">
													<p-dropdown class="feePlanBox" [options]="qualityList" [style]="{'width':'100%'}" [(ngModel)]="selectedQuality" #selectedQualityVal="ngModel" required [ngClass]="{'red-border-class': selectedQualityVal.errors && isFormSubmitted}" name="quality" (ngModelChange)="onQualityClick()"></p-dropdown>
												</div>
											</div>
											<div class="col-md-3 formContentbox">
												<label class="fieldLabel col-sm-5">Foam Density <span class="requiredField">*</span></label>
												<div class="col-sm-7">
													<p-dropdown class="feePlanBox" [options]="fomDensityList" [style]="{'width':'100%'}" [(ngModel)]="selectedDensity" #selectedDensityVal="ngModel" required [ngClass]="{'red-border-class': selectedDensityVal.errors && isFormSubmitted}" name="density"></p-dropdown>
												</div>
											</div>
											<div class="col-md-3 formContentbox">
												<div class="form-group">
													<label class="fieldLabel col-sm-5">SuggestedMM <span class="requiredField">*</span></label>
													<div class="col-sm-7">
														<input class="form-control m-input" type="number" value="" maxlength="10" #suggestedMMVal="ngModel" required onKeyPress="if(this.value.length==10) return false;" [ngClass]="{'red-border-class': suggestedMMVal.errors && isFormSubmitted}" [(ngModel)]="fomSuggestedMMObj.suggestedMM" name="suggestedMM" id="suggestedMM" placeholder="Enter SuggestedMM">
														<!-- <div class="alertMsg" *ngIf="suggestedMMVal.errors   && (suggestedMMVal.dirty || suggestedMMVal.touched)">
															Please enter SuggestedMM
														</div> -->
													</div>
												</div>
											</div>
											</div>
										</div>
									</div>
								</div>
							</div>
								
								
				<!-- <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
					<div class="m-form__actions m-form__actions--solid">
						<div class="row">
							<div class="col-lg-6">
								<button type="submit" class="btn btn-accent m-btn m-btn--air m-btn--custom" [ngClass]="fomSuggestedMMForm.invalid ?'cursorNotAllowed':'cursorPointer'" title="{{ fomSuggestedMMForm.invalid ? 'Please fill in all the required fields' :  params ? 'Update' : 'Save'}}" [disabled]="fomSuggestedMMForm.invalid" [isAuthorize]="['foamsuggestedmm']">
										{{ params ? 'Update' : 'Save' }}
								</button>
								<button class="btn btn-secondary" [isAuthorize]="['foamsuggestedmm']" (click)="onCancel()">
										Cancel
								</button>
							</div>
						</div>
					</div>
				</div> -->
							
						
					</div>
					
					</form>
				</div>
			</div>
				<div class="m-portlet__body">
					<!--begin::Section-->
					
					<div class="m-section">
						<div class="m-section__content">
								<div class="ui-widget-header" style="border-bottom: 0 none">
										<i class="fa fa-search searchIcon"></i>
										<input #gb type="text" pInputText size="50" placeholder="Search" class="form-control siteSearchbox">
										
										<!-- Add Button -->
										<button  *ngIf="!toggleDiv" class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--air m-btn--pill btnAddForm" (click)="toggleButton()" [isAuthorize]="['foamsuggestedmm']">
											<span>
												<i class="flaticon-add"></i>
												<span>
													Add Foam SuggestedMM
												</span>
											</span>
										</button>
									</div>
							<p-dataTable [value]="fomSuggestedMMList" class="table listingTable" [rows]="pageSize" [globalFilter]="gb" #dt [lazy]="true" [paginator]="true"  [rowsPerPageOptions]="[20,50,100,200,500]"
                            [totalRecords]="totalCount" (onLazyLoad)="loadLazy($event)">
                                <p-column field="mstCollection.collectionName" header="Collection" [style]="{'text-align':'left'}"></p-column>
                                <p-column field="mstQuality.qualityName" header="Quality" [style]="{'text-align':'left'}"></p-column>
								<p-column field="density" header="Foam Density" [style]="{'text-align':'left'}"></p-column>
								<p-column field="suggestedMM" header="Foam Suggested MM" [style]="{'text-align':'center'}"></p-column>
								<p-column styleClass="col-button" [style]="{'text-align':'center'}">
									<ng-template pTemplate="header">
										Action
									</ng-template>
									<ng-template let-row="rowData" pTemplate="body" >
										<button type="button" pButton (click)="onEditClick(row)" icon="fa fa-pencil" class="editBtn" title="Edit"></button>
										<button type="button" pButton (click)="onDelete(row)" icon="fa fa-trash-o" class="delBtn" title="Delete"></button>
									</ng-template>
								</p-column>
							</p-dataTable>
						</div>
					</div>
					<!--end::Section-->
				</div>
			</div>
			<!--end::Portlet-->
		</div>
	</div>
</div>