<p-confirmDialog #cd>
	<p-footer>
		<button type="button" class="btn btn-accent m-btn m-btn--icon" (click)="cd.accept()">
			<span>
				<i class="la la-check"></i>
				<span>
					Yes
				</span>
			</span>
		</button>
		<button type="button" class="btn btn-secondary m-btn m-btn--icon" (click)="cd.reject()">
			<span>
				<i class="la la-close"></i>
				<span>
					No
				</span>
			</span>
		</button>
	</p-footer>
</p-confirmDialog>

<div class="m-subheader">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
				<li class="m-nav__item m-nav__item--home">
					<a href="#" class="m-nav__link m-nav__link--icon">
						<i class="m-nav__link-icon la la-home"></i>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a class="m-nav__link">
						<span class="m-nav__link-text">
							Shades
						</span>
					</a>
				</li>
			</ul>
		</div>
		<div *ngIf="toggleDiv" class="m-form__actions m-form__actions--solid formTopActionBtnBox">
				<button type="submit" class="btn btn-accent m-btn m-btn--air m-btn--custom formTopActionBtn" form="shadeForm" title="{{(shadeForm && shadeForm.form.valid) ? 'Please fill in all the required fields' :  params ? 'Update' : 'Save'}}" [isAuthorize]="['shade']" tabindex="10">
						{{ params ? 'Update' : 'Save' }}
				</button>
				<button class="btn btn-secondary" [isAuthorize]="['shade']" (click)="onCancel()" tabindex="11">
						Cancel
				</button>
		</div>
	</div>
</div>
<!-- END: Subheader -->
<div class="m-content">
	<div class="row">
		<div class="col-lg-12">
			<!--begin::Portlet-->
			<div class="m-portlet">
				
				<div class="row">
				
				<div class="col-md-12" *ngIf="toggleDiv">
					<form class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed" role="form" novalidate (ngSubmit)="onSubmit(shadeForm)"  #shadeForm="ngForm"  id="shadeForm">
					<div class="formContainerSamePage">
						
								<div class="row">
										<div class="col-md-12">
										<div class="panel panel-default">
												<div class="panel-heading">Shade Basic Details</div>
												<div class="panel-body">	
														<div class="form-group">

									<div class="col-lg-3 col-md-6 formContentbox formContentboxShade">
										<label class="fieldLabel col-sm-5">Category<span class="requiredField">*</span></label>
										<div class="col-sm-7">
                                            <p-dropdown class="feePlanBox" [options]="categoryList" [style]="{'width':'100%'}"   #selectedCategoryVal="ngModel"  required styleClass="{{ selectedCategoryVal.errors && isFormSubmitted?'red-border-class':''}}"  [(ngModel)]="selectedCategory" [disabled]="disabled" name="category" (ngModelChange)="onCategoryClick()" filter="true" autofocus tabindex="1"></p-dropdown>
										</div>	
									</div>
									<div class="col-lg-3 col-md-6 formContentbox formContentboxShade">
										<label class="fieldLabel col-sm-5">Collection<span class="requiredField">*</span></label>
										<div class="col-sm-7">
                                            <p-dropdown class="feePlanBox" [options]="collectionList" [style]="{'width':'100%'}" [(ngModel)]="selectedCollection"   #selectedCollectionVal="ngModel"  required styleClass="{{ selectedCollectionVal.errors && isFormSubmitted?'red-border-class':''}}" [disabled]="disabled" name="collection" (ngModelChange)="onCollectionClick()" filter="true" tabindex="2"></p-dropdown>
										</div>
									</div>	
									<div class="col-lg-3 col-md-6 formContentbox formContentboxShade">
										<label class="fieldLabel col-sm-5">Quality<span class="requiredField">*</span></label>
										<div class="col-sm-7">
                                            <p-dropdown class="feePlanBox" [options]="qualityList" [style]="{'width':'100%'}" [(ngModel)]="selectedQuality"   #selectedQualityVal="ngModel"  required styleClass="{{ selectedQualityVal.errors && isFormSubmitted?'red-border-class':''}}" [disabled]="disabled" name="quality" (ngModelChange)="onQualityClick()" filter="true" tabindex="3"></p-dropdown>
										</div>
                                    </div>
                                    <div class="col-lg-3 col-md-6 formContentbox formContentboxShade">
										<label class="fieldLabel col-sm-5">Design<span class="requiredField">*</span></label>
										<div class="col-sm-7">
                                            <p-dropdown class="feePlanBox" [options]="designList" [style]="{'width':'100%'}"   #selectedDesignVal="ngModel"  required styleClass="{{ selectedDesignVal.errors && isFormSubmitted?'red-border-class':''}}"  [(ngModel)]="selectedDesign" [disabled]="disabled" name="design" filter="true" tabindex="4"></p-dropdown>
										</div>
									</div>	
									<div class="col-lg-3 col-md-6 formContentbox formContentboxShade">
										<div class="form-group">
											<label class="fieldLabel col-sm-5">Shade Code<span class="requiredField">*</span></label>
											    <input class="form-control m-input  col-sm-7" type="text" value=""  #shadeCodeVal="ngModel" required [ngClass]="{'red-border-class': shadeCodeVal.errors && isFormSubmitted}"  [(ngModel)]="shadeObj.shadeCode" name="shadeCode" id="shadeCode" placeholder="" tabindex="5">
                                                <!-- <div class="alertMsg" *ngIf="shadeCodeVal.errors   && (shadeCodeVal.dirty || shadeCodeVal.touched)">
                                                    Please enter Shade Code
                                                </div> -->
										</div>
									</div>
									<div class="col-lg-3 col-md-6 formContentbox formContentboxShade">
										<div class="form-group">
											<label class="fieldLabel col-sm-5">Color<span class="requiredField">*</span></label>
											<div class="col-sm-7">
												<input class="form-control m-input" type="text" value=""  #shadeNameVal="ngModel" required [ngClass]="{'red-border-class': shadeNameVal.errors && isFormSubmitted}"  [(ngModel)]="shadeObj.shadeName" name="shadeName" id="shadeName" placeholder="" tabindex="6">
                                                <!-- <div class="alertMsg" *ngIf="shadeNameVal.errors   && (shadeNameVal.dirty || shadeNameVal.touched)">
                                                    Please enter Shade Name
                                                </div> -->
											</div>
										</div>
									</div>
									<div class="col-lg-3 col-md-6 formContentbox formContentboxShade">
										<div class="form-group">
											<label class="fieldLabel col-sm-5">Serial Number<span class="requiredField">*</span></label>
											<div class="col-sm-7">
												<input class="form-control m-input" OnlyNumber="true" DecimalPlaces="0" minValue="0" maxValue="2147483647"  #serialNumberLevelVal="ngModel" required [ngClass]="{'red-border-class': serialNumberLevelVal.errors && isFormSubmitted}" [(ngModel)]="shadeObj.serialNumber" name="serialNumber" id="serialNumber" placeholder="" autocomplete="off" tabindex="7">
                                                <!-- <div class="alertMsg" *ngIf="stockReorderLevelVal.errors   && (stockReorderLevelVal.dirty || stockReorderLevelVal.touched)">
                                                    Please enter StockReorderLevel
                                                </div> -->
											</div>
										</div>
                                    </div>
                                    <div class="col-lg-3 col-md-6 formContentbox formContentboxShade">
										<div class="form-group">
											<label class="fieldLabel col-sm-5">Description</label>
											<div class="col-sm-7">
												<input class="form-control m-input" type="text" value=""  #descriptionVal="ngModel"  [(ngModel)]="shadeObj.description" name="description" id="description" placeholder="" tabindex="8">
                                                <!-- <div class="alertMsg" *ngIf="descriptionVal.errors   && (descriptionVal.dirty || descriptionVal.touched)">
                                                    Please enter Description
                                                </div> -->
											</div>
										</div>
									</div>
									<div class="col-lg-3 col-md-6 formContentbox formContentboxShade">
										<div class="form-group">
											<label class="fieldLabel col-sm-5">Stock Reorder Level <span class="requiredField">*</span></label>
											<div class="col-sm-7">
												<input class="form-control m-input" OnlyNumber="true" DecimalPlaces="0" minValue="0" maxValue="9999"  #stockReorderLevelVal="ngModel" required [ngClass]="{'red-border-class': stockReorderLevelVal.errors && isFormSubmitted}" [(ngModel)]="shadeObj.stockReorderLevel" name="stockReorderLevel" id="stockReorderLevel" placeholder="" autocomplete="off" tabindex="9">
                                                <!-- <div class="alertMsg" *ngIf="stockReorderLevelVal.errors   && (stockReorderLevelVal.dirty || stockReorderLevelVal.touched)">
                                                    Please enter StockReorderLevel
                                                </div> -->
											</div>
										</div>
                                    </div>
								</div>
							</div>
						</div>
					</div>
								</div>
								
<!-- 								
				<div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
					<div class="m-form__actions m-form__actions--solid">
						<div class="row">
							<div class="col-lg-6">
								<button type="submit" class="btn btn-accent m-btn m-btn--air m-btn--custom" [ngClass]="shadeForm.invalid ?'cursorNotAllowed':'cursorPointer'" title="{{ shadeForm.invalid ? 'Please fill in all the required fields' :  params ? 'Update' : 'Save'}}" [disabled]="shadeForm.invalid" [isAuthorize]="['shade']">
										{{ params ? 'Update' : 'Save' }}
								</button>
								<button class="btn btn-secondary" [isAuthorize]="['shade']" (click)="onCancel()">
										Cancel
								</button>
							</div>
						</div>
					</div>
				</div>
							 -->
						
					</div>
					
					</form>
				</div>
			</div>
				<div class="m-portlet__body">
					<!--begin::Section-->
					
					<div class="m-section">
						<div class="m-section__content">
								<div class="ui-widget-header" style="border-bottom: 0 none">
										<i class="fa fa-search searchIcon"></i>
										<input #gb type="text" pInputText size="50" placeholder="Search" class="form-control siteSearchbox">
										
										<!-- Add Button -->
										<button  *ngIf="!toggleDiv" class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--air m-btn--pill btnAddForm" (click)="toggleButton()" [isAuthorize]="['shade']">
											<span>
												<i class="flaticon-add"></i>
												<span>
													Add Shade
												</span>
											</span>
										</button>
									</div>
							<p-dataTable [value]="shadeList" [emptyMessage]="tableEmptyMesssage" class="table listingTable" [rows]="pageSize" [globalFilter]="gb" #dt [lazy]="true" [paginator]="true" [rowsPerPageOptions]="[20,50,100,200,500]"
							[totalRecords]="totalCount" (onLazyLoad)="loadLazy($event)">
                            <p-column field="mstCategory.code" header="Category" [style]="{'text-align':'left'}"></p-column>
                                <p-column field="mstCollection.collectionCode" header="Collection" [style]="{'text-align':'left'}"></p-column>
								<p-column field="mstQuality.qualityCode" header="Quality" [style]="{'text-align':'left'}"></p-column>
								<p-column field="mstFWRDesign.designCode" header="Design" [style]="{'text-align':'left'}"></p-column>
                                <p-column field="shadeCode" header="Code" [style]="{'text-align':'left'}"></p-column>
                                <p-column field="shadeName" header="Color" [style]="{'text-align':'left'}"></p-column>
								<p-column field="serialNumber" header="Serial Number" [style]="{'text-align':'left'}"></p-column>
								<p-column styleClass="col-button" [style]="{'text-align':'left'}">
									<ng-template pTemplate="header">
										Action
									</ng-template>
									<ng-template let-row="rowData" pTemplate="body" >
										<button type="button" pButton (click)="onEditClick(row)" icon="fa fa-pencil" class="editBtn" title="Edit"></button>
										<button type="button" pButton (click)="onDelete(row)" icon="fa fa-trash-o" class="delBtn" title="Delete"></button>
									</ng-template>
								</p-column>
							</p-dataTable>
						</div>
					</div>
					<!--end::Section-->
				</div>
			</div>
			<!--end::Portlet-->
		</div>
	</div>
</div>