
<div class="m-subheader">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
				<li class="m-nav__item m-nav__item--home">
					<a href="#" class="m-nav__link m-nav__link--icon">
						<i class="m-nav__link-icon la la-home"></i>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a class="m-nav__link">
						<span class="m-nav__link-text">
							Company
						</span>
					</a>
				</li>
			</ul>
		</div>
		<div class="m-form__actions m-form__actions--solid formTopActionBtnBox">
			<button type="submit" class="btn btn-accent m-btn m-btn--air m-btn--custom formTopActionBtn" form="companyForm" title="{{(companyFormVal && companyFormVal.form.valid) ? 'Please fill in all the required fields' :  params ? 'Update' : 'Save'}}"
			 [isAuthorize]="['shade']" tabindex="6">
				{{ params ? 'Update' : 'Save' }}
			</button>
			<!-- <button class="btn btn-secondary" [isAuthorize]="['shade']" (click)="onCancel()">
				Cancel
			</button> -->
		</div>
	</div>
</div>
<!-- END: Subheader -->
<div class="m-content">
	<div class="row">
		<div class="col-lg-12">
			<!--begin::Portlet-->
			<div class="m-portlet">

				<div class="row">

					<div class="col-md-12" >
						<form class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed" role="form" novalidate (ngSubmit)="onSubmit(companyForm)"
						 #companyFormVal="ngForm" id="companyForm"  [formGroup]="companyForm">
							<div class="formContainerSamePage">

								<div class="row">
									<div class="col-md-12">
										<div class="panel panel-default">
											<div class="panel-heading">Company Basic Details</div>
											<div class="panel-body">
												<div class="form-group">

													<div class="col-md-5 formContentbox">
														<label class="fieldLabel col-sm-5">Company Name
															<span class="requiredField">*</span>
														</label>
														<div class="col-sm-7">
															<input class="form-control m-input" type="text" value="" formControlName="companyName" required  [ngClass]="{'red-border-class': companyForm.get('companyName').hasError('required') && isFormSubmitted}"   name="companyName" id="companyName" placeholder="Company Name" tabindex="1">
														</div>
													</div>
													</div>
													<div class="form-group">
													<div class="col-md-5 formContentbox">
														<label class="fieldLabel col-sm-5">Company Email
															<span class="requiredField">*</span>
														</label>
														<div class="col-sm-7">
															<input class="form-control m-input" type="text" value="" formControlName="email"  required  [ngClass]="{'red-border-class': companyForm.get('email').hasError('required') && isFormSubmitted}"  name="email" placeholder="Email" maxlength="254" tabindex="2">
														</div>
													</div>
												</div>
												<div class="form-group">
													<div class="col-md-5 formContentbox">
														<label class="fieldLabel col-sm-5">Contact
															<span class="requiredField">*</span>
														</label>
														<div class="col-sm-7">
															<input class="form-control m-input" type="text" formControlName="phone"  required  [ngClass]="{'red-border-class': companyForm.get('phone').hasError('required') && isFormSubmitted}"  name="contact" placeholder="Contact" maxlength="15" tabindex="3">
														</div>
														<div class="alertMsg" *ngIf="!companyForm.get('phone').hasError('required') && companyForm.get('phone').hasError('pattern') && companyForm.get('phone').touched">
															Please enter valid phone number
														</div>
													</div>
												</div>
												<div class="form-group">
													<div class="col-md-5 formContentbox">
														<label class="fieldLabel col-sm-5">GSTIN
															<span class="requiredField">*</span>
														</label>
														<div class="col-sm-7">
															<input class="form-control m-input" type="text" formControlName="gstin"  required  [ngClass]="{'red-border-class': companyForm.get('gstin').hasError('required') && isFormSubmitted}"  name="gstin" placeholder="GSTIN" maxlength="15" tabindex="4">
														</div>
														<div class="alertMsg" *ngIf="!companyForm.get('gstin').hasError('required') && companyForm.get('gstin').hasError('pattern') && companyForm.get('gstin').touched">
															Please enter valid GSTIN
														</div>
													</div>
												</div>
												<div class="form-group">
													<div class="col-md-5 formContentbox">
														<div class="form-group">
															<label class="fieldLabel col-sm-5">Company Logo
																<span class="requiredField">*</span>
															</label>
															<div class="col-sm-7">
															<input class="form-control m-input" type="file"  #fileupload  value="" name="companyLogo" id="companyLogo"  (change)="onUploadLogo(fileupload.files)" tabindex="5">
														</div>
														</div>
													</div>
												</div>
												<div class="form-group">
													<div class="col-md-5 formContentbox">
														<div class="form-group">
															<img src="{{logoURLtoshow}}" alt="Smiley face" height="42" width="42">
														</div>
													</div>
												</div>
												</div>
											</div>
										</div>
									</div>
								</div>
						</form>
					</div>
				</div>
			</div>
			<!--end::Portlet-->
		</div>
	</div>
</div>