<div class="m-subheader">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
				<li class="m-nav__item m-nav__item--home">
					<a href="#" class="m-nav__link m-nav__link--icon">
						<i class="m-nav__link-icon la la-home"></i>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a class="m-nav__link">
						<span class="m-nav__link-text">
							Company
						</span>
					</a>
				</li>
			</ul>
		</div>
		<div class="m-form__actions m-form__actions--solid formTopActionBtnBox">
			<button type="submit" class="btn btn-accent m-btn m-btn--air m-btn--custom" form="companyForm" title="{{(companyFormVal && companyFormVal.form.valid) ? 'Please fill in all the required fields' :  params ? 'Update' : 'Save'}}"
			 [isAuthorize]="['companyinfo']" tabindex="14">
				{{ params ? 'Update' : 'Save' }}
			</button>
			<!-- <button class="btn btn-secondary" [isAuthorize]="['shade']" (click)="onCancel()">
				Cancel
			</button> -->
		</div>
	</div>
</div>
<!-- END: Subheader -->
<div class="m-content">
	<div class="row">
		<div class="col-lg-12">
			<!--begin::Portlet-->
			<div class="m-portlet">

				<div class="row">

					<div class="col-md-12">
						<form class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed" role="form" novalidate (ngSubmit)="onSubmit(companyForm)"
						 #companyFormVal="ngForm" id="companyForm" [formGroup]="companyForm">
							<div class="formContainerSamePage">

								<div class="row">
									<div class="col-md-12">
										<div class="panel panel-default">
											<div class="panel-heading">Company Basic Details</div>
											<div class="panel-body">
												<div class="form-group">

													<div class="col-md-5 formContentbox">
														<label class="fieldLabel col-sm-5">Company Name<span class="requiredField">*</span>
														</label>
														<div class="col-sm-7">
															<input class="form-control m-input" type="text" value="" formControlName="companyName" required [ngClass]="{'red-border-class': companyForm.get('companyName').hasError('required') && isFormSubmitted}"
															 name="companyName" id="companyName" placeholder="Company Name" autofocus tabindex="1">
														</div>
													</div>
												</div>
												<div class="form-group">
													<div class="col-md-5 formContentbox">
														<label class="fieldLabel col-sm-5">Company Email<span class="requiredField">*</span>
														</label>
														<div class="col-sm-7">
															<input class="form-control m-input" type="text" value="" formControlName="email" required [ngClass]="{'red-border-class': companyForm.get('email').hasError('required') && isFormSubmitted}"
															 name="email" placeholder="Email" maxlength="254" tabindex="2">
														</div>
													</div>
												</div>
												<div class="form-group">
													<div class="col-md-5 formContentbox">
														<label class="fieldLabel col-sm-5">Phone<span class="requiredField">*</span>
														</label>
														<div class="col-sm-7">
															<input class="form-control m-input" type="phone" pattern="^[0-9]+" formControlName="phone" required [ngClass]="{'red-border-class': (companyForm.get('phone').hasError('required') || companyForm.get('phone').errors?.minlength || companyForm.get('phone').errors?.maxlength || companyForm.get('phone').errors?.pattern) && isFormSubmitted}"
															 name="phone" placeholder="Phone" minlength="10" maxlength="12" tabindex="3">
														</div>
														<!-- <div class="alertMsg" *ngIf="!companyForm.get('phone').hasError('required') && companyForm.get('phone').hasError('pattern') && companyForm.get('phone').touched">
															Please enter valid phone number
														</div> -->
													</div>
												</div>
												<div class="form-group">
													<div class="col-md-5 formContentbox">
														<label class="fieldLabel col-sm-5">Mobile<span class="requiredField">*</span>
														</label>
														<div class="col-sm-7">
															<input class="form-control m-input" type="phone" pattern="^[0-9]+" formControlName="mobile" required [ngClass]="{'red-border-class': (companyForm.get('mobile').hasError('required') || companyForm.get('mobile').errors?.minlength || companyForm.get('mobile').errors?.maxlength || companyForm.get('mobile').errors?.pattern) && isFormSubmitted}"
															 name="mobile" placeholder="Mobile" minlength="10" maxlength="10" tabindex="4">
														</div>
														<!-- <div class="alertMsg" *ngIf="!companyForm.get('mobile').hasError('required') && companyForm.get('mobile').hasError('pattern') && companyForm.get('mobile').touched">
															Invalid Mobile number
														</div> -->
													</div>
												</div>
												<div class="form-group">
													<div class="col-md-5 formContentbox">
														<label class="fieldLabel col-sm-5">Fax<span class="requiredField">*</span>
														</label>
														<div class="col-sm-7">
															<input class="form-control m-input" type="number" formControlName="fax" required [ngClass]="{'red-border-class': companyForm.get('fax').hasError('required') && isFormSubmitted}"
															 name="fax" id="fax" placeholder="Fax" tabindex="5">
														</div>
													</div>
												</div>
												<div class="form-group">
													<div class="col-md-5 formContentbox">
														<label class="fieldLabel col-sm-5">Website<span class="requiredField">*</span>
														</label>
														<div class="col-sm-7">
															<input class="form-control m-input" type="text" formControlName="webSite" required [ngClass]="{'red-border-class': companyForm.get('webSite').hasError('required') && isFormSubmitted}"
															 name="webSite" id="webSite" placeholder="Website" tabindex="6">
														</div>
													</div>
												</div>
												<div class="form-group">
													<div class="col-md-5 formContentbox">
														<label class="fieldLabel col-sm-5">Address 1<span class="requiredField">*</span>
														</label>
														<div class="col-sm-7">
															<input class="form-control m-input" type="text" formControlName="address1" required [ngClass]="{'red-border-class': companyForm.get('address1').hasError('required') && isFormSubmitted}"
															 name="address1" id="address1" placeholder="Address 1" tabindex="7">
														</div>
													</div>
												</div>
												<div class="form-group">
													<div class="col-md-5 formContentbox">
														<label class="fieldLabel col-sm-5">Address 2<span class="requiredField">*</span>
														</label>
														<div class="col-sm-7">
															<input class="form-control m-input" type="text" formControlName="address2" required [ngClass]="{'red-border-class': companyForm.get('address2').hasError('required') && isFormSubmitted}"
															 name="address2" id="address2" placeholder="Address 2" tabindex="8">
														</div>
													</div>
												</div>
												<div class="form-group">
													<div class="col-md-5 formContentbox">
														<label class="fieldLabel col-sm-5">GSTIN<span class="requiredField">*</span>
														</label>
														<div class="col-sm-7">
															<input class="form-control m-input" type="text" formControlName="gstin" required [ngClass]="{'red-border-class': companyForm.get('gstin').hasError('required') && isFormSubmitted}"
															 name="gstin" placeholder="GSTIN" maxlength="15" tabindex="9">
														</div>
														<!-- <div class="alertMsg" *ngIf="!companyForm.get('gstin').hasError('required') && companyForm.get('gstin').hasError('pattern') && companyForm.get('gstin').touched">
															Please enter valid GSTIN
														</div> -->
													</div>
												</div>
												<div class="form-group">
													<div class="col-md-5 formContentbox">
														<div class="form-group">
															<label class="fieldLabel col-sm-5">Company Logo
																<span class="requiredField">*</span>
															</label>
															<div class="col-sm-7">
																<input class="form-control m-input" type="file" #fileupload value="" name="companyLogo" id="companyLogo" (change)="onUploadLogo(fileupload.files, $event)"
																 tabindex="10">
															</div>
														</div>
													</div>
												</div>
												<div class="form-group">

													<div class="col-md-5 formContentbox">
														<label class="fieldLabel col-sm-5">Bank Name<span class="requiredField">*</span>
														</label>
														<div class="col-sm-7">
															<input class="form-control m-input" type="text" value="" formControlName="bankName" required [ngClass]="{'red-border-class': companyForm.get('bankName').hasError('required') && isFormSubmitted}"
															 name="bankName" id="bankName" placeholder="Bank Name" tabindex="11">
														</div>
													</div>
												</div>
												<div class="form-group">

													<div class="col-md-5 formContentbox">
														<label class="fieldLabel col-sm-5">Branch<span class="requiredField">*</span>
														</label>
														<div class="col-sm-7">
															<input class="form-control m-input" type="text" value="" formControlName="branch" required [ngClass]="{'red-border-class': companyForm.get('branch').hasError('required') && isFormSubmitted}"
															 name="branch" id="branch" placeholder="Bank Name" tabindex="12">
														</div>
													</div>
												</div>
												<div class="form-group">

													<div class="col-md-5 formContentbox">
														<label class="fieldLabel col-sm-5">Account Number<span class="requiredField">*</span>
														</label>
														<div class="col-sm-7">
															<div class="col-sm-7">
															<input class="form-control m-input" type="text" pattern="^[0-9]+" formControlName="accountNumber" required [ngClass]="{'red-border-class': (companyForm.get('accountNumber').hasError('required')  || companyForm.get('accountNumber').errors?.minlength || companyForm.get('accountNumber').errors?.maxlength || companyForm.get('accountNumber').errors?.pattern) && isFormSubmitted}"
															 name="accountNumber" placeholder="Account Number" minlength="11" maxlength="16" tabindex="13">
														</div>
														</div>
													</div>
												</div>
												<div class="form-group">

													<div class="col-md-5 formContentbox">
														<label class="fieldLabel col-sm-5">IFSC Code<span class="requiredField">*</span>
														</label>
														<div class="col-sm-7">
															<input class="form-control m-input" type="text" value="" formControlName="ifscCode" required [ngClass]="{'red-border-class': (companyForm.get('ifscCode').hasError('required')   || companyForm.get('ifscCode').errors?.minlength || companyForm.get('ifscCode').errors?.maxlength) && isFormSubmitted}"
															 name="ifscCode" id="ifscCode" placeholder="IFSC Code" minlength="11" maxlength="11" tabindex="14">
														</div>
													</div>
												</div>
												
												<div class="form-group">
													<div class="col-md-5 formContentbox">
														<div class="form-group">
															<img src="{{logoURLtoshow}}" alt="Logo Not available" height="50" width="100" style="float: right">
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			<!--end::Portlet-->
		</div>
	</div>
</div>