<div class="m-subheader">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
				<li class="m-nav__item m-nav__item--home">
					<a href="#" class="m-nav__link m-nav__link--icon">
						<i class="m-nav__link-icon la la-home"></i>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a class="m-nav__link">
						<span class="m-nav__link-text">
							Upload File
						</span>
					</a>
				</li>
			</ul>
		</div>
		<div class="m-form__actions m-form__actions--solid formTopActionBtnBox">
			<button class="btn btn-accent m-btn m-btn--air m-btn--custom formTopActionBtn" title="Upload"
				(click)="onUploadFile()" tabindex="3">
				Upload
			</button>
		</div>
	</div>
</div>
<div class="m-content">
	<div class="row">
		<div class="col-lg-12">
			<!--begin::Portlet-->
			<div class="m-portlet">

				<!--++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->


				<!--++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->


				<div class="m-portlet__body">
					<!--begin::Section-->

					<div class="m-section">
						<div class="m-section__content">
							<div class="row">
								<div class="col-md-12">
									<!-- Basic Details -->
									<div class="panel panel-default">
										<div class="panel-heading">Upload</div>
										<div class="panel-body">

											<div class="row form-group">

												<div class="col-md-8">
													<div class="row">
														<div class="col-md-6">
															<label class="col-md-4 col-sm-4 fieldLabel ">Select Product
																Master<span class="requiredField">*</span></label>
															<div class="col-md-8 col-sm-8">
																<select class="form-control" required
																	name="selectedProductMaster"
																	[(ngModel)]="uploadObj.MstFWRShade" autofocus
																	tabindex="1">
																	<option *ngFor="let x of tableNameList"
																		[ngValue]="x.value">{{x.label}}</option>
																</select>
															</div>
														</div>
														<div class="col-md-6">
															<label class="col-md-4 col-sm-4 fieldLabel">Upload File<span
																	class="requiredField">*</span></label>
															<div class="col-md-8 col-sm-8">
																<input class="form-control m-input" type="file"
																	#selectedFile value="" name="file" id="file"
																	tabindex="2">
															</div>
														</div>
													</div>
												</div>


											</div>

										</div>
									</div>


								</div>

							</div>
						</div>
					</div>
					<!--end::Section-->
				</div>
			</div>
			<!--end::Portlet-->
		</div>
	</div>
</div>