<p-confirmDialog #cd>
	<p-footer>
		<button type="button" class="btn btn-accent m-btn m-btn--icon" (click)="cd.accept()">
			<span>
				<i class="la la-check"></i>
				<span>
					Yes
				</span>
			</span>
		</button>
		<button type="button" class="btn btn-secondary m-btn m-btn--icon" (click)="cd.reject()">
			<span>
				<i class="la la-close"></i>
				<span>
					No
				</span>
			</span>
		</button>
	</p-footer>
</p-confirmDialog>

<div class="m-subheader">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
				<li class="m-nav__item m-nav__item--home">
					<a href="#" class="m-nav__link m-nav__link--icon">
						<i class="m-nav__link-icon la la-home"></i>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a class="m-nav__link">
						<span class="m-nav__link-text">
								Sales Order
						</span>
					</a>
				</li>
			</ul>
		</div>
		<div class="m-form__actions m-form__actions--solid formTopActionBtnBox">
				<button type="submit" class="btn btn-accent m-btn m-btn--air m-btn--custom formTopActionBtn" form="trnSalesOrderForm" title="{{(trnSalesOrderForm && trnSalesOrderForm.form.valid) ? 'Please fill in all the required fields' :  params ? 'Update' : 'Save'}}" [isAuthorize]="['salesorder']" tabindex="20">
						{{ params ? 'Update' : 'Save' }}
				</button>
				<button class="btn btn-secondary" [isAuthorize]="['salesorder']" (click)="onCancel()" tabindex="21">
						Cancel
				</button>
		</div>
	</div>
</div>
			<div class="row">
				
				<div class="col-md-12">
					
					<div class="formContainerSamePage">
							<form class="" role="form" novalidate (ngSubmit)="onSubmit(trnSalesOrderForm)" #trnSalesOrderForm="ngForm" id="trnSalesOrderForm">
								<div class="row">
								
									<div class="col-md-12">
										
										<div class="row">
											<div class="col-md-12">
												<!-- Basic Details -->
												<div class="panel panel-default">
												  <div class="panel-heading">Basic Details</div>
												  <div class="panel-body">	
													
													<div class="row form-group">
														<div class="col-md-3">
															<label class="col-md-4 col-sm-4 fieldLabel">Order Date</label>
															<div class="col-md-8 col-sm-8">
																<p-calendar class="purchaseOrderDate" #orderDateVal="ngModel" [(ngModel)]="trnSalesOrderObj.orderDate" name="orderDate" [monthNavigator]="true"
																	 [yearNavigator]="true" tabindex="1" yearRange="2015:2030"  dateFormat="dd/mm/yy"  styleClass="{{ orderDateVal.errors && isFormSubmitted?'red-border-class':''}}"
																	 required></p-calendar>
															</div>	
														</div>
														<div class="col-md-3">
															<label class="col-md-4 col-sm-4 fieldLabel">Order No.<span class="requiredField">*</span></label>
															<div class="col-md-8 col-sm-8">
																<input class="form-control m-input" type="text" value="" maxheight="10"
																 [(ngModel)]="trnSalesOrderObj.orderNumber" name="orderNumber" id="orderNumber" placeholder="" readonly>
															</div>	
														</div>
														<div class="col-md-3">
															<label class="col-md-4 col-sm-4 fieldLabel">Customer<span class="requiredField">*</span></label>
															<div class="col-md-8 col-sm-8">
															<p-dropdown class="feePlanBox" [options]="customerList" [style]="{'width':'100%'}" #selectedCustomerVal="ngModel" [(ngModel)]="selectedCustomer" required styleClass="{{ selectedCustomerVal.errors && isFormSubmitted?'red-border-class':''}}" name="customer" (ngModelChange)="onCustomerChange()" filter="true" tabindex="2"></p-dropdown>
															</div>	
														</div>
														<div class="col-md-3">
															<label class="col-md-4 col-sm-4 fieldLabel">Courier</label>
															<div class="col-md-8 col-sm-8">
															<p-dropdown class="feePlanBox" [options]="courierList" [style]="{'width':'100%'}" [(ngModel)]="selectedCourier" name="courier" filter="true" tabindex="3"></p-dropdown>
															</div>
														</div>
													</div>
													<div class="row">
														<div class="col-md-3">
															<label class="col-md-4 col-sm-4 fieldLabel">Courier Mode</label>
															<div class="col-md-8 col-sm-8">
																<p-dropdown class="feePlanBox" [options]="courierMode" [style]="{'width':'100%'}" [(ngModel)]="selectedCourierMode" name="courierMode" filter="true" tabindex="4"></p-dropdown>
															</div>	
														</div>
														<div class="col-md-3">
															<label class="col-md-4 col-sm-4 fieldLabel">Refered by</label>
															<div class="col-md-8 col-sm-8">
																<p-dropdown class="feePlanBox" [options]="agentList" [style]="{'width':'100%'}" [(ngModel)]="selectedAgent"  name="agent" filter="true" tabindex="5"></p-dropdown>
															</div>	
														</div>
														<div class="col-md-3">
															<label class="col-md-4 col-sm-4 fieldLabel">Remark</label>
															<div class="col-md-8 col-sm-8">
																<input class="form-control m-input" type="text" value="" maxheight="10"
																 [(ngModel)]="trnSalesOrderObj.remark" name="remark" id="remark" placeholder="" tabindex="6">
															</div>	
														</div>
														<div class="col-md-3">
															<label class="col-md-4 col-sm-4 fieldLabel">Exp.Delivery Date</label>
															<div class="col-md-8 col-sm-8">
																<p-calendar class="purchaseOrderDate" #expectedDeliveryDateVal="ngModel" [(ngModel)]="trnSalesOrderObj.expectedDeliveryDate" name="expectedDeliveryDate" [monthNavigator]="true"
																	 [yearNavigator]="true" tabindex="7" yearRange="2015:2030"  dateFormat="dd/mm/yy"  styleClass="{{ expectedDeliveryDateVal.errors && isFormSubmitted?'red-border-class':''}}" (onSelect)="onDateSelect()"
																	 required></p-calendar>
															</div>	
														</div>
													</div>
													<div class="col-md-3">
															<div class="col-md-8 col-sm-8">
																<!-- <button type="text" (click)="showDialog()" pButton icon="fa-external-link-square" label="Show"></button> -->
															</div>	
														</div>
													<!--Shipping Address-->
													<div class="row">
														<div class="col-md-12">
															<div class="shippingAddressBox">													
																
																<a href="#" (click)="showDialog()"><b>Shipping Address<span class="requiredField">*</span></b></a> 
																		<p *ngIf="shippingAddressObj == null">
																			Please select shipping address by clicking on the link.
																		</p>
																		<p *ngIf="shippingAddressObj != null">-	{{this.shippingAddressObj.addressLine1}} {{this.shippingAddressObj.addressLine2}} , {{this.shippingAddressObj.state}} ,{{this.shippingAddressObj.city}}  
																			PINCODE -{{this.shippingAddressObj.pin}}
																		</p>
															</div>
														</div>			
													</div>
												  </div>
												</div>	
											</div>
										
										</div>								
										
									</div>								
									
									<div class="col-md-12">
										<div class="panel panel-default">
										  <div class="panel-heading">Item Details</div>
										  <div class="panel-body">
												<div class="row form-group">
														<div class="col-md-4">
															<label class="col-md-4 col-sm-4 fieldLabel">Category<span class="requiredField">*</span></label>
															<div class="col-md-8 col-sm-8">
																<p-dropdown class="feePlanBox" [options]="categoryList" [style]="{'width':'100%'}" #selectedCategoryVal="ngModel" [(ngModel)]="selectedCategory" required styleClass="{{ selectedCategoryVal.errors && isFormSubmitted?'red-border-class':''}}" [disabled]="disabled"  name="category" (ngModelChange)="onCategoryClick()" filter="true" tabindex="8"></p-dropdown>
															</div>	
														</div>
														<div class="col-md-4">
															<label class="col-md-4 col-sm-4 fieldLabel">Collection<span class="requiredField">*</span></label>
															<div class="col-md-8 col-sm-8">
																<p-dropdown class="feePlanBox" [options]="collectionList" [style]="{'width':'100%'}"  #selectedCollectionVal="ngModel" [(ngModel)]="selectedCollection" required styleClass="{{ selectedCollectionVal.errors && isFormSubmitted?'red-border-class':''}}" [disabled]="disabled" name="collection" (ngModelChange)="onCollectionClick()" filter="true" tabindex="9"></p-dropdown>
															</div>	
														</div>
														<div class="col-md-4" *ngIf="shadeEnable">
															<label class="col-md-4 col-sm-4 fieldLabel">Serial No.<span class="requiredField">*</span></label>
															<div class="col-md-8 col-sm-8">
																<p-dropdown class="feePlanBox" [options]="shadeList" [style]="{'width':'100%'}" [(ngModel)]="selectedShade"   #selectedShadeVal="ngModel"  required styleClass="{{ selectedShadeVal.errors && isFormSubmitted?'red-border-class':''}}" [disabled]="disabled" name="shade" filter="true" (ngModelChange)="onSerialNoChange()" tabindex="10"></p-dropdown>
															</div>	
														</div>	
														<div class="col-md-4" *ngIf="fomEnable">
															<label class="col-md-4 col-sm-4 fieldLabel">Foam Size<span class="requiredField">*</span></label>
															<div class="col-md-8 col-sm-8">
																<p-dropdown class="feePlanBox" [options]="fomSizeList" [style]="{'width':'100%'}" [(ngModel)]="selectedFomSize"   #selectedFomSizeVal="ngModel"  required styleClass="{{ selectedFomSizeVal.errors && isFormSubmitted?'red-border-class':''}}" [disabled]="disabled" name="fomSize" filter="true" (ngModelChange)="onFoamSizeChange()" tabindex="11"></p-dropdown>
															</div>	
														</div>	
														<div class="col-md-4" *ngIf="matEnable">
															<label class="col-md-4 col-sm-4 fieldLabel">Mattress Size<span class="requiredField">*</span></label>
															<div class="col-md-8 col-sm-8">
																<p-dropdown class="feePlanBox" [options]="matSizeList" [style]="{'width':'100%'}" [(ngModel)]="selectedMatSize"   #selectedMatSizeVal="ngModel"  required styleClass="{{ selectedMatSizeVal.errors && isFormSubmitted?'red-border-class':''}}" [disabled]="disabled" name="matSize" filter="true" (ngModelChange)="onMatSizeChange()" tabindex="12"></p-dropdown>
															</div>	
														</div>															
												</div>
												
												<div class="row form-group">
													<div class="col-md-4" *ngIf="selectedMatSize == -1">
														<label class="col-md-4 col-sm-4 fieldLabel">Width</label>
														<div class="col-md-8 col-sm-8">
															<input type="text" class="form-control"  OnlyNumber="true" DecimalPlaces="2" minValue="0.01" maxValue="999.99" [(ngModel)]="width" name="width" placeholder="" tabindex="13">
														</div>	
													</div>	
													<div class="col-md-4" *ngIf="selectedMatSize == -1">
														<label class="col-md-4 col-sm-4 fieldLabel">Height</label>
														<div class="col-md-8 col-sm-8">
															<input type="text" class="form-control"  OnlyNumber="true" DecimalPlaces="2" minValue="0.01" maxValue="999.99" (input)="onInputChange()" [(ngModel)]="height" name="height" placeholder="" tabindex="14">
														</div>	
													</div>	
													<div class="col-md-4">
														<label class="col-md-4 col-sm-4 fieldLabel">Size</label>
														<div class="col-md-8 col-sm-8">
															<input type="text" class="form-control" readonly [(ngModel)]="size" name="size" placeholder="">
														</div>	
													</div>
												</div>
												
												<div class="row form-group">
													<div class="col-md-4">
														<label class="col-md-4 col-sm-4 fieldLabel">Rate</label>
														<div class="col-md-8 col-sm-8">
															<input class="form-control"  OnlyNumber="true" DecimalPlaces="2" minValue="0.01" maxValue="99999.99" #rateVal="ngModel" required [ngClass]="{'red-border-class': rateVal.errors && isFormSubmitted}"  [(ngModel)]="rate" name="rate" tabindex="15" placeholder="">
														</div>	
													</div>	
													<div class="col-md-4">
														<label class="col-md-4 col-sm-4 fieldLabel">Available Stock</label>
														<div class="col-md-8 col-sm-8">
															<input class="form-control" readonly OnlyNumber="true" DecimalPlaces="0" minValue="0" maxValue="99999" [(ngModel)]="availableStock" name="availableStock" placeholder="">
														</div>	
													</div>	
													<div class="col-md-4">
														<label class="col-md-4 col-sm-4 fieldLabel">Quantity</label>
														<div class="col-md-8 col-sm-8">
															<input class="form-control"  OnlyNumber="true" DecimalPlaces="0" minValue="0" maxValue="99999"  #quantityVal="ngModel" required [ngClass]="{'red-border-class': quantityVal.errors && isFormSubmitted}" (input)="calculateAmount()" [(ngModel)]="quantity" name="quantity" tabindex="17" placeholder="">
														</div>	
													</div>													
												</div>
												
												<div class="row form-group">													
													<div class="col-md-4">
														<label class="col-md-4 col-sm-4 fieldLabel">Amount</label>
														<div class="col-md-8 col-sm-8">
															<input class="form-control"  OnlyNumber="true" DecimalPlaces="0" minValue="0" maxValue="99999" readonly #amountVal="ngModel"  [ngClass]="{'red-border-class': amountVal.errors && isFormSubmitted}"  [(ngModel)]="amount" name="amount" placeholder="">
														</div>	
													</div>
												</div>

												<div class="m-form__actions m-form__actions--solid formTopActionBtnBox">
														<input type="button" class="btn btn-accent m-btn m-btn--air m-btn--custom formTopActionBtn" value="Add To List" (click)="addItemToList()" tabindex="18"/>
														<button class="btn btn-secondary" (click)="onCancel()" tabindex="19">
															Cancel
														</button>
													</div>
												
										  </div>
										</div>
									</div>
									
								</div>
								
							</form>
							<div class="row">
								<div class="col-md-12">
									<table class="staticTable merchantTable" id="">
										<thead>
											<tr>
												<th title="">
													Category
												</th>
												<th title="">
													Collection
												</th>
												<th title="">
													Serial No
												</th>
												<th title="">
													Foam Size
												</th>
												<th title="">
													Mattress Size
												</th>
												<th title="">
													Size
												</th>
												<th title="">
													Rate
												</th>
												<th title="">
													Available Stock
												</th>
												<th title="">
													Quantity
												</th>
												<th title="">
													Amount
												</th>
												<th title="">
													Action
												</th>
											</tr>
										</thead>
										<tbody>
											<tr *ngIf="itemDetails.length==0">
												<td colspan="5">
														No Record Found
												</td>
											</tr>
											<tr *ngFor="let row of itemDetails;let rowNum=index;let lastRowNum=last;">
												<td>{{row.categotryName}}</td>
												<td>{{row.collectionName}}</td>
												<td>{{row.serialno}}</td>
												<td>{{row.fomSize}}</td>
												<td>{{row.matSize}}</td>
												<td>{{row.size}}</td>
												<td>{{row.rate}}</td>
												<td>{{row.availableStock}}</td>
												<td>{{row.quantity}}</td>
												<td>{{row.amount}}</td>
												<td>
												<div class="">
														<!-- <button title="Edit" type="button" class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill"
															*ngIf="!row.enable" (click)="enableEdit(row)">
															<i class="la la-edit" style="vertical-align: middle;margin-top: -2px;margin-right: 0;"></i>
														</button> -->
														<!-- <button title="Cancel" type="button" class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill"
														*ngIf="row.enable" (click)="cancelEdit(row)">
														<i class="la la-undo" style="vertical-align: middle;margin-top: -2px;margin-right: 0;"></i>
													</button> -->
														<button title="Delete" type="button" class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill"
														*ngIf="row.enable ||!row.id" (click)="onDeleteItemDetails(row.id,rowNum)">
															<i class="la la-close" style="vertical-align: middle;margin-top: -2px;margin-right: 0;"></i>
														</button>
														<!-- <button title="Save" type="button" class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill"
															*ngIf="row.enable ||!row.id" (click)="onSaveItemDetails(row,isDefaultSelected)">
															<i class="la la-save" style="vertical-align: middle;margin-top: -2px;margin-right: 0;"></i>
														</button> -->
														
													</div>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					
				</div>
			</div>
		<p-dialog header="Customer Address Details" [(visible)]="display" modal="modal" [responsive]="true" >
			<p-dataTable [value]="addressList" class="table listingTable">
				<p-column field="addressLine1" header="AddressLine1"></p-column>
				<p-column field="addressLine2" header="AddressLine2"></p-column>
				<p-column field="city" header="City"></p-column>
				<p-column field="gstin" header="Gstin"></p-column>
				<p-column field="pin" header="pin"></p-column>
				<p-column field="state" header="state"></p-column>
				<p-column field="isPrimary" header="IsPrimary">
						<ng-template let-data="rowData"  pTemplate="body">
						<p-radioButton name="groupname" [value]="true" [(ngModel)]="data.isPrimary" (onClick)="onRadioBtnClick(data)"></p-radioButton>
					</ng-template>
				</p-column>
			</p-dataTable>
		</p-dialog>