
			<div class="row">
				
				<div class="col-md-12">
					
					<div class="formContainerSamePage">
							<form class="">
								<div class="row">
								
									<div class="col-md-12">
										
										<div class="row">
											<div class="col-md-12">
												<!-- Basic Details -->
												<div class="panel panel-default">
												  <div class="panel-heading">Basic Details</div>
												  <div class="panel-body">	
													
													<div class="row">
														<div class="col-md-3">
															<label class="col-md-4 col-sm-4 fieldLabel">Order Date</label>
															<div class="col-md-8 col-sm-8">
																<input type="text" class="form-control" placeholder="">
															</div>	
														</div>
														<div class="col-md-3">
															<label class="col-md-4 col-sm-4 fieldLabel">Order No.</label>
															<div class="col-md-8 col-sm-8">
																<input type="text" class="form-control" placeholder="">
															</div>	
														</div>
														<div class="col-md-3">
															<label class="col-md-4 col-sm-4 fieldLabel">Customer</label>
															<div class="col-md-8 col-sm-8">
																<select class="form-control">	
																	<option selected="" disabled="">- Select -</option>
																	<option>Customer 1</option>
																	<option>Customer 2</option>
																	<option>Customer 3</option>
																	<option>Customer 4</option>
																</select>
															</div>	
														</div>
														<div class="col-md-3">
															<label class="col-md-4 col-sm-4 fieldLabel">Courier</label>
															<div class="col-md-8 col-sm-8">
																<select class="form-control">	
																	<option selected="" disabled="">- Select -</option>
																	<option>YES</option>
																	<option>NO</option>
																</select>
															</div>	
														</div>
													</div>
													<div class="row">
														<div class="col-md-3">
															<label class="col-md-4 col-sm-4 fieldLabel">Courier Mode</label>
															<div class="col-md-8 col-sm-8">
																<select class="form-control">	
																	<option selected="" disabled="">- Select -</option>
																	<option>Mode 1</option>
																	<option>Mode 2</option>
																</select>
															</div>	
														</div>
														<div class="col-md-3">
															<label class="col-md-4 col-sm-4 fieldLabel">Refered by</label>
															<div class="col-md-8 col-sm-8">
																<select class="form-control">	
																	<option selected="" disabled="">- Select -</option>
																	<option>Mode 1</option>
																	<option>Mode 2</option>
																</select>
															</div>	
														</div>
														<div class="col-md-3">
															<label class="col-md-4 col-sm-4 fieldLabel">Remark</label>
															<div class="col-md-8 col-sm-8">
																<input type="text" class="form-control" placeholder="">
															</div>	
														</div>
														<div class="col-md-3">
															<label class="col-md-4 col-sm-4 fieldLabel">Exp.Del.Date</label>
															<div class="col-md-8 col-sm-8">
																<input type="text" class="form-control" placeholder="">
															</div>	
														</div>	
													</div>
													<div class="row">	
														<div class="col-md-3">
															<label class="col-md-4 col-sm-4 fieldLabel">Shipping Address</label>
															<div class="col-md-8 col-sm-8">
																<select class="form-control">	
																	<option selected="" disabled="">- Select -</option>
																	<option>Location 1</option>
																	<option>Location 2</option>
																	<option>Location 3</option>
																	<option>Location 4</option>
																</select>
															</div>	
														</div>

													</div>
													
													<!--Shipping Address-->
													<div class="row">
														<div class="col-md-12">
															<div class="shippingAddressBox">													
																<p>
																<b>Shipping Address - </b>	84, GANESH PETH, LAXMI ROAD, OPP. GANESH PETH POLICE CHOWKI.,PUNE,MAHARASHTRA,INDIA. PINCODE -411002</p>
															</div>
														</div>			
													</div>
													
												  
												  </div>
												</div>	
											</div>
										
										</div>								
										
									</div>								
									
									<div class="col-md-12">
										<div class="panel panel-default">
										  <div class="panel-heading">Item Details</div>
										  <div class="panel-body">
												<div class="row form-group">
														<div class="col-md-4">
															<label class="col-md-4 col-sm-4 fieldLabel">Category</label>
															<div class="col-md-8 col-sm-8">
																<select class="form-control">	
																	<option selected="" disabled="">- Select -</option>
																	<option>Category 1</option>
																	<option>Category 2</option>
																	<option>Category 3</option>
																	<option>Category 4</option>
																</select>
															</div>	
														</div>
														<div class="col-md-4">
															<label class="col-md-4 col-sm-4 fieldLabel">Collection</label>
															<div class="col-md-8 col-sm-8">
																<select class="form-control">	
																	<option selected="" disabled="">- Select -</option>
																	<option>Collection 1</option>
																	<option>Collection 2</option>
																	<option>Collection 3</option>
																	<option>Collection 4</option>
																</select>
															</div>	
														</div>
														<div class="col-md-4">
															<label class="col-md-4 col-sm-4 fieldLabel">Serial No.</label>
															<div class="col-md-8 col-sm-8">
																<input type="text" class="form-control" placeholder="">
															</div>	
														</div>	
														<!--<div class="col-md-4">
															<label class="col-md-4 col-sm-4 fieldLabel">Foam Size</label>
															<div class="col-md-8 col-sm-8">
																<input type="text" class="form-control" placeholder="">
															</div>	
														</div>	
														<div class="col-md-4">
															<label class="col-md-4 col-sm-4 fieldLabel">Matt Size</label>
															<div class="col-md-8 col-sm-8">
																<input type="text" class="form-control" placeholder="">
															</div>	
														</div>	 -->															
												</div>
												
												<div class="row form-group">
													<div class="col-md-4">
														<label class="col-md-4 col-sm-4 fieldLabel">Width</label>
														<div class="col-md-8 col-sm-8">
															<input type="text" class="form-control" placeholder="">
														</div>	
													</div>	
													<div class="col-md-4">
														<label class="col-md-4 col-sm-4 fieldLabel">Height</label>
														<div class="col-md-8 col-sm-8">
															<input type="text" class="form-control" placeholder="">
														</div>	
													</div>	
													<div class="col-md-4">
														<label class="col-md-4 col-sm-4 fieldLabel">Size</label>
														<div class="col-md-8 col-sm-8">
															<label class="orderTypeLabel">300 * 600</label>
														</div>	
													</div>
												</div>
												
												<div class="row form-group">
													<div class="col-md-4">
														<label class="col-md-4 col-sm-4 fieldLabel">Rate</label>
														<div class="col-md-8 col-sm-8">
															<input type="text" class="form-control" placeholder="">
														</div>	
													</div>	
													<div class="col-md-4">
														<label class="col-md-4 col-sm-4 fieldLabel">Available Stock</label>
														<div class="col-md-8 col-sm-8">
															<input type="text" class="form-control" placeholder="">
														</div>	
													</div>	
													<div class="col-md-4">
														<label class="col-md-4 col-sm-4 fieldLabel">Quantity</label>
														<div class="col-md-8 col-sm-8">
															<input type="text" class="form-control" placeholder="">
														</div>	
													</div>													
												</div>
												
												<div class="row form-group">													
													<div class="col-md-4">
														<label class="col-md-4 col-sm-4 fieldLabel">Amount</label>
														<div class="col-md-8 col-sm-8">
															<label class="orderTypeLabel">Rs. 60,000</label>
														</div>	
													</div>
												</div>
												
										  </div>
										</div>
									</div>
									
								</div>
								
							</form>
						
						</div>
					
				</div>
			</div>
		