<p-confirmDialog #cd>
      <p-footer>
            <button type="button" class="btn btn-accent m-btn m-btn--icon" (click)="cd.accept()">
      <span>
      <i class="la la-check"></i>
      <span>
      Yes
      </span>
      </span>
      </button>
            <button type="button" class="btn btn-secondary m-btn m-btn--icon" (click)="cd.reject()">
      <span>
      <i class="la la-close"></i>
      <span>
      No
      </span>
      </span>
      </button>
      </p-footer>
</p-confirmDialog>
<div class="m-subheader">
      <div class="d-flex align-items-center">
            <div class="mr-auto">
                  <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                        <li class="m-nav__item m-nav__item--home">
                              <a href="#" class="m-nav__link m-nav__link--icon">
               <i class="m-nav__link-icon la la-home"></i>
               </a>
                        </li>
                        <li class="m-nav__separator">
                              -
                        </li>
                        <li class="m-nav__item">
                              <a class="m-nav__link">
               <span class="m-nav__link-text">
               Collection
               </span>
               </a>
                        </li>
                  </ul>
            </div>
            <div *ngIf="toggleDiv" class="m-form__actions m-form__actions--solid formTopActionBtnBox">
                  <button type="submit" class="btn btn-accent m-btn m-btn--air m-btn--custom formTopActionBtn" form="collectionForm" [ngClass]="(collectionFormVal && !collectionFormVal.form.valid) ?'cursorNotAllowed':'cursorPointer'"
                        title="{{(collectionFormVal && collectionFormVal.form.valid) ? 'Please fill in all the required fields' :  params ? 'Update' : 'Save'}}"
                        [disabled]="collectionFormVal && !collectionFormVal.form.valid" [isAuthorize]="['collection']" tabindex="7">
         {{ params ? 'Update' : 'Save' }}
         </button>
                  <button class="btn btn-secondary" [isAuthorize]="['collection']" (click)="onCancel()" tabindex="8">
         Cancel
         </button>
            </div>
      </div>
</div>
<!-- END: Subheader -->
<div class="m-content">
      <div class="row">
            <div class="col-lg-12">
                  <!--begin::Portlet-->
                  <div class="m-portlet">
                        <div class="row">
                              <div class="col-md-12" *ngIf="toggleDiv">
                                    <form class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed" role="form" novalidate (ngSubmit)="onSubmit(collectionForm)"
                                          [formGroup]="collectionForm" id="collectionForm">
                                          <div class="formContainerSamePage">
                                                <div class="row">
                                                      <div class="col-md-12">
                                                            <div class="panel panel-default">
                                                                  <div class="panel-heading">Collection Details</div>
                                                                  <div class="panel-body">
                                                                        <div class="form-group">
                                                                              <div class="col-md-4 formContentbox">
                                                                                    <div class="">
                                                                                          <label class="col-md-5 col-sm-5 fieldLabel">Category<span class="requiredField">*</span></label>
                                                                                          <div class="col-md-7 col-sm-7">
                                                                                                <p-dropdown class="feePlanBox" [options]="categoriesCodeList" formControlName="categoryId" required styleClass="{{ collectionForm.get('categoryId').hasError('required') && isFormSubmitted?'red-border-class':''}}"
                                                                                                      [style]="{'width':'100%'}"
                                                                                                      [disabled]="disabled" name="categoriesDDl" filter="true"
                                                                                                      tabindex="1"></p-dropdown>
                                                                                                <!-- <div class="alertMsg" *ngIf="collectionForm.get('categoryId').hasError('required') && collectionForm.get('categoryId ').touched">
													 Please select Category
													 </div> -->
                                                                                          </div>
                                                                                    </div>
                                                                              </div>
                                                                              <div class="col-md-4 formContentbox">
                                                                                    <div class="">
                                                                                          <label class="col-md-5 col-sm-5 fieldLabel">Collection Code<span class="requiredField">*</span></label>
                                                                                          <div class="col-md-7 col-sm-7">
                                                                                                <input type="text" formControlName="collectionCode" required [ngClass]="{'red-border-class': collectionForm.get('collectionCode').hasError('required') && isFormSubmitted}"
                                                                                                      name="collectionCode" class="form-control m-input" filter="true"
                                                                                                      tabindex="2">
                                                                                                <!-- <div class="alertMsg" *ngIf="collectionForm.get('collectionCode').hasError('required') && collectionForm.get('collectionCode').touched">
												 Please enter collection code
												 </div> -->
                                                                                          </div>
                                                                                    </div>
                                                                              </div>
                                                                              <div class="col-md-4 formContentbox">
                                                                                    <div class="">
                                                                                          <label class="col-md-5 col-sm-5 fieldLabel">Name<span class="requiredField">*</span></label>
                                                                                          <div class="col-md-7 col-sm-7">
                                                                                                <input type="text" formControlName="collectionName" required [ngClass]="{'red-border-class': collectionForm.get('collectionName').hasError('required') && isFormSubmitted}"
                                                                                                      name="Name" class="form-control m-input"
                                                                                                      tabindex="3">
                                                                                                <!-- <div class="alertMsg" *ngIf="collectionForm.get('collectionName').hasError('required') && collectionForm.get('collectionName').touched">
													Please enter Name
													</div> -->
                                                                                          </div>
                                                                                    </div>

                                                                              </div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                              <div class="col-md-4 formContentbox">
                                                                                    <div class="">
                                                                                          <label class="fieldLabel col-sm-5">Supplier Code<span class="requiredField">*</span></label>
                                                                                          <div class="col-sm-7">
                                                                                                <p-dropdown class="feePlanBox" [options]="supplierCodeList" required styleClass="{{ collectionForm.get('supplierId').hasError('required') && isFormSubmitted?'red-border-class':''}}"
                                                                                                      formControlName="supplierId"
                                                                                                      required [style]="{'width':'100%'}"
                                                                                                      name="supplierCodeDDl" filter="true" tabindex="4"></p-dropdown>
                                                                                                <!-- <div class="alertMsg" *ngIf="collectionForm.get('supplierId').hasError('required') && collectionForm.get('supplierCode').touched">
												 Please enter supplier Code
												 </div> -->
                                                                                          </div>
                                                                                    </div>
                                                                              </div>
                                                                              <div class="col-md-4 formContentbox">
                                                                                    <div class="">
                                                                                          <label class="fieldLabel col-sm-5">Manufacturer<span class="requiredField">*</span></label>
                                                                                          <div class="col-sm-7">
                                                                                                <input type="text" formControlName="manufacturerName" required [ngClass]="{'red-border-class': collectionForm.get('manufacturerName').hasError('required') && isFormSubmitted}"
                                                                                                      name="manufacturerName" class="form-control m-input"
                                                                                                      tabindex="5">
                                                                                                <!-- <div class="alertMsg" *ngIf="collectionForm.get('manufacturerName').hasError('required') && collectionForm.get('manufacturerName').touched">
                                                Please manufacturer Name
                                                </div> -->
                                                                                          </div>
                                                                                    </div>
                                                                              </div>
                                                                              <div class="col-md-4 formContentbox">
                                                                                    <div class="">
                                                                                          <label class="fieldLabel col-sm-5">Description</label>
                                                                                          <div class="col-sm-7">
                                                                                                <input type="text" class="form-control" formControlName="description" tabindex="6">
                                                                                          </div>
                                                                                    </div>
                                                                              </div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                              <div class="col-md-4 formContentbox">
                                                                                    <div class="">
                                                                                          <label class="fieldLabel col-sm-5">Purchase Discount %<span class="requiredField">*</span></label>
                                                                                          <div class="col-sm-7">
                                                                                                <input OnlyNumber="true" DecimalPlaces="2" minValue="0.01" maxValue="99.99" formControlName="purchaseDiscount" required [ngClass]="{'red-border-class': collectionForm.get('purchaseDiscount').hasError('required') && isFormSubmitted}"
                                                                                                      name="purchaseDiscount" class="form-control m-input"
                                                                                                      tabindex="5">
                                                                                                <!-- <div class="alertMsg" *ngIf="collectionForm.get('manufacturerName').hasError('required') && collectionForm.get('manufacturerName').touched">
                                                Please manufacturer Name
                                                </div> -->
                                                                                          </div>
                                                                                    </div>
                                                                              </div>
                                                                        </div>
                                                                  </div>
                                                            </div>
                                                      </div>
                                                </div>
                                          </div>
                                          <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
                                                <!-- <div class="m-form__actions m-form__actions--solid">
                        <div class="row">
                        	<div class="col-lg-6">
                        		<button type="submit" class="btn btn-accent m-btn m-btn--air m-btn--custom" [ngClass]="collectionForm.invalid ?'cursorNotAllowed':'cursorPointer'" title="{{ collectionForm.invalid ? 'Please fill in all the required fields' :  params ? 'Update' : 'Save'}}" [disabled]="collectionForm.invalid" [isAuthorize]="['collection']">
                        				{{ params ? 'Update' : 'Save' }}
                        		</button>
                        		<button class="btn btn-secondary" [isAuthorize]="['supplier']" (click)="onCancel()">
                        				Cancel
                        		</button>
                        	</div>
                        </div>
                        </div> -->
                                          </div>
                                    </form>
                              </div>
                        </div>
                        <div class="m-portlet__body">
                              <!--begin::Section-->
                              <div class="m-section">
                                    <div class="m-section__content">
                                          <div class="ui-widget-header" style="border-bottom: 0 none">
                                                <i class="fa fa-search searchIcon"></i>
                                                <input #gb type="text" pInputText size="50" placeholder="Search" class="form-control siteSearchbox">
                                                <!-- Add Button -->
                                                <button *ngIf="!toggleDiv" class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--air m-btn--pill btnAddForm" (click)="toggleButton()"
                                                      [isAuthorize]="['collection']">
                        <span>
                        <i class="flaticon-add"></i>
                        <span>
                        Add Collection
                        </span>
                        </span>
                        </button>
                                          </div>
                                          <p-dataTable [value]="collectionList" [emptyMessage]="tableEmptyMesssage" class="table listingTable halfWidthTable" [rows]="pageSize" [globalFilter]="gb"
                                                #dt [lazy]="true" [paginator]="true" [rowsPerPageOptions]="[20,50,100,200,500]"
                                                [totalRecords]="totalCount" (onLazyLoad)="loadLazy($event)">
                                                <p-column field="mstCategory.code" header="Category" [style]="{'text-align':'left'}"></p-column>
                                                <p-column field="collectionCode" header="Code" [style]="{'text-align':'left'}"></p-column>
                                                <p-column field="collectionName" header="Name" [style]="{'text-align':'left'}"></p-column>
                                                <p-column field="mstSupplier.code" header="Supplier Code" [style]="{'text-align':'left'}"></p-column>
                                                <p-column field="manufacturerName" header="Manufacturer" [style]="{'text-align':'left'}"></p-column>
                                                <p-column styleClass="col-button" [style]="{'text-align':'center'}">
                                                      <ng-template pTemplate="header">
                                                            Action
                                                      </ng-template>
                                                      <ng-template let-row="rowData" pTemplate="body">
                                                            <button type="button" pButton (click)="onEditClick(row)" icon="fa fa-pencil" class="editBtn" title="Edit"></button>
                                                            <button type="button" pButton (click)="onDelete(row)" icon="fa fa-trash-o" class="delBtn" title="Delete"></button>
                                                      </ng-template>
                                                </p-column>
                                          </p-dataTable>
                                    </div>
                              </div>
                              <!--end::Section-->
                        </div>
                  </div>
                  <!--end::Portlet-->
            </div>
      </div>
</div>